﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/Purpics_favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/assets/css/common.css")

    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />

    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,800' rel='stylesheet' type='text/css'>

    <style type="text/css">
        input:-webkit-autofill {
            color: #fff !important;
        }
    </style>
    @Styles.Render("~/assets/css/loadingbar.css")
    @RenderSection("header", required: false)
    <script src="~/Scripts/jquery-2.1.4.js" type="text/javascript"></script>

</head>
<body>
    <div id="divLoader" style="display: none;">
        <div style="border: none; z-index: 100010; position: fixed; top: 0px; bottom: 0px; left: 0px; right: 0px; overflow: hidden; padding: 0; margin: 0; background-color: #000; filter: alpha(opacity=40); opacity: 0.20;">
        </div>
    </div>
    <div class="main">
        <div class="container-fluid padding-zero">
            <div class="header col-xs-12">
                <a href="@Url.Action("Index", "Home", new { area = "" })"> <span class="logo"></span></a>
            </div>
        </div>
        <div class="container-fluid padding-zero">
            <div class="col-xs-12 padding-zero main-content">
                <section>
                    @RenderBody()
                </section>
                <!-- END CONTAINER -->
                <!-- BEGIN CONTENT -->
                @*<div class="footer page-footer">
                        <div class="footer-inner" style="float: right;">
                            @DateTime.Now.Year
                            &copy; @Common.Common.ApplicationName(). All rights reserved.
                        </div>
                        <div class="scroll-to-top">
                            <i class="icon-arrow-up"></i>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
    @Scripts.Render("~/Scripts/jquery-2.1.4.min.js")
    @Scripts.Render("~/assets/scripts/jquery.loadingbar.min.js")
    
    <script src="~/Scripts/bootstrap.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/assets/Scripts/scripts.js" type="text/javascript"></script>
    @Scripts.Render("~/Scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")

    @Scripts.Render("~/Scripts/CommonFunctions.js")
    <!-- END PAGE LEVEL SCRIPTS -->
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        var lsLoginUrl = "#";
        jQuery(document).ready(function () {

            $('a[id*=_loader]').click(function () {
                if ($("#loadingbar").length === 0) {
                    $("body").append("<div id='loadingbar'></div>")
                    $("#divLoader").css("display", "block");
                    $("#loadingbar").addClass("waiting").append($("<dt/><dd/>"));
                    $("#loadingbar").width((50 + Math.random() * 30) + "%");
                }
            });

            $('input[name="password"]').attr('autocomplete', 'off');
            $(document).ajaxError(
               function (event, jqXHR, ajaxSettings, thrownError) {
                   if (jqXHR.status == '403') {
                   }
                   else if (jqXHR.status == '401') {

                   }
               });

            $.ajaxSetup({
                beforeSend: function () {
                    debugger
                    if ($("#loadingbar").length === 0) {
                        $("body").append("<div id='loadingbar'></div>")
                        $("#divLoader").css("display", "block");
                        $("#loadingbar").addClass("waiting").append($("<dt/><dd/>"));
                        $("#loadingbar").width((50 + Math.random() * 30) + "%");
                    }
                },
                complete: function () {
                    $("#loadingbar").width("101%").delay(200).fadeOut(400, function () {
                        $(this).remove();
                        $("#divLoader").css("display", "none");
                    });
                }
            });
        });
        function openWinInFullScreen() {
            $(document).fullScreen(true);
        }
    </script>
</body>
</html>
