﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/Purpics_favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/assets/css/common.css")

    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,800' rel='stylesheet' type='text/css'>

    <style type="text/css">
        input:-webkit-autofill {
            color: #fff !important;
        }
    </style>
    @Styles.Render("~/assets/css/loadingbar.css")
    @RenderSection("header", required: false)
    <script src="~/Scripts/jquery-2.1.4.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/assets/Scripts/scripts.js" type="text/javascript"></script>

</head>
<body>
    <div id="divLoader" style="display: none;">
        <div style="border: none; z-index: 100010; position: fixed; top: 0px; bottom: 0px; left: 0px; right: 0px; overflow: hidden; padding: 0; margin: 0; background-color: #000; filter: alpha(opacity=40); opacity: 0.20;">
        </div>
    </div>
    <div class="main">
        <div class="container-fluid padding-zero">
            <div class="header col-xs-12">
                @if (Request.IsAuthenticated)
                {
                    <a href="@Url.Action("", "ManageDashboard", new { area = "StudentOrganization" })" title="Dashboard"> <span class="logo"></span></a>
                    <span class="welcome">Welcome, <strong>@User.Identity.GetUserName() !</strong></span>
                    <span class="logout">
                        @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                            <a id="lnklogout_loader" href="javascript:document.getElementById('logoutForm').submit()" title="Logout"><i class="fa fa-sign-out"></i>Logout</a>
                        }
                    </span>
                }
                else
                {
                    <a href="@Url.Action("Index", "Home", new { area = "" })" title="Dashboard"> <span class="logo"></span></a>
                }

            </div>
        </div>
        <div class="container-fluid padding-zero">
            <div class="col-xs-12 padding-zero main-content">
                @if (Request.IsAuthenticated)
                {
                    <div class="col-md-3 col-sm-4 col-xs-12 dashboard-menu padding-zero" style="min-height:800px;">

                        <div class="menu-inner padding-zero col-xs-12 menu-item">

                            <a id="A1" href="@Url.Action("", "ManageDashboard", new { area = "StudentOrganization" })" class="col-xs-12 menu1" title="Dashboard"><i class="fa fa-th-large"></i>Dashboard</a>
                            <a id="A2" href="@Url.Action("", "ManageCampaign", new { area = "StudentOrganization" })" class="col-xs-12 menu1" title="Campaigns"><i class="fa fa-bookmark"></i>Campaigns</a>
                            <a id="A3" href="@Url.RouteUrl("StudentOrganization_default", new { controller = "AccountInformation", action = "Index" })" class="col-xs-12 menu1" title="Account Information"><i class="fa fa-user"></i>Account Information</a>
                        </div>
                    </div>
                }
                <section>
                    @RenderBody()
                    <div class="modal fade" tabindex="-1" role="dialog" id="modelAlertMessages">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size:larger;">&times;</span></button>
                                    <h4 class="modal-title">Alert</h4>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        @Html.Label("alertcmmessages", new { @id = "lblAlertMsgs" })
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-addnew" data-dismiss="modal" aria-label="Close">Ok</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div>
                </section>
                <!-- END CONTAINER -->
                <!-- BEGIN CONTENT -->
                @*<div class="footer page-footer">
                        <div class="footer-inner" style="float: right;">
                            @DateTime.Now.Year
                            &copy; @Common.Common.ApplicationName(). All rights reserved.
                        </div>
                        <div class="scroll-to-top">
                            <i class="icon-arrow-up"></i>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/assets/scripts/jquery.loadingbar.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
    @Scripts.Render("~/Scripts/CommonFunctions.js")
    <!-- END PAGE LEVEL SCRIPTS -->
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        var lsLoginUrl = "#";
        jQuery(document).ready(function () {

            $('a[id*=_loader]').click(function () {
                if ($("#loadingbar").length === 0) {
                    $("body").append("<div id='loadingbar'></div>")
                    $("#divLoader").css("display", "block");
                    $("#loadingbar").addClass("waiting").append($("<dt/><dd/>"));
                    $("#loadingbar").width((50 + Math.random() * 30) + "%");
                }
            });

            $('input[name="password"]').attr('autocomplete', 'off');
            $(document).ajaxError(
               function (event, jqXHR, ajaxSettings, thrownError) {
                   if (jqXHR.status == '403') {
                   }
                   else if (jqXHR.status == '401') {

                   }
               });

            $.ajaxSetup({
                beforeSend: function () {

                    if ($("#loadingbar").length === 0) {
                        $("body").append("<div id='loadingbar'></div>")
                        $("#divLoader").css("display", "block");
                        $("#loadingbar").addClass("waiting").append($("<dt/><dd/>"));
                        $("#loadingbar").width((50 + Math.random() * 30) + "%");
                    }
                },
                complete: function () {
                    $("#loadingbar").width("101%").delay(200).fadeOut(400, function () {
                        $(this).remove();
                        $("#divLoader").css("display", "none");
                    });
                }
            });
        });

        window.onload = function () {
            var tabID = $("#ActiveMenu").text();
            $(".menu1").each(function (index) {
                var menuSelected = $(this).attr("id");
                $(this).parent().removeClass("open active");
                if (String(tabID).toLowerCase() == String(menuSelected).toLowerCase()) {
                    $(this).parent().addClass("open active");
                    $(this).append("<span class='selected'></span>")
                }
            });
        }

        function openWinInFullScreen() {
            $(document).fullScreen(true);
        }
    </script>

</body>
</html>
