﻿@model PurpicsWeb.Areas.Admin.ViewModels.Campaign.CampaignViewModel
<div class="col-xs-12 main-title agree">
    <h1 class="pull-left">Campaign ID: @Model.Id</h1>
    <span class="pull-right">
        Status:
        @Html.Hidden("hdnId", @Model.Id)
        @if (@Model.Status == 1)
        {
            <strong>Waiting for approval</strong>
        }
        else if (@Model.Status == 2)
        {
            <strong>Active</strong>
        }
        else
        {
            <strong>Decline</strong>
        }
    </span>
</div>
<div class="col-xs-12 box-main">
    <div class="boxes box box1">
        <span class="digits col-xs-12">-</span>
        <span class="texts col-xs-12">Impressions</span>
    </div>
    <div class="boxes box box2">
        <span class="digits col-xs-12">@Model.TotalVolunteers</span>
        <span class="texts col-xs-12">Volunteers</span>
    </div>
    <div class="boxes box box3">
        <span class="digits col-xs-12">@Model.TotalLikes</span>
        <span class="texts col-xs-12">Total Likes</span>
    </div>
    <div class="boxes box box4 last">
        <span class="digits col-xs-12">@Model.CouponCode</span>
        <span class="texts col-xs-12">Converstion Rate</span>
    </div>
</div>
<div class="col-xs-12">
    <div class="col-xs-12 col-sm-6 padding-zero">
        <span class="active-span">Charity:</span>
        <span class="bold-span active-span">@Model.Charity</span>
    </div>
    <div class="col-xs-12 col-sm-6 padding-zero">
        @Html.Hidden("hdnId", @Model.Id)
        <span class="active-span">Package:</span>
        <span class="bold-span active-span">$@Model.PackagePrice for @Model.PackageLikes Likes</span>
    </div>
</div>
<div class="col-xs-12">
    <hr />
</div>
<div class="col-xs-12">
    <span class="active-span">Volunteers:</span>
</div>
@if (Model != null && Model.loVolunteerList != null && Model.loVolunteerList.Count > 0)
{
    <div class="table-responsive col-xs-12 dash-table">
        <table class="table table-bordered">
            <tr class="heading">
                @Html.Hidden("hdnPageIndex", 1)
                <th>User Id</th>
                <th>Volunteer Name</th>
                <th>ZipCode</th>
                <th>Likes</th>
            </tr>
            @foreach (var pac in Model.loVolunteerList)
            {
                <tr onclick="location.href = '@(Url.Action("CampaignDetail", "ManageCampaign", new { fiCampaignId = pac.Id }))'">
                    <td>@pac.Id</td>
                    <td>@pac.Name</td>
                    <td>@pac.ZipCode</td>
                    <td>@pac.Likes</td>
                </tr>
            }
        </table>
    </div>
    if (Model.Status == 1)
    {
        <div class="col-xs-12 bank-info">
            <div class="form-group pull-right agree bank">
                <button type="submit" class="btn btn-default btn-lg active" onclick="approveCampaign(); return false;">Approve</button>
                <button type="submit" class="btn btn-default btn-lg active prev" onclick="declineCampaignStatus(); return false;">Decline</button>
            </div>
        </div>
    }
}
else
{
    <div id="divItemListNoRecord" class="alert alert-warning" align="center">
        <h4><i class="fa fa-warning"></i> No Record Found </h4>
    </div>
}



