﻿@model PurpicsWeb.Areas.Admin.ViewModels.Campaign.CampaignViewModel
@if (Model != null && Model.loVolunteerList != null && Model.loVolunteerList.Count > 0)
{
    <div class="table-responsive col-xs-12 dash-table">
        <table class="table table-bordered">
            <tr class="heading">
                @Html.Hidden("hdnVolPageIndex", Model.inPageIndex)
                <th>User Id</th>
                <th>Volunteer Name</th>
                <th>ZipCode</th>
                <th>Likes</th>
            </tr>
            @foreach (var pac in Model.loVolunteerList)
            {
                <tr>
                    <td>@pac.Id</td>
                    <td>
                        <a title="Volunteer Details" href="@(Url.Action("VolunteerDetails", "ManageVolunteer", new { fiVolunteerId = pac.Id }))">@pac.Name</a>
                    </td>
                    <td>@pac.ZipCode</td>
                    <td>@pac.Likes</td>
                </tr>
            }
        </table>
    </div>
    if (Model.TotalVolunteers > 10)
    {
        <div class="col-xs-12 showing">
            <span>
                Page @(Model.inPageIndex) out of
                @((Model.TotalVolunteers + 10 - 1) / 10)
            </span>
            <div class="pull-right">
                @Html.Hidden("hdnTotalVolRec", @Model.TotalVolunteers)
                <div id="divPager"></div>
            </div>
        </div>
    }
}
else
{
    <div class="col-xs-12">
        <div id="divItemListNoRecord" class="alert alert-warning" align="center">
            <h4><i class="fa fa-warning"></i> No Record Found </h4>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        GetPager($("#hdnTotalVolRec").val(), $("#hdnVolPageIndex").val());
    });
</script>
