﻿@model PurpicsWeb.Areas.Admin.ViewModels.Campaign.CampaignViewModel

<div class="col-xs-12 ">

    <div class="col-sm-8 control-label wordwrap padding-zero" style="font-size:17px;">
        @Model.CampaignName
    </div>

    @Html.Hidden("hdnId", @Model.Id)
    <span class="pull-right">
        Status:
        @if (@Model.Status == (int)PurpicsWeb.Services.CommonFunctions.CommonEnums.UserStatus.Pending)
        {
            <strong>Waiting For Approval</strong>
        }
        else if (@Model.Status == (int)PurpicsWeb.Services.CommonFunctions.CommonEnums.UserStatus.Approved)
        {
            <strong>Approved</strong>
        }
        else
        {
            <strong>Declined</strong>
        }
    </span>
</div>
@if (TempData["SuccessMsg"] != null && TempData["SuccessMsg"].ToString() != "")
{
    <hr style="border-color:#F7F7F7 !important;" />
    <div class="alert alert-success col-xs-12" style="height:30px; padding:4px !important; margin-bottom:0px !important; margin-top:10px;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <span style="vertical-align:middle;"> @TempData["SuccessMsg"].ToString()</span>

        @{TempData["SuccessMsg"] = "";}
    </div>
}
@if (TempData["ErrorMsg"] != null && TempData["ErrorMsg"].ToString() != "")
{
    <div class="alert alert-danger col-xs-12" style="height:30px; padding:4px !important; margin-bottom:0px !important; margin-top:10px;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @TempData["ErrorMsg"].ToString()
    </div>
}
<form action="#" class="form-horizontal form-bordered">
    <div class="col-xs-12 account-main">
        <div class="col-xs-12 box-main" style="margin-left: -15px">

            <div class="boxes box box2">
                <span class="digits col-xs-12">@Model.TotalVolunteers</span>
                <span class="texts col-xs-12">Volunteers</span>
            </div>
            <div class="boxes box box3">
                <span class="digits col-xs-12">@Model.TotalLikes</span>
                <span class="texts col-xs-12">Total Likes</span>
            </div>
            <div class="boxes box box4">
                <span class="digits col-xs-12">@Model.CouponCode</span>
                <span class="texts col-xs-12">Converstion Rate</span>
            </div>
            <div class="boxes box box1 last">
                @if (Model.CouponCode != null && Model.CouponCode != "N/A")
                {
                    <span class="digits col-xs-12">@Model.RedeemedCoupons / @Model.TotalCoupons</span>
                }
                else
                {
                    <span class="digits col-xs-12">N/A</span>
                }
                <span class="texts col-xs-12">Redeemed / Total Coupons</span>
            </div>
        </div>

        <div class="compaigns-form form-horizontal left col-xs-12" style="min-height:426px !important;">
            <div class="col-xs-12 padding-zero">
                <div class="form-group">
                    <label class="col-xs-12 control-label info">General Information:</label>
                </div>
                <div class="form-group wordwrap">
                    <label class="col-sm-4 control-label">Company:</label>
                    <div class="col-sm-8 control-label">
                        <span>@Model.Company</span>
                    </div>
                </div>
                @*<div class="form-group wordwrap">
                    <label class="col-sm-4 control-label">Charity:</label>
                    <div class="col-sm-8 control-label">
                        <span>@Model.Charity</span>
                    </div>
                </div>*@
                <div class="form-group wordwrap">
                    <label class="col-sm-4 control-label">Student Organization:</label>
                    <div class="col-sm-8 control-label">
                        <span>@Model.StudentOrganizationName</span>
                    </div>
                </div>
                <div class="form-group wordwrap">
                    <label class="col-sm-4 control-label">Caption:</label>
                    <div class="col-sm-8 control-label">
                        <span>@Model.Caption</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="compaigns-form form-horizontal right pull-right col-xs-12" style="min-height:426px !important;">
            <div class="col-xs-12 padding-zero">
                <div class="form-group">
                    <label class="col-xs-12 control-label info">Other Information:</label>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Expiration Date:</label>
                    <div class="col-sm-8 control-label">
                        <span>@Convert.ToDateTime(Model.ExpirationDate).ToString("MM/dd/yyyy")</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Package:</label>
                    <div class="col-sm-8 control-label">
                        <span>@Model.PackageName</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Package Likes:</label>
                    <div class="col-sm-8 control-label">
                        <span>@Model.PackageLikes</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Package Price:</label>
                    <div class="col-sm-8 control-label">
                        <span>@Model.PackagePrice</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Campaign Image:</label>
                    <div class="col-sm-8 fileimage control-label">
                        <div class="fallback phone3">
                            @{
                                string imagename = string.Empty;
                                if (!string.IsNullOrEmpty(@Model.ImageFile))
                                {
                                    imagename = @Model.ImageFile;
                                }
                                else
                                {
                                    imagename = "NoPhoto.jpg";
                                }
                            }
                            <img src="@Href(@System.Configuration.ConfigurationManager.AppSettings["CampaignImagePath"] + @imagename)" id="upimg">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12">
            @*<div class="col-xs-12 col-sm-6 padding-zero">
                <span class="active-span">Charity:</span>
                <span class="bold-span active-span wrapcontent" style="max-width:395px !important;">@Model.Charity</span>
            </div>*@
            <div class="col-xs-12 col-sm-6 padding-zero">
                <span class="active-span">Student Organization:</span>
                <span class="bold-span active-span wrapcontent" style="max-width:395px !important;">@Model.StudentOrganizationName</span>
            </div>
            <div class="col-xs-12 col-sm-6 padding-zero">
                @Html.Hidden("hdnId", @Model.Id)
                <span class="active-span">Package:</span>
                <span class="bold-span active-span">$@Model.PackagePrice for @Model.PackageLikes Likes</span>
            </div>
        </div>
        <div class="col-xs-12">
            <hr />
        </div>
        <div class="col-xs-12">
            <span class="active-span">Volunteers:</span>
        </div>
        <div id="campaignVolunteerlist">
            @Html.Partial("_CampaignVolunteer", Model)
        </div>
        @if (Model.Status == 1)
        {
            <div class="col-xs-12 padding-zero bank-info">
                <div class="form-group pull-right agree bank">
                    <button type="submit" class="btn btn-default btn-lg active" onclick="approveCampaign(); return false;" title="Approve">Approve</button>
                    <button type="submit" class="btn btn-default btn-lg active prev" onclick="confirmDecline(); return false;" title="Decline">Decline</button>

                </div>
            </div>
            <div class="modal fade" tabindex="-1" role="dialog" id="modelDeleteCard">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size:larger;">&times;</span></button>
                            <h4 class="modal-title">Confirmation</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to decline this campaign?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-addnew" onclick="DeleteCardClick();">Yes</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>

            <script>

                function confirmDecline() {

                    jQuery.noConflict();
                    (function ($) {
                        $('#modelDeleteCard').modal('show');
                    }
                    )(jQuery);
                }
                function DeleteCardClick() {
                    jQuery.noConflict();
                    (function ($) {
                        $('#modelDeleteCard').modal('hide');
                    }
                    )(jQuery);
                    if ($("#loadingbar").length === 0) {
                        $("body").append("<div id='loadingbar'></div>")
                        $("#divLoader").css("display", "block");
                        $("#loadingbar").addClass("waiting").append($("<dt/><dd/>"));
                        $("#loadingbar").width((50 + Math.random() * 30) + "%");
                    }
                    declineCampaignStatus();
                    $("#loadingbar").width("101%").delay(200).fadeOut(400, function () {
                        $(this).remove();
                        $("#divLoader").css("display", "none");
                    });
                }
            </script>
        }
    </div>
</form>
