﻿@model PurpicsWeb.Areas.Admin.ViewModels.Campaign.CampaignModel

@if (Model != null && Model.loCampaignList.Count > 0)
{
    <div class="table-responsive col-xs-12 dash-table">
        <table class="table table-bordered wordwrap">
            <tr class="heading">
                @Html.Hidden("hdnPageIndex", Model.inPageIndex)
                <th id="sortId" onclick="getOrderbyCampaignList('Id', 'sortId');" class="sorting">Ref Id&nbsp;</th>
                <th id="sortLegalCampaignName" onclick="getOrderbyCampaignList('CampaignName', 'sortLegalCampaignName');" class="sorting">Campaign Name</th>
                <th id="sortCompany" onclick="getOrderbyCampaignList('Company', 'sortCompany');" class="sorting">Company</th>
                @*<th id="sortCharity" onclick="getOrderbyCampaignList('Charity', 'sortCharity');" class="sorting">Charity</th>*@
                <th id="sortStudentOrganization" onclick="getOrderbyCampaignList('StudentOrganization', 'sortStudentOrganization');" class="sorting">Student<br/> Organization</th>
                <th id="sortStatus" onclick="getOrderbyCampaignList('Status', 'sortStatus');" class="sorting">Status</th>
                <th>Likes</th>
                <th>Featured<br /> Campaign</th>
            </tr>
            @foreach (var pac in Model.loCampaignList)
            {
                @*<tr style="cursor:pointer" onclick="location.href = '@(Url.Action("CampaignDetail", "ManageCampaigns", new { fiCampaignId = pac.Id }))'">*@
                <tr>
                    <td>@pac.Id</td>
                    <td><a href="@(Url.Action("CampaignDetail", "ManageCampaigns", new { fiCampaignId = pac.Id }))" title="Campaign Details" class="wrapcontent">@pac.CampaignName</a></td>
                    <td><a href="@(Url.Action("CompanyDetail", "ManageCompany", new { fiCompanyId = pac.CompanyID }))" title="Company Details" class="wrapcontent">@pac.Company</a></td>
                    @*<td><a href="@(Url.Action("CharityDetail", "ManageCharity", new { fiCharityId = pac.CharityID }))" title="Charity Details" class="wrapcontent">@pac.Charity</a></td>*@
                    <td><a href="@(Url.Action("StudentOrganizationDetail", "ManageStudentOrganization", new { fiSOId = pac.StudentOrganizationId }))" title="Student Organization Details" class="wrapcontent">@pac.StudentOrganizationName</a></td>
                    <td>
                        @if (@pac.CampaignStatusID == (int)PurpicsWeb.Services.CommonFunctions.CommonEnums.UserStatus.Pending)
                        {
                            <span>Waiting For Approval</span>
                        }
                        else if (@pac.CampaignStatusID == (int)PurpicsWeb.Services.CommonFunctions.CommonEnums.UserStatus.Approved)
                        {
                            <span>Approved</span>
                        }
                        else
                        {
                            <span>Declined</span>
                        }
                    </td>
                    <td>@pac.Likes</td>
                    <td>
                        @if (@pac.IsFeaturedCampaign)
                        {
                            @Html.CheckBoxFor(m => pac.IsFeaturedCampaign, new { @id = "IsFeaturedCampaign_" + pac.Id, @name = "IsFeaturedCampaign_" + pac.Id, @checked = "checked", @onchange = "confirmStatusChange(" + "'" + @pac.Id + "')" })
                        }
                        else
                        {
                            @Html.CheckBoxFor(m => pac.IsFeaturedCampaign, new { @id = "IsFeaturedCampaign_" + pac.Id, @name = "IsFeaturedCampaign_" + pac.Id, @onchange = "confirmStatusChange(" + "'" + @pac.Id + "')" })
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    if (@Model.inRecordCount > 10)
    {
        <div class="col-xs-12 showing">
            <span>
                Page @(Model.inPageIndex) out of
                @((Model.inRecordCount + 10 - 1) / 10)
            </span>
            <div class="pull-right">
                @Html.Hidden("hdnTotalRec", @Model.inRecordCount)
                <div id="divPager"></div>
            </div>
        </div>
    }
}
else
{
    <div id="divItemListNoRecord" class="alert alert-warning" align="center">
        <h4><i class="fa fa-warning"></i> No Record Found </h4>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        GetPager($("#hdnTotalRec").val(), $("#hdnPageIndex").val());
    });

    function cancelUpdate() {
        var chkStatus = $("#IsFeaturedCampaign_" + RowId);
        if (chkStatus.is(':checked')) {
            $(chkStatus).prop('checked', false);

        }
        else {
            $(chkStatus).prop('checked', true);
        }
    }
</script>
