﻿@model PurpicsWeb.Areas.Admin.ViewModels.Campaign.CampaignViewModel
@{
    ViewBag.Title = "Campaign Detail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section>
    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-xs-12 breadcrumbs">
            <a href="@Url.RouteUrl("Admin_default", new { action = "", controller = "AdminDashBoard" })" title="Home/Dashboard">Home</a><i class="fa fa-angle-right"></i>
            <span>Campaign Detail</span>
            @*<a href="@Url.RouteUrl("Admin_default", new { action = "", controller = "ManageCampaigns" })" style="color:white; text-decoration:none; background-color:#EB6F25;" class="btn btn-default create pull-right" title="Back"><i class="fa fa-angle-left"></i>Back</a>*@
            <a href="@Request.UrlReferrer" style="color:white; text-decoration:none; background-color:#EB6F25;" class="btn btn-default create pull-right" title="Back"><i class="fa fa-angle-left"></i>Back</a>
            
        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>
        <div id="divDetails">
            @Html.Partial("_CampaignDetail", Model)
        </div>
        <!-- END TAB PORTLET-->
    </div>
    <script type="text/javascript">
    var lsUpdateCampaign = '@Url.RouteUrl("Admin_default", new { controller = "ManageCampaigns", action = "approveCampaignStatus" })';
    var lsDeclineCampaign = '@Url.RouteUrl("Admin_default", new { controller = "ManageCampaigns", action = "declineCampaignStatus" })';
        var lsGetVolunteers = '@Url.RouteUrl("Admin_default", new { controller = "ManageCampaigns", action = "getVolunteerList" })';
    </script>
    <!-- END PAGE CONTENT BODY -->
    <!-- END CONTENT BODY -->
    <script src="@Url.Content("~/Areas/Admin/assets/scripts/CampaignDetails.js?ver=1.3")" type="text/javascript"></script>

</section>
<script>
    $(document).ready(function () {
        $(".menu-item a").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#A2').addClass('active');
    });
</script>
