﻿@model PurpicsWeb.Areas.Admin.ViewModels.Campaign.CampaignModel
@{
    ViewBag.Title = "Manage Campaigns";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<section>
    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-xs-12 breadcrumbs">
            <a href="@Url.RouteUrl("Admin_default", new { action = "", controller = "AdminDashBoard" })" title="Home/Dashboard">Home</a><i class="fa fa-angle-right"></i>
            <span>Campaigns</span>
        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>
        <div class="col-xs-12 main-title agree">
            <h1 class="pull-left">Campaigns</h1>
        </div>
        <div class="">
            <form action="#" class="form-horizontal form-bordered">
                <div class="col-md-12 searcharea">
                    <div class="col-md-7">
                        <div class="form-group" style="float:right;">
                            @Html.DropDownList("dropStatus", new List<SelectListItem>()
                                                {
                                                    new SelectListItem() { Text= "Waiting For Approval", Value = "1" },
                                                    new SelectListItem() { Text= "Approved", Value = "2" },
                                                    new SelectListItem() { Text= "Declined", Value = "3" }
                                                }, "Select Status", new { @class = "form-control", style = "width: 250px;", @onchange = "statusSearch(this.value)" })

                        </div>
                    </div>
                    <div class="col-md-4 col-xs-8" style="padding-right:0px;">
                        <div class="usersearch">
                            <input type="text" class="form-control" id="txtSearch" maxlength="100" placeholder="Search by campaign name ..." onkeypress="userSearch(event);">
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-2" style="padding-left:10px;">
                        <button type="button" id="btnSearch" class="btn" style="background-color:#ee7a34;" title="Search" onclick="search();">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="companylist">
            @Html.Partial("_ManageCampaigns", Model)
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modelChangeStatus" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size:larger;">&times;</span></button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to mark campaign as featured?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-black" onclick="changeStatus();">Yes</button>
                    <button type="button" class="btn btn-black" onclick="cancelUpdate();" data-dismiss="modal">Cancel</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modelChangeStatusUnFeatured" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size:larger;">&times;</span></button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to mark campaign as un-featured?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-black" onclick="changeStatus();">Yes</button>
                    <button type="button" class="btn btn-black" onclick="cancelUpdate();" data-dismiss="modal">Cancel</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    @Html.Hidden("hdnOrder", "Id ASC")
    @Html.Hidden("hdnSortingOnColumn", "sortId")
    @Html.Hidden("hdnSortingDirection", "ASC")
    @Html.Hidden("hdnStatus", "0")
    <script type="text/javascript">
        var lsgetCompanyList = '@Url.RouteUrl("Admin_default", new { controller = "ManageCampaigns", action = "searchCampaign" })';
        var changeFeaturedCampaign = '@Url.RouteUrl("Admin_default", new { controller = "ManageCampaigns", action = "changeFeaturedCampaign" })';

    </script>
    <script src="@Url.Content("~/Areas/Admin/assets/scripts/Campaign.js?ver=1.7")" type="text/javascript"></script>
</section>

<script>
    $(document).ready(function () {
        $(".menu-item a").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#A2').addClass('active');
    });
</script>

