﻿@model PurpicsWeb.Areas.Company.Models.Charity.CharityViewModel
@{
    ViewBag.Title = "Charity Details";
    Layout = "~/Areas/Company/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-xs-12 breadcrumbs">
            <a href="@Url.Action("", "ManageDashboard", new { area = "Company" })" title="Home">Home</a><i class="fa fa-angle-right"></i>
            <span>Charity Details</span>
            
        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>
        @if (@Model.ShowBackButton == true)
        {
            <div class="col-xs-12 agree">
                @if (@Model.IsManageDashboard == false)
                {
                    <a href="@Url.Action("ManageCampaign", "Campaign", new { area = "Company", @CurrpageIndex = ViewBag.Currentpageindex })" style="color:white; text-decoration:none;padding: 5px 20px;" title="Back" class="btn btn-default create pull-right"><i class="fa fa-angle-left"></i>Back</a>
                }
                else
                {
                    <a href="@Url.Action("", "ManageDashboard", new { area = "Company", @CurrpageIndex = ViewBag.Currentpageindex })" style="color:white; text-decoration:none;padding: 5px 20px;" title="Back" class="btn btn-default create pull-right"><i class="fa fa-angle-left"></i>Back</a>
                }

            </div>
        }
        
        <div id="divDetails">
            @Html.Partial("_CharityDetail", Model)
        </div>
    </div>
       

</section>

<script>
    $(document).ready(function () {
        $(".menu-item a").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#A2').addClass('active');
    });
</script>