﻿@model PurpicsWeb.Areas.Charity.Models.AccountInformation
@{
    ViewBag.Title = "Account Information";
    Layout = "~/Areas/Charity/Views/Shared/_CharityLayout.cshtml";
}

<style>
    .account-main .compaigns-form {
        height: 100% !important;
    }

    .compaigns-form form-horizontal left col-xs-12 {
        height: 100% !important;
    }
</style>

@using (Html.BeginForm("EditAccountInformation", "AccountInformation", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-xs-12 breadcrumbs">
            <a href="@Url.Action("", "ManageDashboard", new { area = "Charity" })" title="Home">Home</a><i class="fa fa-angle-right"></i>
            <span>Account Information</span>
        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>
        <div class="col-xs-12 main-title">
            <h1 class="pull-left">Account Information</h1>
            <span class="pull-right">Status: <strong>@Html.DisplayFor(m => m.Status)</strong></span>
        </div>
        <div class="col-xs-12 account-main">
            <div class="compaigns-form form-horizontal left col-xs-12" id="divGeneralInfo">
                <div class="col-xs-12 padding-zero">
                    <div class="form-group">
                        <label class="col-sm-8 control-label info">General Information:</label>
                        <div class="col-sm-4 control-label agree">
                            @Html.ActionLink("Edit", "EditAccountInformation", "AccountInformation", new { CharityId = @Model.CharityId }, new { @class = "btn btn-default active pull-right", @title = "Edit Account Information", @id= "lnkEditAccountInfo_loader" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Username:</label>
                        <div class="col-sm-8 control-label" style="overflow-wrap: break-word;">
                            <span>@Html.DisplayFor(m => m.EmailAddress)</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Password:</label>
                        <div class="col-sm-8 control-label">
                            @*<span><a href="@Url.RouteUrl("Default", new { controller="Manage" , action="ChangePassword" })" title="Change Password">Change Password</a></span>*@
                            <span>********</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Contact Name:</label>
                        <div class="col-sm-8 control-label wrapcontent" style="overflow-wrap: break-word;">
                            <span>@Html.DisplayFor(m => m.ContactName, new { @class = "form-control" })</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Contact Phone:</label>
                        <div class="col-sm-8 control-label">
                            <span>@Html.DisplayFor(m => m.PhoneNumber, new { @class = "form-control", @maxlength = "12" })</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">About Charity:</label>
                        <div class="col-sm-8 control-label wrapcontent" style="overflow-wrap: break-word;">
                            <span>
                                @Html.DisplayFor(m => m.AboutCharity, new { @class = "form-control" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="compaigns-form form-horizontal right pull-right col-xs-12" id="divOtherInfo">
                <div class="col-xs-12 padding-zero">
                    <div class="form-group">
                        <label class="col-sm-8 control-label info">Other Information:</label>
                        <div class="col-sm-4 control-label">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Legal Entity Name:</label>
                        <div class="col-sm-8 control-label wrapcontent" style="overflow-wrap: break-word;">
                            <span>@Html.DisplayFor(m => m.LegalEntityName, new { @class = "form-control" })</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">501-C3 Number:</label>
                        <div class="col-sm-8 control-label wrapcontent" style="overflow-wrap: break-word;">
                            <span>@Html.DisplayFor(m => m.Number501_C3, new { @class = "form-control" })</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Charity Name:</label>
                        <div class="col-sm-8 control-label wrapcontent" style="overflow-wrap: break-word;">
                            <span>@Html.DisplayFor(m => m.CharityName, new { @class = "form-control" })</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Charity Logo:</label>
                        <div class="col-sm-8 control-label">
                            <span><img src="@Model.CharityLogoFullPath" id="imgCharityLogo" width="100" height="100" /></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Charity Address:</label>
                        <div class="col-sm-8 control-label wrapcontent" style="overflow-wrap: break-word;">
                            <span>@Html.DisplayFor(m => m.Address), @Html.DisplayFor(m => m.City, new { @class = "form-control" }), @Html.DisplayFor(m => m.State) @Html.DisplayFor(m => m.Zip)</span>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Category:</label>
                        <div class="col-sm-8 control-label">
                            <span>@Html.DisplayFor(m => m.CategoryName, new { @class = "form-control" })</span>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-xs-12 padding-zero bank-info">
                <div class="form-group pull-right agree bank">
                    <label class="info">Bank Information</label>
                    @Html.ActionLink("View", "ManageBilling", "Billing", new { token = @Model.CreditCardDetails.Token }, new { @class = "btn btn-default active", @title = "View Bank Information" })
                </div>
            </div>*@
            @*@if (@Model.CreditCardDetails != null && !string.IsNullOrEmpty(Model.CreditCardDetails.Token))
            {

                <div class="col-xs-12 padding-zero bank-info">
                    <div class="form-group pull-right agree bank">
                        <label class="info">Bank Information</label>
                        
                        @Html.ActionLink("Edit", "AddEditCreditCard", "Payment", new { token = @Model.CreditCardDetails.Token }, new { @class = "btn btn-default active", @title = "Edit Bank Information" })
                        &nbsp; <a onclick="javascript: return ConfirmDelete();" href="@Url.RouteUrl("Default", new { controller="Charity/Payment" , action="DeleteCreditCard" , token=@Model.CreditCardDetails.Token, chrityid=@Model.CharityId })" class="btn btn-default btn-lg active prev" title="Delete Bank Information"><i class=" fa fa-trash"></i> Delete</a>
                    </div>
                </div>
                <div class="row">
                    @Html.Partial("~/Areas/Charity/Views/Payment/_CreditCardDetails.cshtml", Model)
                </div>
            }
            else
            {
                <div class="col-xs-12 padding-zero bank-info">
                    <div class="form-group pull-right agree bank">
                        <label class="info">Bank Information</label>
                        @Html.ActionLink("Add", "Step2", "Payment", new { CharityId = @Model.CharityId, fromAccountInfo = true }, new { @class = "btn btn-default active", @title = "Add Bank Information" })
                    </div>
                </div>
            }*@
            @*<button type="submit" class="btn btn-default btn-lg active">View</button>
        <button type="submit" class="btn btn-default btn-lg active prev">Edit</button>*@
        </div>

    </div>
}

<script src="~/Areas/Charity/Scripts/Payment.js"></script>


<script>
    $(document).ready(function () {
        $(".menu-item a").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#A3').addClass('active');
        
        var height = $('.account-main').height();       
        
        $("#divGeneralInfo").css("cssText", "height: " + height + "px !important;");
        $("#divOtherInfo").css("cssText", "height: " + height + "px !important;");

    });

    

</script>
