﻿@model PurpicsWeb.Areas.Company.Models.AccountInformation
@{
    ViewBag.Title = "Account Information";
    Layout = "~/Areas/Company/Views/Shared/_Layout.cshtml";
}

<style>
     .account-main .compaigns-form {
        height: 100% !important;
    }

    .compaigns-form form-horizontal left col-xs-12 {
        height: 100% !important;
    }

</style>

@using (Html.BeginForm("EditAccountInformation", "AccountInformation", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-xs-12 breadcrumbs">
            <a href="@Url.Action("", "ManageDashboard", new { area = "Company" })" title="Home">Home</a><i class="fa fa-angle-right"></i>
            <span>Account Information</span>
        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>
        <div class="col-xs-12 main-title">
            <h1 class="pull-left">Account Information</h1>
            <span class="pull-right">Status: <strong>@Html.DisplayFor(m => m.Status)</strong></span>
        </div>
        <div class="col-xs-12 account-main">
            <div class="compaigns-form form-horizontal left col-xs-12" id="divGeneralInfo">
                <div class="col-xs-12 padding-zero">
                    <div class="form-group">
                        <label class="col-sm-8 control-label info">General Information:</label>
                        <div class="col-sm-4 control-label agree">
                            @Html.ActionLink("Edit", "EditAccountInformation", "AccountInformation", new { CompanyId = @Model.CompanyId }, new { @class = "btn btn-default active pull-right", @title="Edit Account Information" , @id = "lnkEditAccountInfo_loader" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Username:</label>
                        <div class="col-sm-8 control-label" style="overflow-wrap: break-word;">
                            <span>@Html.DisplayFor(m => m.EmailAddress)</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Password:</label>
                        <div class="col-sm-8 control-label">
                            @*<span><a href="@Url.RouteUrl("Default", new { controller="Manage" , action="ChangePassword" })" title="Change Password">Change Password</a></span>*@
                            <span>********</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Contact Name:</label>
                        <div class="col-sm-8 control-label" style="overflow-wrap:break-word">
                            <span>@Html.DisplayFor(m => m.ContactName, new { @class = "form-control" })</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Contact Phone:</label>
                        <div class="col-sm-8 control-label">
                            <span>@Html.DisplayFor(m => m.PhoneNumber, new { @class = "form-control", @maxlength = "12" })</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">About Company:</label>
                        <div class="col-sm-8 control-label" style="overflow-wrap:break-word">
                            <span>
                                @Html.DisplayFor(m => m.AboutCompany, new { @class = "form-control" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="compaigns-form form-horizontal right pull-right col-xs-12" id="divOtherInfo">
                <div class="col-xs-12 padding-zero">
                    <div class="form-group">
                        <label class="col-sm-8 control-label info">Other Information:</label>
                        <div class="col-sm-4 control-label">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Legal Entity Name:</label>
                        <div class="col-sm-8 control-label" style="overflow-wrap:break-word">
                            <span>@Html.DisplayFor(m => m.LegalEntityName, new { @class = "form-control" })</span>
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Company Name:</label>
                        <div class="col-sm-8 control-label" style="overflow-wrap:break-word">
                            <span>@Html.DisplayFor(m => m.CompanyName, new { @class = "form-control" })</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Company Logo:</label>
                        <div class="col-sm-8 control-label">
                            <span><img src="@Model.CompanyLogoFullPath" id="imgCompanyLogo" width="100" height="100" /></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Company Address:</label>
                        <div class="col-sm-8 control-label" style="overflow-wrap:break-word">
                            <span>@Html.DisplayFor(m => m.Address, new { @class = "form-control" })</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label"></label>
                        <div class="col-sm-8 control-label">
                            
                        </div>
                    </div>
                </div>
            </div>
            @*<button type="submit" class="btn btn-default btn-lg active">View</button>
        <button type="submit" class="btn btn-default btn-lg active prev">Edit</button>*@


            @*@if (@Model.CreditCardDetails != null && !string.IsNullOrEmpty(Model.CreditCardDetails.Token))
            {

                <div class="col-xs-12 padding-zero bank-info">
                    <div class="form-group pull-right agree bank">
                        <label class="info">Bank Information</label>
                        @Html.ActionLink("Edit", "AddEditCreditCard", "Payment", new { token = @Model.CreditCardDetails.Token }, new { @class = "btn btn-default active", @title="Edit Credit Card Information" })
                        &nbsp; <a onclick="javascript: return ConfirmDelete();" href="@Url.RouteUrl("Default", new { controller = "Company/Payment", action = "DeleteCompanyCreditCard", @title="Delete Credit Card", token = @Model.CreditCardDetails.Token, companyid = @Model.CompanyId })" class="btn btn-default btn-lg active prev" title="Delete"><i class=" fa fa-trash"></i> Delete</a>
                    </div>
                </div>
                <div class="row">
                    @Html.Partial("~/Areas/Company/Views/Payment/_CreditCardDetails.cshtml", Model)
                </div>
            }
            else
            {
                <div class="col-xs-12 padding-zero bank-info">
                    <div class="form-group pull-right agree bank">
                        <label class="info">Bank Information</label>
                        @Html.ActionLink("Add", "Step2", "Payment", new { CompanyId = @Model.CompanyId, fromAccountInfo = true }, new { @class = "btn btn-default active", @title ="Add Credit Card Information" })
                    </div>
                </div>
            }*@
        </div>

    </div>
}
<script src="@Url.Content("~/Areas/Company/Scripts/Payment.js")" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $(".menu-item a").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#A3').addClass('active');

        var height = $('.account-main').height();

        $("#divGeneralInfo").css("cssText", "height: " + height + "px !important;");
        $("#divOtherInfo").css("cssText", "height: " + height + "px !important;");
    });


</script>