﻿@model PurpicsWeb.Areas.Company.Models.AccountInformationDTO
@{
    ViewBag.Title = "Edit Account Information";
    Layout = "~/Areas/Company/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery-latest.js"></script>
<script src="~/Scripts/jquery.maskedinput-1.3.1.min.js"></script>

@using (Html.BeginForm("UpateAccountInfo", "AccountInformation", FormMethod.Post, new { model = this.Model, @id = "frmAccountInformation", @enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.CompanyId)

    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-xs-12 breadcrumbs">
            <a href="@Url.Action("", "ManageDashboard", new { area = "Company" })" title="Home">Home</a><i class="fa fa-angle-right"></i>
            <a href="@Url.Action("Index", "AccountInformation", new { area = "Company" })" title="Account Information">Account Information</a><i class="fa fa-angle-right"></i>
            <span>Edit Account Information</span>
        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>
        <div class="col-xs-12 main-title agree">
            <h1 class="pull-left">Edit Account Information</h1>
            @*<span class="pull-right">Status: <strong></strong></span>*@
        </div>
        <div class="col-md-6 account-main">
            <div>
                <label class="info">General Information:</label>
            </div>
            <br />
            <div>
                <label class="control-label">Username</label><br />
                @Html.DisplayFor(m => m.EmailAddress, new { @class = "form-control" })
            </div>

            <div style="height:38px"></div>
            <div>

                <label class="control-label">Password</label><br />
                <a href="@Url.RouteUrl("Default", new { controller = "Manage", action = "ChangePassword" })" title="Change Password">Change Password</a>

            </div>
            <div style="height:30px"></div>
            <div>
                <label class="control-label">Contact Name<span class="required">*</span></label>
                @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control", @maxlength = "500" })
                <div class="required">
                    @Html.ValidationMessageFor(m => m.ContactName)
                </div>
            </div>

            <div>
                <label class="control-label">Contact Phone<span class="required">*</span></label>
                <div class="col-md-12 padding-zero">
                    <table style="width:100%">
                        <tr style="vertical-align: top;">
                            <td style="width:30%">
                                @Html.TextBoxFor(m => m.PhoneNumber1, new { @class = "form-control", @maxlength = "3", @onKeyPress = "return  PassKeyPhone1()", @onKeyUp = "return  PassKeyPhone1()" })
                                <div class="required">
                                    @Html.ValidationMessageFor(m => m.PhoneNumber1)
                                </div>
                            </td>
                            <td>&nbsp;&nbsp;&nbsp;</td>
                            <td style="width:30%">
                                @Html.TextBoxFor(m => m.PhoneNumber2, new { @class = "form-control", @maxlength = "3", @onKeyPress = "return  PassKeyPhone2()", @onKeyUp = "return  PassKeyPhone2()" })
                                <div class="required">
                                    @Html.ValidationMessageFor(m => m.PhoneNumber2)
                                </div>
                            </td>
                            <td>&nbsp;&nbsp;&nbsp;</td>
                            <td style="width:40%">
                                @Html.TextBoxFor(m => m.PhoneNumber3, new { @class = "form-control", @maxlength = "4" })
                                <div class="required">
                                    @Html.ValidationMessageFor(m => m.PhoneNumber3)
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div>
                <label class="control-label">About Company<span class="required">*</span></label>
                @Html.TextAreaFor(m => m.AboutCompany, new { @class = "form-control", @rows = "5" })
                <div class="required">
                    @Html.ValidationMessageFor(m => m.AboutCompany)
                </div>
            </div>

        </div>

        <div class="col-md-6 account-main">
            <div>
                <label class="info">Other Information:</label>
            </div>
            <br />
            <div>
                <label class="control-label">Legal Entity Name<span class="required">*</span></label>
                @Html.TextBoxFor(m => m.LegalEntityName, new { @class = "form-control", @maxlength = "500" })
                <div class="required">
                    @Html.ValidationMessageFor(m => m.LegalEntityName)
                </div>

            </div>

            <div>
                <label class="control-label">Company Name<span class="required">*</span></label>
                @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", @maxlength = "500" })
                <div class="required">
                    @Html.ValidationMessageFor(m => m.CompanyName)
                </div>

            </div>

            <div class="company">
                <label class="control-label">Company Logo<span class="required">*</span></label>

                <div class="fileUpload control-label">
                    <span class="companylogo">Select Your File...</span>
                    @Html.TextBoxFor(m => m.CompanyLogo, new { type = "file", @tabindex = "19", @class = "form-control upload" })
                </div>


                (Logo type should be JPG/JPEG/PNG only.)<br />
                <img id="imgEmp" src="@Model.CompanyLogoFullPath" tabindex="-1" height="70" width="70" />
                <div class="error">
                    @Html.ValidationMessageFor(m => m.CompanyLogo)
                    @Html.ValidationMessage("File", new { @class = "text-danger" })
                </div>


            </div>
            <div style="min-height:5px"></div>
            <div>
                <label class="control-label">Company Address<span class="required">*</span></label>
                @Html.TextAreaFor(m => m.Address, new { @class = "form-control", @maxlength = "500", @rows = "5" })
                <div class="required">
                    @Html.ValidationMessageFor(m => m.Address)
                </div>

            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group agree" style="padding-top:15px;">
                <a class="btn btn-default create pull-left" title="Save" onclick="return validateAccountInformation();" style="margin-right: 5px"><i class='fa fa-save'></i>Save</a>
                @Html.ActionLink("Cancel", "Index", "AccountInformation", new { @class = "btn btn-default active", Style = "background-color:black", @title = "Cancel" })
            </div>
        </div>
    </div>
}


<script type="text/javascript">

    $(function () {
        $(document).on('change', "#CompanyLogo", function () {
            console.log('IN');
            var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.png)$/;
            if (regex.test($(this).val().toLowerCase())) {

                var filesize = this.files[0].size;
                if (parseInt(filesize) <= parseInt(2097152)) {
                    if (typeof (FileReader) != "undefined") {
                        var reader = new FileReader();
                        debugger
                        reader.onload = function (e) {
                            $("#imgEmp").attr("src", e.target.result);
                            $("#imgEmp").attr("height", "70px");
                            $("#imgEmp").attr("width", "70px");
                        }
                        reader.readAsDataURL($(this)[0].files[0]);
                        var filename = jQuery(this).val().replace(/.*(\/|\\)/, '');

                        if (filename != "") {
                            jQuery(".fileUpload span").html(filename);
                        }
                    } else {
                        //alert("This browser does not support FileReader.");
                        $('#lblAlertMsgs').text("This browser does not support FileReader.");
                        $('#modelAlertMessages').modal('show');
                    }
                }
                else {
                    //alert("File size is more than 2 MB, please upload a valid image file.");

                    jQuery(".fileUpload span").html("Select Your File...");
                    $("#CompanyLogo").val("");
                    $('#imgEmp').attr('src', '@Model.CompanyLogoFullPath');
                    $('#lblAlertMsgs').text("File size is more than 2 MB, please upload a valid image file.");
                    $('#modelAlertMessages').modal('show');
                }
            } else {
                //alert("Please upload a valid image file. Only .jpg, .jpeg and .png files are allowed");
                $("#CompanyLogo").val("");
                jQuery(".fileUpload span").html("Select Your File...");
                $('#imgEmp').attr('src', '@Model.CompanyLogoFullPath');
                $("#imgEmp").attr("height", "70px");
                $("#imgEmp").attr("width", "70px");
                $('#lblAlertMsgs').text("Please upload a valid image file. Only .jpg, .jpeg and .png files are allowed.");
                $('#modelAlertMessages').modal('show');
            }
        });
    });

    $(document).ready(function () {
        $("#PhoneNumber1").keypress(function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode == 45) {
                return true;
            }
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;


        });

        $("#PhoneNumber2").keypress(function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode == 45) {
                return true;
            }
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;


        });

        $("#PhoneNumber3").keypress(function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode == 45) {
                return true;
            }
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;


        });
    });


    function PassKeyPhone1() {
        if ($("#PhoneNumber1").val().length >= 3) {
            $("#PhoneNumber2").focus();
            return (false);
        }
        return (true);

    }

    function PassKeyPhone2() {
        if ($("#PhoneNumber2").val().length >= 3) {
            $("#PhoneNumber3").focus();
            return (false);
        }
        return (true);

    }

    function validateAccountInformation() {

        var form = $("#frmAccountInformation");

        form.valid();

       

        if (form.valid()) {
            form.submit();
            if ($("#loadingbar").length === 0) {
                $("body").append("<div id='loadingbar'></div>")
                $("#divLoader").css("display", "block");
                $("#loadingbar").addClass("waiting").append($("<dt/><dd/>"));
                $("#loadingbar").width((50 + Math.random() * 30) + "%");
            }
        }
        return false;
    }


</script>
@Scripts.Render("~/Scripts/jquery.validate.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")

<script>
    $(document).ready(function () {
        $(".menu-item a").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#A3').addClass('active');
    });
</script>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}



