﻿@model PurpicsWeb.Areas.StudentOrganization.Models.StudentOrganizationRegistration

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Name:  <span class="required">*</span></label>
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            @Html.TextBoxFor(m => m.CharityRegistration.CharityName, new { @id = "charityName", @class = "form-control", @maxlength = "500" })
            <div class="required">
                @*@Html.ValidationMessageFor(m => m.CharityRegistration.CharityName)*@
                <span class="field-validation-error" id="msgstcharityName" style="display: none;">Please enter Charity Name.</span>
                <span class="field-validation-error" id="msgstcharityNameExists" style="display: none;">Non-profit Partner already exists. Please select from list.</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <label class="control-label">Address:</label>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            @Html.TextBoxFor(m => m.CharityRegistration.Address, new { @id = "charityAddress", @class = "form-control", @maxlength = "200", @rows = "5" })
            <div class="required">
                @*@Html.ValidationMessageFor(m => m.CharityRegistration.Address)*@
                <span class="field-validation-error" id="msgstcharityAddress" style="display: none;">Please enter Address.</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">City:</label>
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            @Html.TextBoxFor(m => m.CharityRegistration.City, new { @id = "charityCity", @class = "form-control", @maxlength = "200" })
            <div class="required">
                @*@Html.ValidationMessageFor(m => m.CharityRegistration.City)*@
                <span class="field-validation-error" id="msgstcharityCity" style="display: none;">Please enter City.</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">State:</label>
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            @Html.DropDownListFor(model => model.CharityRegistration.State, Model.CharityRegistration.States, new { @id = "charityState", @class = "form-control" })
            <div class="required">
                @*@Html.ValidationMessageFor(m => m.CharityRegistration.State)*@
                <span class="field-validation-error" id="msgstcharityState" style="display: none;">Please enter State.</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <label class=" control-label">Zip:</label>
    </div>
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.CharityRegistration.Zip, new { @id = "charityZip", @class = "form-control", @maxlength = "5" })
        <div class="required">
            @*@Html.ValidationMessageFor(m => m.CharityRegistration.Zip)*@
            <span class="field-validation-error" id="msgstcharityZip" style="display: none;">Please enter Zip.</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-5">
                <button type="submit" title="Submit" class="btn pull-right" id="btnSubmit" style="background-color:#eb6f25; color:white" onclick="return validateCharityRegistration();">
                    <i class="fa fa-save"></i>&nbsp;&nbsp;Save
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $("#charityZip").on('paste', function (e) {
            var $this = $(this);
            setTimeout(function () {
                $this.val($this.val().replace(/[^0-9]/g, ''));
            }, 5);
        });

        $("#charityZip").keypress(function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        });
    });

    function validateCharityRegistration() {
        if (IsValidCharityForm()) {

            $.ajax({
                type: "POST",
                url: "/StudentOrganization/Registration/AddEditCharity",
                content: "application/json; charset=utf-8",
                dataType: "json",
                data: {
                    CharityName: $("#charityName").val(),
                    Address: $("#charityAddress").val(),
                    City: $("#charityCity").val(),
                    State: $("#charityState").val(),
                    Zip: $("#charityZip").val()
                },
                success: function (lodata) {
                    if (lodata != null) {
                        if (lodata > 0) {
                            var charityId = lodata;
                            $('#divCharities').prepend("<br />");
                            $('#divCharities').prepend("<label for=" + charityId + ">" + $("#charityName").val() + "</label>");
                            $('#divCharities').prepend("<input type='checkbox' id=" + charityId + " name='CharityIds' value=" + charityId + " checked='checked' />");
                            $('#modelAddCharity').modal('hide');
                            $('#divCharities').scrollTop(0);
                        }
                        else if (lodata == -1) {
                            $("#charityName").addClass("input-validation-error");
                            $("#msgstcharityNameExists").css("display", "block");
                        }
                        else {
                            alert("An error occured.");
                        }
                    }
                    else {
                        alert("An error occured.");
                    }
                },
                error: function (xhr, error, thrown) {
                    alert("An error occured.");
                },
            });


            return true;
        }
        return false;
    }

    function IsValidCharityForm() {
        var fbIsValidValues = true;

        if ($("#charityName").val().trim() == '') {
            $("#charityName").addClass("input-validation-error");
            $("#msgstcharityName").css("display", "block");
            fbIsValidValues = false;
        }
        else {
            $("#charityName").removeClass("input-validation-error");
            $("#msgstcharityName").css("display", "none");
        }

        //if ($("#charityAddress").val().trim() == '') {
        //    $("#charityAddress").addClass("input-validation-error");
        //    $("#msgstcharityAddress").css("display", "block");
        //    fbIsValidValues = false;
        //}
        //else {
        //    $("#charityAddress").removeClass("input-validation-error");
        //    $("#msgstcharityAddress").css("display", "none");
        //}

        //if ($("#charityCity").val().trim() == '') {
        //    $("#charityCity").addClass("input-validation-error");
        //    $("#msgstcharityCity").css("display", "block");
        //    fbIsValidValues = false;
        //}
        //else {
        //    $("#charityCity").removeClass("input-validation-error");
        //    $("#msgstcharityCity").css("display", "none");
        //}

        //if ($("#charityState").val() == '') {
        //    $("#charityState").addClass("input-validation-error");
        //    $("#msgstcharityState").css("display", "block");
        //    fbIsValidValues = false;
        //}
        //else {
        //    $("#charityState").removeClass("input-validation-error");
        //    $("#msgstcharityState").css("display", "none");
        //}

        //if ($("#charityZip").val().trim() == '') {
        //    $("#charityZip").addClass("input-validation-error");
        //    $("#msgstcharityZip").css("display", "block");
        //    fbIsValidValues = false;
        //}
        //else {
        //    $("#charityZip").removeClass("input-validation-error");
        //    $("#msgstcharityZip").css("display", "none");
        //}
        return fbIsValidValues;
    }
</script>
