﻿@model PurpicsWeb.Areas.StudentOrganization.Models.StudentOrganizationRegistration
@{
    ViewBag.Title = "Registration";
    Layout = "~/Areas/StudentOrganization/Views/Shared/_StudentOrganizationBlankLayout.cshtml";
}

<style>
    table.padded-table td {
        padding: 8px !important;
    }
</style>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery-latest.js"></script>
<script src="~/Scripts/jquery.maskedinput-1.3.1.min.js"></script>

<div class="container reg-main1">
    <div class="row">
        <div class="col-xs-12 padding-zero">
            <div class="col-xs-12">
                <h2 class="com-reg">Student Organization Registration</h2>
                <span style="float: right; margin-top: -30px; font-weight:bold;"><i class=" fa fa-arrow-left" style="color:#2372BD;"></i> @Html.ActionLink("Back to sign up", "WebLogin", "Account", new { area = "" }, htmlAttributes: new { id = "loginLink" }) </span>
            </div>
            <div class="col-xs-12 hr-row">
                <hr />
            </div>
        </div>
        @using (Html.BeginForm("StudentOrganizationRegistration", "Registration", FormMethod.Post, new { model = this.Model, @id = "frmSORegistration", @enctype = "multipart/form-data", @class = "frmregister" }))
        {
            <div class="col-xs-12">
                <font style="color:#B94A48"><span id="divSuccessMsg"><b>@TempData["Message"]</b></span></font>
                <br />
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="form-group agree">
                    <span class="info">
                        General Information:
                    </span>
                </div>

                <div>
                    <label>Username<span class="required">*</span></label>
                    @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", @maxlength = "256" })

                    <div class="required">
                        @Html.ValidationMessageFor(m => m.EmailAddress)
                    </div>
                </div>
                <div>
                    <label>Password<span class="required">*</span></label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    <div class="required">
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                <div>
                    <label>Contact Name<span class="required">*</span></label>
                    @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control", @maxlength = "500" })
                    <div class="required">
                        @Html.ValidationMessageFor(m => m.ContactName)
                    </div>
                </div>
                <div>
                    <label>Contact Phone<span class="required">*</span></label>
                    <div class="col-md-12 padding-zero">
                        <table style="width:100%">
                            <tr style="vertical-align:top">
                                <td style="width:30%">
                                    @Html.TextBoxFor(m => m.PhoneNumber1, new { @class = "form-control", @maxlength = "3", @onKeyPress = "return  PassKeyPhone1()", @onKeyUp = "return  PassKeyPhone1()" })
                                    <div class="required">
                                        @Html.ValidationMessageFor(m => m.PhoneNumber1)
                                    </div>
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;</td>
                                <td style="width:30%">
                                    @Html.TextBoxFor(m => m.PhoneNumber2, new { @class = "form-control", @maxlength = "3", @onKeyPress = "return  PassKeyPhone2()", @onKeyUp = "return  PassKeyPhone2()" })
                                    <div class="required">
                                        @Html.ValidationMessageFor(m => m.PhoneNumber2)
                                    </div>
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;</td>
                                <td style="width:40%">
                                    @Html.TextBoxFor(m => m.PhoneNumber3, new { @class = "form-control", @maxlength = "4" })
                                    <div class="required">
                                        @Html.ValidationMessageFor(m => m.PhoneNumber3)
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div style="height:27px">&nbsp;</div>
                <div>
                    <label>Non-profit Partner (Who are you raising money for)<span class="required">*</span></label>
                    <div id="divCharities" class="col-xs-12 CharityCheckboxList">
                        @foreach (var item in Model.Charities.OrderBy(x=> x.CharityName))
                        {
                            <input type="checkbox" id="@item.Id" name="CharityIds" value="@item.Id" />
                            <label for="@item.Id">@item.CharityName</label>
                            <br />
                        }
                    </div>
                    <br />
                    <div class="required">
                        <span class="field-validation-error" id="msgStCharity" style="display: none;text-align:center; font-weight:bold;">Please select Non-profit Partners.</span>
                    </div>
                    <div >
                        Non-profit Partner not available on the list? click <button type="button" class="btn btn-default" style="background-color:#eb6f25; color:white;margin-top:5px;" onclick="openAddCharityModel()">Add New</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                    <span class="info">
                        Other Information:
                    </span>
                </div>
                <div>
                </div>
                <div>
                </div>
                <div>
                    <label>Student Organization Name<span class="required">*</span></label>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @maxlength = "500" })
                    <div class="required">
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                </div>
                <div class="company">
                    <label>Student Organization Logo<span class="required">*</span></label>
                    <div class="fileUpload control-label">
                        <span class="companylogo">Select Your File...</span>
                        @Html.TextBoxFor(m => m.SOLogo, new { type = "file", @tabindex = "19", @class = "form-control upload" })
                    </div>
                    (Logo size should not exceed 2 MB. Logo type should be JPG/JPEG/PNG only.)<br />
                    <div class="required">
                        @Html.ValidationMessageFor(m => m.SOLogo)
                    </div><br />
                    <img id="imgEmp" tabindex="-1" src="/Images/StudentOrganizations/NoPhoto.jpg" height="70" width="70" />
                    <div class="error">
                        @*@Html.ValidationMessageFor(m => m.CharityLogo)*@
                        @Html.ValidationMessage("File", new { @class = "text-danger" })
                    </div>
                </div>
                <div style="height:8px"></div>
                <div>
                    <label>Student Organization Address<span class="required">*</span></label>
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @maxlength = "200", @rows = "5" })
                    <div class="required">
                        @Html.ValidationMessageFor(m => m.Address)
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>City<span class="required">*</span></label>
                            @Html.TextBoxFor(m => m.City, new { @class = "form-control", @maxlength = "200" })
                            <div class="required">
                                @Html.ValidationMessageFor(m => m.City)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>State<span class="required">*</span></label>
                            @Html.DropDownListFor(model => model.State, Model.States, new { @class = "form-control" })
                            <div class="required">
                                @Html.ValidationMessageFor(m => m.State)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Zip<span class="required">*</span></label>
                            @Html.TextBoxFor(m => m.Zip, new { @class = "form-control", @maxlength = "5" })
                            <div class="required">
                                @Html.ValidationMessageFor(m => m.Zip)
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>
            <div class="col-xs-12">
                <hr />
                <div class="col-sx-6 agree" style="text-align:left;">
                    <a href="@Url.Action("Index", "Registration", new { area = "StudentOrganization" })" style="background-color:black; color:white" class=" btn btn-default create pull-left" title="Prev"><i class="fa fa-angle-left"></i>Prev</a>
                </div>
                <div class="col-sx-6 agree" style="text-align:right;"><a class="btn btn-default pull-right" style="background-color:#eb6f25; color:white;" alt="Next" title="Next" onclick="return validateSORegistration();">Register</a></div>

            </div>
        }
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modelAlertMessages">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size:larger;">&times;</span></button>
                <h4 class="modal-title">Alert</h4>
            </div>
            <div class="modal-body">
                <p>
                    @Html.Label("alertcmmessages", new { @id = "lblAlertMsgs" })
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-addnew" data-dismiss="modal" aria-label="Close">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modelAddCharity" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="height:60vh;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size:larger;">&times;</span></button>
                <h4 class="modal-title">Add Non-profit Partner</h4>
            </div>
            <div class="modal-body">
                <p>
                    @Html.Partial("~/Areas/StudentOrganization/Views/Registration/_AddCharity.cshtml", Model)
                </p>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-addnew" data-dismiss="modal" aria-label="Close">Ok</button>
                </div>*@
        </div>
    </div>
</div>
<script type="text/javascript">
    
    $(function () {
        $(document).on('change', "#SOLogo", function () {
            var regex = /(.jpg|.jpeg|.png)$/;
            if (regex.test($(this).val().toLowerCase())) {
                var filesize = this.files[0].size;
                if (parseInt(filesize) <= parseInt(2097152)) {
                    if (typeof (FileReader) != "undefined") {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $("#imgEmp").attr("src", e.target.result);
                            $("#imgEmp").attr("height", "70px");
                            $("#imgEmp").attr("width", "70px");
                        }
                        reader.readAsDataURL($(this)[0].files[0]);
                        var filename = jQuery(this).val().replace(/.*(\/|\\)/, '');
                        if (filename != "") {

                            jQuery(".fileUpload span").html(filename);
                        }
                    }
                    else {
                        //alert("This browser does not support FileReader.");
                        $('#lblAlertMsgs').text("This browser does not support FileReader.");
                        $('#modelAlertMessages').modal('show');
                    }
                }
                else {
                    //alert("File size is more than 2 MB, please upload a valid image file.");

                    jQuery(".fileUpload span").html("Select Your File...");
                    $("#SOLogo").val("");
                    $('#imgEmp').attr('src', '/Images/StudentOrganizations/NoPhoto.jpg');
                    $('#lblAlertMsgs').text("File size is more than 2 MB, please upload a valid image file.");
                    $('#modelAlertMessages').modal('show');
                }
            }
            else {
                //alert("Please upload a valid image file. Only .jpg, .jpeg and .png files are allowed");
                $("#SOLogo").val("");
                jQuery(".fileUpload span").html("Select Your File...");
                $('#imgEmp').attr('src', '/Images/StudentOrganizations/NoPhoto.jpg');
                $("#imgEmp").attr("height", "70px");
                $("#imgEmp").attr("width", "70px");
                $('#lblAlertMsgs').text("Please upload a valid image file. Only .jpg, .jpeg and .png files are allowed.");
                $('#modelAlertMessages').modal('show');
            }

        });
    });

    $(document).ready(function () {
        jQuery(".fileUpload span.companylogo").click(function () {
            jQuery("#SOLogo").click();
        });

        $("#Zip").on('paste', function (e) {
            var $this = $(this);
            setTimeout(function () {
                $this.val($this.val().replace(/[^0-9]/g, ''));
            }, 5);
        });

        $("#Zip").keypress(function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        });

        $("#PhoneNumber1").keypress(function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode == 45) {
                return true;
            }
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        });

        $("#PhoneNumber2").keypress(function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode == 45) {
                return true;
            }
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        });

        $("#PhoneNumber3").keypress(function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode == 45) {
                return true;
            }
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        });

    });
    $("#PhoneNumber").mask('999-999-9999');
    function openAddCharityModel() {
        $('#charityName').val('');
        $('#charityAddress').val('');
        $('#charityCity').val('');
        $('#charityState').val('');
        $('#charityZip').val('');
        $('#modelAddCharity').modal('show');

        $("#charityName").removeClass("input-validation-error");
        $("#msgstcharityName").css("display", "none");
        $("#msgstcharityNameExists").css("display", "none");

        $("#charityZip").removeClass("input-validation-error");
        $("#msgstcharityZip").css("display", "none");

        $("#charityState").removeClass("input-validation-error");
        $("#msgstcharityState").css("display", "none");

        $("#charityCity").removeClass("input-validation-error");
        $("#msgstcharityCity").css("display", "none");

        $("#charityAddress").removeClass("input-validation-error");
        $("#msgstcharityAddress").css("display", "none");
    }
    function validateSORegistration() {
        var form = $("#frmSORegistration");
       
        if (form.valid() || IsValidForm()) {

            if (document.getElementById("SOLogo").files.length <= 0) {
                $('#lblAlertMsgs').text("Please upload Student Organization Logo.");
                $('#modelAlertMessages').modal('show');
                $("#SOLogo").val("");
                return false;
            }
            if (IsValidForm() && form.valid()) {
                form.submit();
                if ($("#loadingbar").length === 0) {
                    $("body").append("<div id='loadingbar'></div>")
                    $("#divLoader").css("display", "block");
                    $("#loadingbar").addClass("waiting").append($("<dt/><dd/>"));
                    $("#loadingbar").width((50 + Math.random() * 30) + "%");
                }
            }
        }
        return false;
    }

    function IsValidForm() {
        if ($('#divCharities input[type="checkbox"]:checked').length == 0) {
            $("#msgStCharity").css("display", "block");
            $("#divCharities").addClass("CharityCheckboxListError");
            $("#divCharities").removeClass("CharityCheckboxList");
            return false;
        }
        else {
            $("#divCharities").removeClass("CharityCheckboxListError");
            $("#divCharities").addClass("CharityCheckboxList");
            $("#msgStCharity").css("display", "none");
            return true;
        }
    }

    function PassKeyPhone1() {
        if ($("#PhoneNumber1").val().length >= 3) {
            $("#PhoneNumber2").focus();
            return (false);
        }
        return (true);
    }

    function PassKeyPhone2() {
        if ($("#PhoneNumber2").val().length >= 3) {
            $("#PhoneNumber3").focus();
            return (false);
        }
        return (true);
    }
</script>
@Scripts.Render("~/Scripts/jquery.validate.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
