﻿
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Areas/StudentOrganization/Views/Shared/_StudentOrganizationBlankLayout.cshtml";
}

<h3 class="msgthank">Thank you</h3><br />
<p style="text-align:center;">Your registration has been completed successfully and request has been sent to Admin for Approval. </p>
<p style="text-align:center;"><span style="font-weight:bold;"> @Html.ActionLink("Click here", "WebLogin", "Account", new { area = "" }, htmlAttributes: new { id = "loginLink" }) </span> to go back to signup page.</p>

