﻿@model PurpicsWeb.Areas.Admin.ViewModels.GiftCard.GiftCardModel
@if (Model != null && Model.loGiftCardsList.Count > 0)
{
    if (TempData["SuccessMsg"] != null && TempData["SuccessMsg"].ToString() != "")
    {
        <hr style="border-color:#F7F7F7 !important;" />
    <div class="alert alert-success col-xs-12" style="height:30px; padding:4px !important; margin-bottom:0px !important; margin-top:10px;">
        <span class="close" data-dismiss="alert" aria-label="close">&times;</span>
        <span style="vertical-align:middle;"> @TempData["SuccessMsg"].ToString()</span>

        @{TempData["SuccessMsg"] = "";}
    </div>
    }
    if (TempData["ErrorMsg"] != null && TempData["ErrorMsg"].ToString() != "")
    {
        <div class="alert alert-danger col-xs-12" style="height:30px; padding:4px !important; margin-bottom:0px !important; margin-top:10px;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @TempData["ErrorMsg"].ToString()
        </div>
    }
    <div class="table-responsive col-xs-12 dash-table">
        <table class="table table-bordered">
            <tr class="heading">
                @Html.Hidden("hdnPageIndex", Model.inPageIndex)
                <th id="sortName" onclick="getOrderbyGiftcardList('Name', 'sortName');" class="sorting">Name</th>
                <th id="sortPointCost" onclick="getOrderbyGiftcardList('PointCost', 'sortPointCost');" class="sorting">Point Cost</th>
                <th id="sortZipcode" onclick="getOrderbyGiftcardList('Zipcode', 'sortZipcode');" class="sorting">Zipcode</th>
                <th id="sortRadius" onclick="getOrderbyGiftcardList('Radius', 'sortRadius');" class="sorting">Miles</th>
                <th>Action</th>
            </tr>
            @foreach (var pac in Model.loGiftCardsList)
            {
                <tr>
                    <td>@pac.Name</td>
                    <td>@pac.PointCost</td>
                    <td>@pac.Zipcode</td>
                    <td>@pac.Radius</td>
                    <td>
                        <a href="@Url.Action("AddEditGiftCard", "ManageGiftCards", new { Id = pac.Id })" title="Edit"><i class="fa fa-pencil-square-o" style="font-size: 1.5em;"></i></a>
                        <a href=javascript:void(0); onclick="confirmDelete(@pac.Id)" title="Delete"><i class="fa fa-close" style="color:#23527C; font-size:1.5em;"></i></a>
                    </td>
                </tr>
            }
        </table>
    </div>
    if (@Model.inRecordCount > 10)
    {
        <div class="col-xs-12 showing">
            <span>
                Page @(Model.inPageIndex) out of
                @((Model.inRecordCount + 10 - 1) / 10)
            </span>
            <div class="pull-right">
                @Html.Hidden("hdnTotalRec", @Model.inRecordCount)
                @*<ul class="pagination" style="visibility: visible;" id="Patientpaging">
                    <li class="prev disabled"><a title="Previous" href="javascript:void(0);" id="aHrefPrev" class="PrevButton" onclick="refeshList(this.id);"><i class=" fa fa-angle-left"></i> Previous</a></li>
                    <li class="next"><a title="Next" href="javascript:void(0)" id="aHrefNext" class="NextButton" onclick="refeshList(this.id);">Next <i class="fa fa-angle-right"></i></a></li>
                </ul>*@
                <div id="divPager"></div>
            </div>
        </div>
    }
    @Html.Hidden("hdnId", "")

}
else
{
    <div id="divItemListNoRecord" class="alert alert-warning" align="center">
        <h4><i class="fa fa-warning"></i> No Record Found </h4>
    </div>
}
<div class="modal fade" tabindex="-1" role="dialog" id="modelDeleteCard">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size:larger;">&times;</span></button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this Giftcard?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-addnew" onclick="DeleteCardClick();">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<script>

    function confirmDelete(id) {
        $('#hdnId').val(id);
        jQuery.noConflict();
        (function ($) {
            $('#modelDeleteCard').modal('show');
        }
        )(jQuery);
    }
    function DeleteCardClick() {
        jQuery.noConflict();
        (function ($) {
            $('#modelDeleteCard').modal('hide');
        }
        )(jQuery);
        var id = $('#hdnId').val();
        DeleteGiftCard(id);
        //DeleteUser(id);
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        GetPager($("#hdnTotalRec").val(), $("#hdnPageIndex").val());
    });
</script>