﻿@model PurpicsWeb.Areas.Admin.ViewModels.GiftCard.GiftCardViewModel
@{
    ViewBag.Title = "Add/Edit Gift Card";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<script type="text/javascript">
    function jsInteger(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode == 46)
            return false;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    //$(document).ready(function () {

    //    $('#btnSubmit').click(function () {
    //        var lsName = $("#txtName").val();
    //        var lsPrice = $("#txtPointCost").val();
    //        if (lsName != "" && lsPrice != "") {
    //            $(this).attr('disabled', 'disabled');
    //        }
    //    });

    //});
    function validateGiftcard() {

        var form = $("#frmAddEditGiftcard");

        form.valid();

        if (form.valid()) {
            form.submit();
            if ($("#loadingbar").length === 0) {
                $("body").append("<div id='loadingbar'></div>")
                $("#divLoader").css("display", "block");
                $("#loadingbar").addClass("waiting").append($("<dt/><dd/>"));
                $("#loadingbar").width((50 + Math.random() * 30) + "%");
            }
        }
        return false;
    }
    
</script>
<section>
    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-xs-12 breadcrumbs">
            <a href="#">Home</a><i class="fa fa-angle-right"></i>
            <span>Add/Edit Gift Card</span>
        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>

        @using (Html.BeginForm("AddEditGiftCard", "ManageGiftCards", FormMethod.Post, new { @id = "frmAddEditGiftcard" }))
        {
            @Html.HiddenFor(m => m.Id, new { @id = "hdnGiftCardId" })
            @Html.ValidationSummary(true)
            <div class="form-horizontal">
                <div class="col-md-9">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Gift Card Name&nbsp;<span class="required">*</span></label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Name, null, new { @class = "form-control placeholder-no-fix", @placeholder = "Name", @maxlength = "100", @autofocus = "autofocus", @tabindex = "1", @id = "txtName" })
                            <div class="required">
                                @Html.ValidationMessageFor(m => m.Name)
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Point Cost&nbsp;<span class="required">*</span></label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.PointCost, null, new { @class = "form-control placeholder-no-fix", @placeholder = "PointCost", @maxlength = "10", @tabindex = "2", @id = "txtPointCost", @onkeypress = "return jsInteger(event);" })
                            <div class="required">
                                @Html.ValidationMessageFor(m => m.PointCost)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Zipcode&nbsp;<span class="required">*</span></label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Zipcode, null, new { @class = "form-control placeholder-no-fix", @placeholder = "Zipcode", @maxlength = "6", @tabindex = "3", @id = "txtZipCode", @onchange = "loadMap(); return false;", @onkeypress = "return jsInteger(event);" })
                            <div class="required">
                                @Html.ValidationMessageFor(m => m.Zipcode)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Miles&nbsp;<span class="required">*</span></label>
                        <div class="col-md-6">
                            @Html.DropDownListFor(m => m.Radius, new List<SelectListItem>()
                                                {
                                                    new SelectListItem() { Text= "10", Value = "10" },
                                                    new SelectListItem() { Text= "20", Value = "20" },
                                                    new SelectListItem() { Text= "30", Value = "30" },
                                                    new SelectListItem() { Text= "40", Value = "40" },
                                                    new SelectListItem() { Text= "50", Value = "50" }
                                                }, "Select Miles", new { @class = "form-control", style = "width: 250px;", @id = "dropMiles", @onchange = "loadMap(); return false;", @tabindex = "4" })
                            <div class="required">
                                @Html.ValidationMessageFor(m => m.Radius)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Active&nbsp;</label>
                        <div class="col-md-1">
                            @Html.CheckBoxFor(m => m.IsActive, new { @class = "form-control placeholder-no-fix pull-left", @placeholder = "Active", @tabindex = "5" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Default Gift&nbsp;</label>
                        <div class="col-md-1">
                            @Html.CheckBoxFor(m => m.IsDefault, new { @class = "form-control placeholder-no-fix pull-left", @placeholder = "Default", @tabindex = "6" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <button tabindex="5" type="submit" title="Submit" class="btn pull-right" id="btnSubmit" style="background-color:#eb6f25; color:white" onclick="validateGiftcard();">
                                <i class="fa fa-save"></i>&nbsp;&nbsp;Save <i class=" m-icon-swapright">
                                </i>
                            </button>
                        </div>
                        <div class="col-md-1">
                            <a class="btn pull-left" style="background-color:#282828; color:white" title="Cancel" onclick="cancelForm();" href="@Url.RouteUrl("Admin_default", new { action = "", controller = "ManageGiftCards" })">
                                <i class=" fa fa-angle-left"></i>&nbsp;&nbsp;Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="packagelist" style="margin-left:100px;">
                @Html.Partial("_ScopeAreaMap", null)
            </div>
        }
    </div>
</section>
<script src="@Url.Content("~/Scripts/map.js?ver=1.2")" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $(".menu-item a").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#A9').addClass('active');

        $('.dashboard-menu').height($(document).height());
    });
</script>