﻿@model PurpicsWeb.Areas.Admin.ViewModels.CampaignReport.CampaignReportModel

@if (Model != null && Model.loCampaignList.Count > 0)
{
    <div class="table-responsive col-xs-12 dash-table">
        <table class="table table-bordered wordwrap">
            <tr class="heading">
                @Html.Hidden("hdnPageIndex", Model.inPageIndex)
                <th id="sortCompany" onclick="getOrderbyCampaignList('Company', 'sortCompany');" class="sorting">Company Name</th>
                <th id="sortId" onclick="getOrderbyCampaignList('Id', 'sortId');" class="sorting">Campaign ID</th>               
                <th id="sortCampaignStatusID" onclick="getOrderbyCampaignList('CampaignStatusID', 'sortCampaignStatusID');" class="sorting">Status</th>
                <th id="sortLikes" onclick="getOrderbyCampaignList('Likes', 'sortLikes');" class="sorting">Current Likes</th>
                <th id="sortPackageLikes" onclick="getOrderbyCampaignList('PackageLikes', 'sortPackageLikes');" class="sorting">Target Likes</th>
                <th id="sortCampaignStartDate" onclick="getOrderbyCampaignList('CampaignStartDate', 'sortCampaignStartDate');" class="sorting">Start Date</th>
                <th id="sortCampaignEndDate" onclick="getOrderbyCampaignList('CampaignEndDate', 'sortCampaignEndDate');" class="sorting">Goal Reached Date</th>
                <th id="sortTimeToReachTarget" onclick="getOrderbyCampaignList('TimeToReachTarget', 'sortTimeToReachTarget');" class="sorting">Time to reach Target<br /> Like (in days)</th>

            </tr>
            @foreach (var campaign in Model.loCampaignList)
            {
                
                <tr>                  
                    <td><a href="@(Url.Action("CompanyDetail", "ManageCompany", new { fiCompanyId = campaign.CompanyID }))" title="Company Details" class="wrapcontent">@campaign.Company</a></td>
                    <td><a href="@(Url.Action("CampaignDetail", "ManageCampaigns", new { fiCampaignId = campaign.Id }))" title="Campaign Details">@campaign.Id</a></td>
                    <td>
                        @if (campaign.CampaignStatusID == 2 && campaign.CampaignEndDate == null)
                        {
                            <span>Ongoing</span>
                        }
                        else
                        {
                            <span>Completed</span>
                        }
                    </td>
                    <td>
                        @campaign.Likes
                    </td>
                    <td>
                        @campaign.PackageLikes
                    </td>
                    <td>
                        @if (campaign.CampaignStartDate != null)
                        {
                            <span>@Convert.ToDateTime(campaign.CampaignStartDate).ToString("MM/dd/yyyy")</span>
                        }
                        else
                        {
                            <span></span>
                        }
                    </td>
                    <td>
                        @if (campaign.CampaignEndDate != null)
                        {
                            <span>@Convert.ToDateTime(campaign.CampaignEndDate).ToString("MM/dd/yyyy")</span>
                        }
                        else
                        {
                            <span></span>
                        }
                    </td>
                    <td>
                        @if (campaign.Days != 0)
                        {
                            @campaign.Days
                        }
                        else
                        {
                            <span></span>
                        }
                    </td>

                </tr>
            }
        </table>
    </div>
    if (@Model.inRecordCount > 10)
    {
        <div class="col-xs-12 showing">
            <span>
                Page @(Model.inPageIndex) out of
                @((Model.inRecordCount + 10 - 1) / 10)
            </span>
            <div class="pull-right">
                @Html.Hidden("hdnTotalRec", @Model.inRecordCount)
                @*<ul class="pagination" style="visibility: visible;" id="Patientpaging">
                        <li class="prev disabled"><a title="Previous" href="javascript:void(0);" id="aHrefPrev" class="PrevButton" onclick="refeshList(this.id);"><i class=" fa fa-angle-left"></i> Previous</a></li>
                        <li class="next"><a title="Next" href="javascript:void(0)" id="aHrefNext" class="NextButton" onclick="refeshList(this.id);">Next <i class="fa fa-angle-right"></i></a></li>
                    </ul>*@
                <div id="divPager"></div>
            </div>
        </div>
    }
}
else
{
    <div class="col-md-12">
        <div id="divItemListNoRecord" class="alert alert-warning" align="center">
            <h4><i class="fa fa-warning"></i> No Record Found </h4>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        GetPager($("#hdnTotalRec").val(), $("#hdnPageIndex").val());
    });
</script>