﻿@model PurpicsWeb.Areas.Admin.ViewModels.CampaignReport.CampaignReportModel
@{
    ViewBag.Title = "Campaign Report";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    td {
        padding: 7px;
    }
</style>

<section>


    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-xs-12 breadcrumbs">
            <a href="@Url.RouteUrl("Admin_default", new { action = "", controller = "AdminDashBoard" })" title="Home/Dashboard">Home</a><i class="fa fa-angle-right"></i>
            <span>Campaign Report</span>
        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>
        <div class="col-xs-12 main-title agree">
            <h1 class="pull-left">Campaign Report</h1>
        </div>
        <div class="col-md-12 padding-zero">
            <form action="#" class="form-horizontal form-bordered">
                <div class="col-md-12 usersearch">
                    <table style="width:90%" class="table-responsive pull-right">
                        <tr>
                            <td style="vertical-align:top"><label class="control-label pull-right">Filter:</label></td>
                            <td>@Html.DropDownList("dropCompany", new SelectList(Model.loCompanyName, "Id", "CompanyName"), "Company Name", new { @class = "form-control", style = "width: 300px;", @onchange = "companySearch(this.value)" })</td>
                            <td>
                                <div class="input-group input-small date date-picker" data-date-format="dd/mm/yyyy">
                                    <input type="text" id="txtFromDate" class="form-control datepicker" name="from" readonly placeholder="Start Date">
                                    <label class="input-group-btn" for="txtFromDate">
                                        <span class="btn btn-default" style="border-radius:0px;">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </label>
                                    <span class="input-group-btn" style="border-radius:0px 0px 0px 0px;">
                                        <button type="button" title="Remove" class="btn btn-default date-reset" onclick="clearDate('txtFromDate');" style="border-radius: 0 4px 4px 0px"><i class="fa fa-times"></i></button>
                                    </span>

                                    <span class="input-group-addon" style="background-color:#F7F7F7; padding-right:0px; border:solid 1px #F7F7F7;cursor:none;"></span>

                                    <input type="text" id="txtToDate" class="form-control datepicker" name="to" style="border-radius: 4px 0px 0px 4px" readonly placeholder="End Date">
                                    <label class="input-group-btn" for="txtToDate">
                                        <span class="btn btn-default" style="border-radius:0px;">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </label>
                                    <span class="input-group-btn">
                                        <button type="button" title="Remove" class="btn btn-default date-reset" onclick="clearDate('txtToDate');"><i class="fa fa-times"></i></button>
                                    </span>
                                </div>
                            </td>

                            <td style="padding-right: 0px;">

                                <button type="button" id="btnSearch" class="btn" style="background-color:#ee7a34;color:white" title="Search" onclick="search();">Search</button>

                            </td>
                        </tr>
                    </table>




                </div>
            </form>
        </div>
        <div id="companylist">
            @Html.Partial("_CampaignReport", Model)
        </div>
    </div>
    @Html.Hidden("hdnOrder", "Company ASC")
    @Html.Hidden("hdnSortingOnColumn", "sortCompany")
    @Html.Hidden("hdnSortingDirection", "ASC")
    @Html.Hidden("hdnSelectedCompany", "0")
    <script type="text/javascript">
        var lsgetCompanyList = '@Url.RouteUrl("Admin_default", new { controller = "CampaignReport", action = "searchCampaign" })';

    </script>
    <script src="~/Areas/Admin/assets/scripts/CampaignReport.js"></script>
</section>
<script>
    $(document).ready(function () {
        $(".menu-item a").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#A12').addClass('active');
    });
</script>


