﻿@model PurpicsWeb.Areas.Admin.ViewModels.Package.PackageViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Add/Edit Package";
}
<script type="text/javascript">
    // Function to allow only integer
    function jsInteger(evt) {

        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    //$('#.txtPrice').keypress(function (eve) {
    //    if ((eve.which != 46 || $(this).val().indexOf('.') != -1) && (eve.which < 48 || eve.which > 57) || (eve.which == 46 && $(this).caret().start == 0)) {
    //        eve.preventDefault();
    //    }

    //    // this part is when left part of number is deleted and leaves a . in the leftmost position. For example, 33.25, then 33 is deleted
    //    $('.txtPrice').keyup(function (eve) {
    //        if ($(this).val().indexOf('.') == 0) {
    //            $(this).val($(this).val().substring(1));
    //        }
    //    });
    //});
    // Function to allow only decimal
    function validate_double(theField, len, precision) {
        numVal = theField.value.replace(/[^\d|\.]/g, '').split('.');
        if (numVal.length > 1) {
            numVal[0] = numVal[0].substr(0, len);
            numVal[1] = numVal[1].substr(0, precision);
            numVal.length = 2;
            theField.value = numVal.join('.');
        } else {
            theField.value = numVal[0];
        };
    }

    function jsDecimals(el, e) {
        var number = el.value.split('.');
        var evt = (e) ? e : window.event;
        var key = (evt.keyCode) ? evt.keyCode : evt.which;
        if (key != null) {
            key = parseInt(key, 10);
            if ((key < 48 || key > 57) && (key < 96 || key > 105)) {
                if (!jsIsUserFriendlyChar(key, "Decimals", number.length)) {
                    return false;
                }
            }
            else {
                if (evt.shiftKey) {
                    return false;
                }
            }
        }
        return true;
    }
    function jsInteger(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode == 46)
            return false;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    // Function to check for user friendly keys
    //------------------------------------------
    function jsIsUserFriendlyChar(val, step, valLength) {

        // Backspace, Tab, Enter, Insert, and Delete
        if (val == 8 || val == 9 || val == 13 || val == 45 || val == 46) {
            return true;
        }
        // Ctrl, Alt, CapsLock, Home, End, and Arrows
        if ((val > 16 && val < 21) || (val > 34 && val < 41)) {
            return true;
        }
        if (step == "Decimals") {
            if (val == 190 || val == 110) {  //Check dot key code should be allowed
                if (valLength > 1) {
                    return false;
                }
                else {
                    return true;
                }
            }
        }
        // The rest
        return false;
    }
    //$(document).ready(function () {

    //    $('#btnSubmit').click(function () {

    //        debugger
    //        var lsName = $("#txtName").val();
    //        var lsPrice = $("#txtPrice").val();
    //        var lsLikes = $("#txtLikes").val();
    //        if (lsName != "" && lsPrice != "" && lsLikes != "")
    //        {
    //            $(this).attr('disabled', 'disabled');
    //            $("#frmAddEditPakegeForm").submit();
    //        }
            
    //    });

    //});
    function validatePackage() {

        var form = $("#frmAddEditPakegeForm");

        form.valid();

        if (form.valid()) {
            form.submit();
            if ($("#loadingbar").length === 0) {
                $("body").append("<div id='loadingbar'></div>")
                $("#divLoader").css("display", "block");
                $("#loadingbar").addClass("waiting").append($("<dt/><dd/>"));
                $("#loadingbar").width((50 + Math.random() * 30) + "%");
            }
        }
        return false;
    }
</script>

<section>
    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-xs-12 breadcrumbs">
            <a href="@Url.RouteUrl("Admin_default", new { action = "", controller = "AdminDashBoard" })" title="Home/Dashboard">Home</a><i class="fa fa-angle-right"></i>
            <span>Add/Edit Package</span>
        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>

        @using (Html.BeginForm("AddEditPackage", "ManagePackage", FormMethod.Post, new { @id="frmAddEditPakegeForm" }))
        {
            @Html.HiddenFor(m => m.ID, new { @id = "hdnPackageId" })
            @Html.ValidationSummary(true)
            <div class="form-horizontal">
                <div class="col-md-9">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Package Name&nbsp;<span class="required">*</span></label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Name, null, new { @class = "form-control placeholder-no-fix", @placeholder = "Name", @maxlength = "100", @autofocus = "autofocus", @tabindex = "1", @id = "txtName" })
                            <div class="required">
                                @Html.ValidationMessageFor(m => m.Name)
                            </div>
                        </div>
                      
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Package Price&nbsp;<span class="required">*</span></label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Price, null, new { @class = "form-control placeholder-no-fix", @placeholder = "Price", @maxlength = "10", @tabindex = "2", @id = "txtPrice", @onKeyUp = "return validate_double(this, 8, 2)"})
                            <div class="required">
                                @Html.ValidationMessageFor(m => m.Price)
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Likes&nbsp;<span class="required">*</span></label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Likes, null, new { @class = "form-control placeholder-no-fix", @placeholder = "Likes", @maxlength = "10", @tabindex = "3", @id = "txtLikes", @onkeypress = "return jsInteger(event);" })
                            <div class="required">
                                @Html.ValidationMessageFor(m => m.Likes)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Active&nbsp;</label>
                        <div class="col-md-1">
                            @Html.CheckBoxFor(m => m.IsActive, new { @class = "form-control placeholder-no-fix pull-left", @placeholder = "Name", @tabindex = "4" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <button tabindex="5" type="submit" title="Submit" class="btn pull-right" id="btnSubmit" style="background-color:#eb6f25; color:white" onclick="return validatePackage();">
                                <i class="fa fa-save"></i>&nbsp;&nbsp;Save
                            </button>
                        </div>
                        <div class="col-md-1">
                            @*<button tabindex="2" type="submit" title="Submit" class="btn pull-left" style="background-color:#eb6f25; color:white">
                                    Cancle <i class="m-icon-swapright"></i>
                                </button>*@
                            <a class="btn pull-left" style="background-color:#282828; color:white" title="Cancel" onclick="cancelForm();" href="@Url.RouteUrl("Admin_default", new { action = "", controller = "ManagePackage" })">
                                <i class=" fa fa-angle-left"></i>&nbsp;&nbsp;Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<script>
    $(document).ready(function () {
        $(".menu-item a").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#A5').addClass('active');
    });
</script>