﻿@model PurpicsWeb.Areas.Admin.ViewModels.Package.PackagesViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Manage Package";
}

<section>
    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-xs-12 breadcrumbs">
            <a href="@Url.RouteUrl("Admin_default", new { action = "", controller = "AdminDashBoard" })" title="Home/Dashboard">Home</a><i class="fa fa-angle-right"></i>
            <span>Packages</span>
            
        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>
        <div class="col-xs-12 main-title agree">
            <h1 class="pull-left">Packages</h1>
        </div>
        <div class="">
            <form action="#" class="form-horizontal form-bordered">
                <div class="col-md-12 searcharea" style="padding-top:10px;">
                    <div class="col-md-7" style="padding-left:0px;">
                        <a href="@Url.RouteUrl("Admin_default", new { action = "AddEditPackage", controller = "ManagePackage" })" class="btn" style="float:left; background-color:#EB6F25; color:white;" title="Add New Package"><i class=" fa fa-plus"></i>&nbsp;&nbsp;Add New Package</a>
                    </div>
                    <div class="col-md-4 col-xs-8" style="padding-right:0px;">
                        <div class="usersearch">
                            <input type="text" class="form-control" id="txtSearch" maxlength="100" placeholder="Search by package name ..." onkeypress="userSearch(event);">
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-2" style="padding-left:10px;">
                        <button type="button" id="btnSearch" class="btn" style="background-color:#ee7a34;" title="Search" onclick="search();">Search</button>
                    </div>
                </div>
            </form>
        </div>
       
        <div id="packagelist">
            @Html.Partial("_ManagePackages", Model)
        </div>
    </div>
    @Html.Hidden("hdnOrder", "Name ASC")
    @Html.Hidden("hdnSortingOnColumn", "sortName")
    @Html.Hidden("hdnSortingDirection", "ASC")
    <script type="text/javascript">
        var lsgetUserList = '@Url.RouteUrl("Admin_default", new { controller = "ManagePackage", action = "searchPackages" })';
        var deleteUserUrl = '@Url.RouteUrl("Admin_default", new { controller = "ManagePackage", action = "DeletePackage" })';
        var lsGetUserUrl = "@Url.RouteUrl("Admin_default", new { controller = "ManagePackage", action = "ManagePackage" })";


    </script>
    <script src="@Url.Content("~/Areas/Admin/assets/scripts/Packages.js?ver=1.3")" type="text/javascript"></script>
</section>

<script>
    $(document).ready(function () {
        $(".menu-item a").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#A5').addClass('active');
    });
</script>