﻿@model PurpicsWeb.Areas.Admin.ViewModels.AppSetting.AppSettingModel
@if (Model != null && Model.loAppSettingList.Count > 0)
{
    <table class="table dataTable table-hover">
        <thead>
            <tr>
                @Html.Hidden("hdnPageIndex", 1)
                <th style="width:50%" id="sortName" onclick="getOrderbyUserList('Name', 'sortName');" class="sorting">Name</th>
                <th style="width:20%" id="sortValue" onclick="getOrderbyUserList('Value', 'sortValue');" class="sorting">Value</th>
                <th style="width:10%">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pac in Model.loAppSettingList)
            {
                <tr>
                    <td>@pac.Name</td>
                    <td>@pac.Value</td>
                    <td><a href="@Url.Action("AddEditAppSettings", "AppSettings", new { Id = pac.Id })" title="Edit">Edit</a></td>
                    <td>
                        <a href=javascript:void(0); onclick="DeleteUser(@pac.Id)" title="Delete"><i class="fa fa-close"></i>Delete</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-7 col-sm-12">
            <div class="pagination-number" style="float:right;">
                @Html.Hidden("hdnTotalRec", @Model.inRecordCount)
                <ul class="pagination" style="visibility: visible;" id="Patientpaging">
                    <li class="prev disabled"><a title="Previous" href="javascript:void(0);" id="aHrefPrev" onclick="refeshList(this.id);"><i class=" fa fa-angle-left"></i> Previous</a></li>
                    <li class="next"><a title="Next" href="javascript:void(0)" id="aHrefNext" onclick="refeshList(this.id);">Next <i class="fa fa-angle-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
}
else
{
    <div id="divItemListNoRecord" class="alert alert-warning" align="center">
        <h4><i class="fa fa-warning"></i> No Record Found </h4>
    </div>
}
