﻿@model PurpicsWeb.Areas.Admin.ViewModels.AppSetting.AppSettingViewModel
@{
    ViewBag.Title = "AddEditAppSettings";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<section>
    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-xs-12 breadcrumbs">
            <a href="#">Home</a><i class="fa fa-angle-right"></i>
            <span>Manage Settings</span>
        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>
        @using (Html.BeginForm("AddEditAppSettings", "AppSettings", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.Id, new { @id = "hdnAppSettingId" })
            @Html.ValidationSummary(true)
            <div class="row form-horizontal">
                <div class="col-md-9">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Name:*</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Name, null, new { @class = "form-control placeholder-no-fix", @placeholder = "Name", @autofocus = "autofocus", @tabindex = "1", @id = "txtName" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Value:*</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Value, null, new { @class = "form-control placeholder-no-fix", @placeholder = "Value", @autofocus = "autofocus", @tabindex = "1", @id = "txtValue" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <button tabindex="2" type="submit" title="Submit" class="btn orange pull-right">
                                Submit <i class="m-icon-swapright"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>