﻿@model PurpicsWeb.Areas.Admin.ViewModels.AppSetting.AppSettigsViewModel
@{
    ViewBag.Title = "Settings";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section>
    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-xs-12 breadcrumbs">
            <a href="@Url.RouteUrl("admin_default", new { action="" , controller="AdminDashBoard" })" title="Home/Dashboard">Home</a><i class="fa fa-angle-right"></i>
            <span>App Settings</span>
        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>
        <div class="col-xs-12 main-title agree">
            <h1 class="pull-left">App Settings</h1>
        </div>
        
        @if (TempData["SuccessMsg"] != null && TempData["SuccessMsg"].ToString() != "")
        {
            <hr style="border-color:#F7F7F7 !important;" />
            <div class="alert alert-success col-xs-12" style="height:30px; padding:4px !important; margin-bottom:0px !important;">
                <span class="close" data-dismiss="alert" aria-label="close">&times;</span>
                <span style="vertical-align:middle;"> @TempData["SuccessMsg"].ToString()</span>

                @{TempData["SuccessMsg"] = "";}
            </div>
        }
        @if (TempData["ErrorMsg"] != null && TempData["ErrorMsg"].ToString() != "")
        {
            <div class="alert alert-danger col-xs-12" style="height:30px; padding:4px !important; margin-bottom:0px !important;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                @TempData["ErrorMsg"].ToString()
            </div>
        }
        <br />
        @using (Html.BeginForm("UpdateAppSettings", "AppSettings", FormMethod.Post, new { model = this.Model, @id = "frmUpdateAppSettings" }))
        {

        <div class="form-horizontal">
            <div class="col-md-10" style="margin-top:10px;">
                <div class="form-group">
                    <label class="col-md-4 control-label">% of campaign&nbsp;<span class="required">*</span></label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.CampaignPer, new { @class = "form-control", @style = "display: block;", @onkeydown = "return jsDecimals(this,event);", @maxlength = "4", @id = "txtCampaignPer" })
                        <div class="required">
                            @Html.ValidationMessageFor(m => m.CampaignPer)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label"># of awarded points&nbsp;<span class="required">*</span></label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.CampaignPointAwarded, new { @class = "form-control", @style = "display: block;", @onkeypress = "return jsInteger(event);", @maxlength = "5", @id = "txtCampaignPointAwarded" })
                        <div class="required">
                            @Html.ValidationMessageFor(m => m.CampaignPointAwarded)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label"># of campaign upload points&nbsp;<span class="required">*</span></label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.CampaignUploadPointAwarded, new { @class = "form-control", @style = "display: block;", @onkeypress = "return jsInteger(event);", @maxlength = "5", @id = "txtCampaignUploadPoint" })
                        <div class="required">
                            @Html.ValidationMessageFor(m => m.CampaignUploadPointAwarded)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-4 control-label">Minimum redemption points&nbsp;<span class="required">*</span></label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.RedemptionPoints, new { @class = "form-control", @style = "display: block;", @onkeypress = "return jsInteger(event);", @maxlength = "5", @id = "txtRedemptionPoints" })
                        <div class="required">
                            @Html.ValidationMessageFor(m => m.RedemptionPoints)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-4 control-label">Charity Registration Amount ($)&nbsp;<span class="required">*</span></label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.CharityRegistrationAmount, new { @class = "form-control", @style = "display: block;", @onkeydown = "return jsDecimals(this,event);", @maxlength = "10", @id = "txtCharityRegistrationAmount" })
                        <div class="required">
                            @Html.ValidationMessageFor(m => m.CharityRegistrationAmount)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-4 control-label">Charity Subscription Notification Days&nbsp;<span class="required">*</span></label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.CharitySubscriptionNotificationDays, new { @class = "form-control", @style = "display: block;", @onkeydown = "return jsDecimals(this,event);", @maxlength = "10", @id = "txtCharitySubscriptionNotificationDays" })
                        <div class="required">
                            @Html.ValidationMessageFor(m => m.CharitySubscriptionNotificationDays)
                        </div>
                    </div>
                </div>

                @*<div class="row">
                    <label class="col-md-4 control-label">Redeem Gift Card Minimum Points&nbsp;<span class="required">*</span></label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.RedeemGiftCardMinimumPoints, new { @class = "form-control", @style = "display: block;", @onkeydown = "return jsDecimals(this,event);", @maxlength = "10", @id = "txtRedeemGiftCardMinimumPoints", @onkeypress = "return isNumber(event)" })
                        <div class="required">
                            @Html.ValidationMessageFor(m => m.RedeemGiftCardMinimumPoints)
                        </div>
                    </div>
                </div>*@
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <button type="button" style="margin-left:15px;background:#EB6F25; color:white;" id="btnSubmit" class="btn blue darkblue" onclick="return validateAppSettings();" title="Update">UPDATE</button>
                        </div>
                    </div>
                </div>
                <br clear="all">
            </div>
        </div>
        }
    </div>
</section>

@Scripts.Render("~/Scripts/jquery.validate.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
<script src='~/Areas/Admin/assets/scripts/AppSettings.js?ver=1.1' type='text/javascript'></script>


<script>
    $(document).ready(function () {
        $(".menu-item a").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#A8').addClass('active');
    });
</script>
<script type="text/javascript">
    // Function to allow only decimal
    function jsDecimals(el, e) {
        var number = el.value.split('.');
        var evt = (e) ? e : window.event;
        var key = (evt.keyCode) ? evt.keyCode : evt.which;
        if (key != null) {
            key = parseInt(key, 10);
            if ((key < 48 || key > 57) && (key < 96 || key > 105)) {
                if (!jsIsUserFriendlyChar(key, "Decimals", number.length)) {
                    return false;
                }
            }
            else {
                if (evt.shiftKey) {
                    return false;
                }
            }
        }
        return true;
    }
    function jsInteger(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode == 46)
            return false;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    // Function to check for user friendly keys
    //------------------------------------------
    function jsIsUserFriendlyChar(val, step, valLength) {

        // Backspace, Tab, Enter, Insert, and Delete
        if (val == 8 || val == 9 || val == 13 || val == 45 || val == 46) {
            return true;
        }
        // Ctrl, Alt, CapsLock, Home, End, and Arrows
        if ((val > 16 && val < 21) || (val > 34 && val < 41)) {
            return true;
        }
        if (step == "Decimals") {
            if (val == 190 || val == 110) {  //Check dot key code should be allowed
                if (valLength > 1) {
                    return false;
                }
                else {
                    return true;
                }
            }
        }
        // The rest
        return false;
    }
    //$(document).ready(function () {

    //    $('#btnSubmit').click(function () {
    //        var lsCampaignPer = $("#txtCampaignPer").val();
    //        var lsCampaignPointAwarded = $("#txtCampaignPointAwarded").val();
    //        var lsRedemptionPoints = $("#txtRedemptionPoints").val();
    //        var lsCharityRegistrationAmount = $("#txtCharityRegistrationAmount").val();
    //        var lsCampaignUploadPoint = $("#txtCampaignUploadPoint").val();
    //        if (lsCampaignPer != "" && lsCampaignPointAwarded != "" && lsRedemptionPoints != "" && lsCharityRegistrationAmount != "" && lsCampaignUploadPoint!="") {
    //            $(this).attr('disabled', 'disabled');
    //        }
            
    //    });

    //});
    function validateAppSettings() {

        var form = $("#frmUpdateAppSettings");

        form.valid();

        if (form.valid()) {
            form.submit();
            if ($("#loadingbar").length === 0) {
                $("body").append("<div id='loadingbar'></div>")
                $("#divLoader").css("display", "block");
                $("#loadingbar").addClass("waiting").append($("<dt/><dd/>"));
                $("#loadingbar").width((50 + Math.random() * 30) + "%");
            }
        }
        return false;
    }
</script>
