﻿@model PurpicsWeb.Areas.Admin.ViewModels.AppSetting.AppSettingModel
@{
    ViewBag.Title = "AppSettings";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section>
    <div class="row">
        <form action="#" class="form-horizontal form-bordered">
            <div class="col-md-12">
                <div class="col-md-3">
                    <a class="btn btn-default" value="Add New Package" href="@Url.Action("AddEditAppSettings", "AppSettings")">Add New AppSettings</a>
                </div>
                <div class="col-md-3">
                    <div class="usersearch">
                        <input type="text" class="form-control" id="txtSearch" placeholder="Search by name ..." style="width:300px" onkeypress="userSearch(event);">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="addnewuser">
                        <button type="button" id="btnSearch" class="btn blue darkblue" title="Search" onclick="search();">Search</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div id="packagelist">
                    @Html.Partial("_AppSettings", Model)
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("hdnOrder", "Name ASC")
    @Html.Hidden("hdnSortingOnColumn", "sortName")
    @Html.Hidden("hdnSortingDirection", "ASC")
    <script type="text/javascript">
        var lsgetUserList = '@Url.RouteUrl("Admin_default", new { controller = "AppSettings", action = "searchPackages" })';
        var deleteUserUrl = '@Url.RouteUrl("Admin_default", new { controller = "AppSettings", action = "DeletePackage" })';
        var lsGetUserUrl = "@Url.RouteUrl("Admin_default", new { controller = "AppSettings", action = "AppSettings" })";


    </script>
    <script src="@Url.Content("~/Areas/Admin/assets/scripts/AppSettings.js?ver=1.1")" type="text/javascript"></script>
</section>



