﻿@model PurpicsWeb.Areas.Company.Models.Campaigns.CampaignsViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Company/Views/Shared/_Layout.cshtml";
}

<style>
    .box-main .box.boxes {
        width: 32%;
    }
</style>
<section>
    <span id="ActiveMenu" style="display: none;">A1</span>
    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-xs-12 breadcrumbs">
            <a href="#" title="Home/Dashboard">Home</a><i class="fa fa-angle-right"></i>
            <span>Dashboard</span>
        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>

        <div class="col-xs-12 padding-zero">
            <div class="col-md-6 main-title">
                <h1 class="main title">
                    Dashboard
                </h1>
            </div>
            <div class="col-md-6">
                <div class="form-group agree">
                    <a id="lnkCreateCampaign_loader" href="@Url.Action("Index", "Campaign", new { area = "Company" })" title="Create New Campaign" class="btn btn-default active create pull-right"><i class="fa fa-plus"></i>Create New Campaign</a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 box-main">
            <div class="boxes box box2">
                <span class="digits col-xs-12">@Model.TotalActiveCampaigns</span>
                <span class="texts col-xs-12">Active Campaigns</span>
            </div>
            <div class="boxes box box3 last">
                <span class="digits col-xs-12">@Model.TotalLikes</span>
                <span class="texts col-xs-12">Total Likes</span>
            </div>
        </div>
        <div class="col-md-12 agree">
            <span class="active-span">Active Campaigns:</span>
        </div>

        <div class="col-xs-12">
            <br />
            <form action="#" class="form-horizontal form-bordered">
                @if (Model != null && Model.loCampaignsList.Count > 0)
                {   <div class="table-responsive dash-table" style="margin-top:0px">
                    <table class="table table-bordered wordwrap">
                        <thead>
                            <tr class="heading" style="vertical-align:top">

                                <th style="vertical-align:top">Ref ID</th>
                                <th style="vertical-align:top" id="sortName">Campaign Name</th>
                                @*<th style="vertical-align:top" id="sortPrice">Charity Sponsor</th>*@
                                <th style="vertical-align:top" id="sortPrice">Student Organization</th>
                                <th style="vertical-align:top" id="sortLikes">Likes</th>
                                @if (@Model.IsManageDashboard == false)
                                {
                                    <th style="vertical-align:top" id="sortLikes">Status</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var campaign in Model.loCampaignsList)
                            {
                                <tr>
                                    <td>@campaign.Id</td>
                                    <td>
                                        @if (@Model.IsManageDashboard == false)
                                        {
                                            <a href="@Url.Action("CampaignDetails", "Campaign", new { Id = campaign.Id, @page = @ViewBag.Currentpageindex })" title="Campaign Details"><div style="overflow-wrap:break-word;max-width:200px">@campaign.CampaignName</div></a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("CampaignDetails", "ManageDashboard", new { Id = campaign.Id, @page = @ViewBag.Currentpageindex })" title="Campaign Details"><div style="overflow-wrap:break-word;max-width:200px">@campaign.CampaignName</div></a>
                                        }
                                    </td>
                                    <td>
                                        @*<a href="@(Url.Action("CharityDetail", "ManageCharity", new { CharityId = @campaign.CharityID, @page = @ViewBag.Currentpageindex, @IsFromDashboard = @Model.IsManageDashboard }))" title="Charity Details"><div style="overflow-wrap:break-word;max-width:200px">@campaign.CharityName</div></a>*@
                                        <a href="@(Url.Action("StudentOrganizationDetail", "ManageStudentOrganization", new { StudentOrganizationId = @campaign.StudentOrganizationId, @page = @ViewBag.Currentpageindex, @IsFromDashboard = @Model.IsManageDashboard }))" title="Student Organization Details"><div style="overflow-wrap:break-word;max-width:200px">@campaign.StudentOrganizationName</div></a>
                                    </td>
                                    <td>@campaign.Likes</td>
                                    @if (@Model.IsManageDashboard == false)
                                    {
                                        <td style="width:10%">@campaign.Status</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                    <div class="col-xs-12 padding-zero text-right">
                        <a id="lnkShowAll_loader" href="@Url.Action("ManageCampaign", "Campaign", new { area = "Company" })" class="show-all" title="Show all campaigns">Show All</a>
                    </div>
                }

                @if (Model.loCampaignsList.Count == 0)
                {
                    <div id="divItemListNoRecord" class="alert alert-warning" align="center">
                        <h4><i class="fa fa-warning"></i> No Record Found </h4>
                    </div>
                }

            </form>
        </div>

        <br />
        @Html.Hidden("hdnOrder", "Id ASC")
        @Html.Hidden("hdnSortingOnColumn", "sortId")
        @Html.Hidden("hdnSortingDirection", "ASC")

    </div>
    <script type="text/javascript">
        var lsgetUserList = '@Url.RouteUrl("Company_default", new { controller = "ManageDashboard", action = "searchCampaigns" })';
        var lsGetUserUrl = "@Url.RouteUrl("Company_default", new { controller = "ManageDashboard", action = "ManageCampaign" })";
        var deleteUserUrl = '@Url.RouteUrl("Company_default", new { controller = "Campaign", action = "DeleteCampaign" })';
    </script>

    <script src="~/Areas/Company/Scripts/Dashboard.js"></script>
</section>
<script>
    $(document).ready(function () {
        $(".menu-item a").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#A1').addClass('active');
    });
</script>