﻿@model PurpicsWeb.Areas.StudentOrganization.Models.Campaigns.CampaignsViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/StudentOrganization/Views/Shared/_StudentOrganizationLayout.cshtml";
}
<style>
    table.padded-table td {
        padding: 20px !important;
    }
</style>

<section>
    <span id="ActiveMenu" style="display: none;">A1</span>
    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-xs-12 breadcrumbs">
            <a href="#" title="Home/Dashboard">Home</a><i class="fa fa-angle-right"></i>
            <span>Dashboard</span>
        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>
        <div class="col-xs-12 main-title agree">
            <h1 class="pull-left">Dashboard</h1>
        </div>
        <div class="col-xs-12 box-main">
            <div class="boxes box box3">
                <span class="digits col-xs-12">@Model.TotalActiveCampaigns</span>
                <span class="texts col-xs-12">Active Campaigns</span>
            </div>
            <div class="boxes box box4 last">
                <span class="digits col-xs-12">@Model.TotalLikes</span>
                <span class="texts col-xs-12">Total Likes</span>
            </div>
        </div>
        @if (Model != null && Model.loCampaignsList.Count > 0)
        {
            <div class="col-md-12 agree">

                <span class="active-span">Active Campaigns:</span>
            </div>
            <div class="table-responsive col-xs-12 dash-table">
                <table class="table table-bordered wordwrap">
                    <tbody>
                        <tr class="heading">
                            <th>Ref ID</th>
                            <th>Campaign Name</th>
                            <th>Sponsor</th>
                            <th>Likes</th>
                        </tr>
                        @foreach (var loCampaign in Model.loCampaignsList)
                        {
                            <tr>
                                <td>@loCampaign.Id</td>
                                <td><a href="@Url.Action("CampaignDetails", "ManageDashboard", new { Id = loCampaign.Id, @page = @ViewBag.Currentpageindex })" title="Campaign Details"><div style="overflow-wrap:break-word;max-width:300px">@loCampaign.CampaignName</div></a></td>
                                <td><a href="@(Url.Action("CompanyDetail", "ManageCompany", new { CompanyId = @loCampaign.CompanyID, @page = @ViewBag.Currentpageindex, @IsFromDashboard = @Model.IsManageDashboard }))" title="Company Details"><div style="overflow-wrap:break-word;max-width:300px">@loCampaign.CharitySponsor</div></a></td>
                                <td>@loCampaign.Likes</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12 text-right">
                <a id="lnkShowAll_loader" href="@Url.Action("", "ManageCampaign", new { area = "StudentOrganization" })" title="Show all campaigns" class="show-all">Show All</a>
            </div>
        }
    </div>
    @Html.Hidden("hdnOrder", "Id ASC")
    @Html.Hidden("hdnSortingOnColumn", "sortId")
    @Html.Hidden("hdnSortingDirection", "ASC")
    <script type="text/javascript">
        var lsgetUserList = '@Url.RouteUrl("StudentOrganization_default", new { controller = "ManageDashboard", action = "searchCampaigns" })';
        var lsGetUserUrl = "@Url.RouteUrl("StudentOrganization_default", new { controller = "DashboardCampaign", action = "ManageCampaign" })";
    </script>
    <script src="@Url.Content("~/Areas/StudentOrganization/Scripts/Campaigns.js?ver=1.1")" type="text/javascript"></script>
</section>
<script>
    $(document).ready(function () {
        $(".menu-item a").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#A1').addClass('active');
    });
</script>
