﻿@model PurpicsWeb.Areas.Admin.ViewModels.CharityPayment.CharityPaymentModel
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"> </script>
<script src="~/Scripts/autoNumeric.js"></script>
@if (TempData["SuccessMsg"] != null && TempData["SuccessMsg"].ToString() != "")
{
    <hr style="border-color:#F7F7F7 !important;" />
    <div class="alert alert-success col-xs-12" style="height:30px; padding:4px !important; margin-bottom:0px !important;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <span style="vertical-align:middle;"> @TempData["SuccessMsg"].ToString()</span>

        @{TempData["SuccessMsg"] = "";}
    </div>
}
@if (TempData["ErrorMsg"] != null && TempData["ErrorMsg"].ToString() != "")
{
    <div class="alert alert-danger col-xs-12" style="height:30px; padding:4px !important; margin-bottom:0px !important;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @TempData["ErrorMsg"].ToString()
    </div>
}
<br />

@if (Model != null && Model.loCharityPaymentList.Count > 0)
{
    <div class="table-responsive col-xs-12 dash-table">
        <table class="table table-bordered">
            <tr class="heading">
                @Html.Hidden("hdnPageIndex", Model.inPageIndex)
                <th id="sortId" onclick="getOrderbyCharityPaymentList('Id', 'sortId');" class="sorting">Ref Id</th>
                <th id="sortCharity" onclick="getOrderbyCharityPaymentList('Charity', 'sortCharity');" class="sorting">Charity</th>
                <th id="sortCampaign" onclick="getOrderbyCharityPaymentList('Campaign', 'sortCampaign');" class="sorting">Campaign</th>
                <th id="sortDate" onclick="getOrderbyCharityPaymentList('Date', 'sortDate');" class="sorting">End Date</th>
                <th>Est. Amount</th>
                <th>Paid</th>
            </tr>

            @*@for (int i = 0; i < Model.loCharityPaymentList.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => m.loCharityPaymentList[i].Id)
                    </td>
                    <td>@Html.DisplayFor(m => m.loCharityPaymentList[i].Charity, new { @class = "wrapcontent" })</td>
                    <td>@Html.DisplayFor(m => m.loCharityPaymentList[i].Campaign, new { @class = "wrapcontent" })</td>
                    <td>@Html.DisplayFor(m => m.loCharityPaymentList[i].CampaignEndDate)</td>
                    <td>@Html.DisplayFor(m => m.loCharityPaymentList[i].EstAmount)</td>
                    <td>
                        @Html.CheckBoxFor(m => m.loCharityPaymentList[i].IsPaid)
                    </td>
                </tr>
            }*@
            @foreach(var pac in Model.loCharityPaymentList)
            {
                <tr>
                    <td>@pac.Id</td>
                    <td><a href="@(Url.Action("CharityDetail", "ManageCharity", new { fiCharityId = pac.CharityID }))" title="Charity Details" class="wrapcontent">@pac.Charity</a></td>
                    @*<td class="wrapcontent">@pac.Charity</td>*@
                    <td><a href="@(Url.Action("CampaignDetail", "ManageCampaigns", new { fiCampaignId = pac.CampaignID }))" title="Campaign Details" class="wrapcontent">@pac.Campaign</a></td>
                    @*<td class="wordwrap">@pac.Campaign</td>*@
                    <td>@Convert.ToDateTime(pac.CampaignEndDate).ToString("MM/dd/yyyy")</td>
                    <td style="text-align:right;">
                        @if (pac.IsPaid == false)
                        {
                            <input type="text" data-a-sign="$ " class="form-control numericOnly auto" maxlength="10" value="@pac.EstAmount" id="@("txt" + pac.Id)" style="height:40px; width:100px;" >
                        }
                        else
                        {
                            <input type="text" data-a-sign="$ " class="form-control numericOnly auto" maxlength="10" value="@pac.EstAmount" id="@("txt" + pac.Id)" style="height:40px; width:100px;" onchange="payPayment(@pac.Id);">
                        }
                        
                    </td>
                    <td><input type="checkbox" class="ChkCourceCls" id="@("chkbox" + pac.Id)" checked="@pac.IsPaid" onchange="confirmStatusChange(@pac.Id)" style="height:16px; width:16px;" /></td>
                </tr>
            }
        </table>
    </div>
    if (@Model.inRecordCount > 10)
    {


        <div class="col-xs-12 showing">
            <span>
                Page @(Model.inPageIndex) out of
                @((Model.inRecordCount + 10 - 1) / 10)
            </span>
            <div class="pull-right">
                @Html.Hidden("hdnTotalRec", @Model.inRecordCount)
                <div id="divPager"></div>
            </div>
        </div>
    }
}
else
{
    <div id="divItemListNoRecord" class="alert alert-warning" align="center" style="margin-top:20%; height:50px;">
        <h4><i class="fa fa-warning"></i> No Record Found </h4>
    </div>
}


<script type="text/javascript">
    $(document).ready(function () {
        GetPager($("#hdnTotalRec").val(), $("#hdnPageIndex").val());
    });

</script>


<script type="text/javascript">

    $('.auto').autoNumeric('init');

</script>	