﻿@model PurpicsWeb.Areas.Admin.ViewModels.CharityPayment.CharityPaymentModel
@{
    ViewBag.Title = "Manage Charity Payment";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<section>
    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-xs-12 breadcrumbs">
            <a href="@Url.RouteUrl("Admin_default", new { action = "", controller = "AdminDashBoard" })" title="Home/Dashboard">Home</a><i class="fa fa-angle-right"></i>
            <span>Charity Payment</span>
        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>
        <div class="col-xs-12 main-title agree">
            <h1 class="pull-left">Charity Payment</h1>
        </div>
        <div class="">
            <form action="#" class="form-horizontal form-bordered">
                <div class="col-md-12 searcharea">
                    <div class="col-md-7">
                        <div class="form-group" style="float:right;">
                            @Html.DropDownList("dropStatus", new List<SelectListItem>()
                                                {
                                                    
                                                    new SelectListItem() { Text= "Unpaid", Value = "0" },
                                                    new SelectListItem() { Text= "Paid", Value = "1" }
                                                }, new { @class = "form-control", style = "width: 250px;", @onchange = "statusSearch(this.value)" })

                        </div>
                    </div>
                    <div class="col-md-4 col-xs-8" style="padding-right:0px;">
                        <div class="usersearch">
                            <input type="text" class="form-control" maxlength="100" id="txtSearch" placeholder="Search by charity name ..." onkeypress="userpay(event);">
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-2" style="padding-left:10px;">
                        <button type="button" id="btnSearch" class="btn" style="background-color:#ee7a34;" title="Search" onclick="charitypay();">Search</button>
                    </div>
                </div>
            </form>
        </div>

        <div id="charityPaymentList">
            @Html.Partial("_ManageCharityPayment", Model)
        </div>

    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modelPaymentConfirm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size:larger;">&times;</span></button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to update payment status?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-black" onclick="checkUnits();">Yes</button>
                    <button type="button" class="btn btn-black" onclick="cancelUpdate();" data-dismiss="modal">Cancel</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    @Html.Hidden("hdnOrder", "Id ASC")
    @Html.Hidden("hdnSortingOnColumn", "sortId")
    @Html.Hidden("hdnSortingDirection", "ASC")
    @Html.Hidden("hdnStatus", "0")
    <script type="text/javascript">
    var lsgetCharityPaymentList = '@Url.RouteUrl("Admin_default", new { controller = "ManageCharityPayment", action = "searchCharityPaymentList" })';
    var lsPayCharityPayment = '@Url.RouteUrl("Admin_default", new { controller = "ManageCharityPayment", action = "PayCharityPayment" })';
        var lsCharityPayment = '@Url.RouteUrl("Admin_default", new { controller = "ManageCharityPayment", action = "CharityPayment" })';
    </script>
    <script src="@Url.Content("~/Areas/Admin/assets/scripts/CharityPayment.js?ver=2.1")" type="text/javascript"></script>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $(".menu-item a").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#A10').addClass('active');

        
    });

    function jsDecimals(el, e) {
        var number = el.value.split('.');
        var evt = (e) ? e : window.event;
        var key = (evt.keyCode) ? evt.keyCode : evt.which;
        if (key != null) {
            key = parseInt(key, 10);
            if ((key < 48 || key > 57) && (key < 96 || key > 105)) {
                if (!jsIsUserFriendlyChar(key, "Decimals", number.length)) {
                    return false;
                }
            }
            else {
                if (evt.shiftKey) {
                    return false;
                }
            }
        }
        return true;
    }
    function jsIsUserFriendlyChar(val, step, valLength) {
        
        // Backspace, Tab, Enter, Insert, and Delete
        if (val == 8 || val == 9 || val == 13 || val == 45 || val == 46) {
            if (valLength > 1) {
                return false;
            }
            else {
                return true;
            }
        }
        // Ctrl, Alt, CapsLock, Home, End, and Arrows
        if ((val > 16 && val < 21) || (val > 34 && val < 41)) {
            return true;
        }
        if (step == "Decimals") {
            if (val == 190 || val == 110) {  //Check dot key code should be allowed
                if (valLength > 1) {
                    return false;
                }
                else {
                    return true;
                }
            }
        }
        // The rest
        return false;
    }
    
    $(document).on("keypress", ".numericOnly", function (e) {

        if (e.keyCode == '9' || e.keyCode == '16') {
            return;
        }
        var number = e.target.value.split('.');
        console.log(e);
        var code;
        if (e.keyCode) code = e.keyCode;
        else if (e.which) code = e.which;
        if (e.which == 46) {
            if (number.length > 1) {
                return false;
            }
            else {
                return true;
            }
        }
        if (code == 8 || code == 46)
            return true;
        if (code < 48 || code > 57)
            return false;
    });
    
</script>

