﻿
/***
Sorting
***/
.sorting,
.sorting_asc,
.sorting_desc,
.sorting_asc_disabled,
.sorting_desc_disabled {
    cursor: pointer;
}

    .sorting:after,
    .sorting_asc:after,
    .sorting_desc:after,
    .sorting_asc_disabled:after,
    .sorting_desc_disabled:after {
        display: none;
    }

.sorting {
    background: url("/images/sort_both.png") no-repeat center right;
}

.sorting_asc {
    background: url("/images/sort_asc.png") no-repeat center right;
}

.sorting_desc {
    background: url("/images/sort_desc.png") no-repeat center right;
}

.sorting_asc_disabled {
    background: url("/images/sort_asc_disabled.png") no-repeat center right;
}

.sorting_desc_disabled {
    background: url("/images/sort_desc_disabled.png") no-repeat center right;
}

.box-main > .box a {
    color: white;
    text-decoration: none;
}

.searcharea > .col-md-1 button {
    color: white;
}

.PrevButton {
    background-color: #EB6F25 !important;
    color: white !important;
}

.NextButton {
    background-color: #282828 !important;
    color: white !important;
}

    .PrevButton i,
    .NextButton i {
        vertical-align: top !important;
    }

.pagingActive {
    background-color: #ee7a34 !important;
    color: white !important;
}

.CharityCheckboxList
{
    border:1px solid #ccc;
    border-radius:4px;
    height: 150px; 
    overflow-y: scroll;
}

.CharityCheckboxListError
{
    border:1px solid #b94a48;
    border-radius:4px;
    height: 150px; 
    overflow-y: scroll;
}

.LogoError
{
    border:1px solid #b94a48 !important;
}