/* Used for style */
body {
    margin: 0;
    background: #F7F7F7;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
}

.header {
    background: #EB6F25;
    padding: 0px;
}

.main {
    margin: 0 auto;
    width: 100%;
}

.header span {
    color: #fff;
    font-size: 20px;
    padding: 20px;
    float: left;
}

    .header span.logo {
        background: url("../../images/Purpics-logo.png") no-repeat scroll center center;
        width: 70px;
        height:60px;
        background-size: cover;
        margin-top: 6px;
    }

.padding-zero {
    padding: 0 !important;
}

.reg-main {
    background: #FCFCFC;
    border: 5px solid #fff;
    padding: 30px;
    margin-top: 80px;
}

.reg-main1 {
    padding: 30px;
    margin-top: 30px;
}

.com-reg {
    font-weight: 800;
    margin-top: 0;
    font-size: 30px;
}

span.terms {
    color: #000;
    font-weight: 600;
}

p {
    font-size: 13px;
    font-weight: 600;
    color: #000;
    line-height: 24px;
}

.agree button.btn-default {
    background-color: #EB6F25;
    border: none;
    padding: 10px 30px;
    color: #fff;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
}

    .agree button.btn-default:hover {
        background-color: #EB6F25;
        border: none;
        color: #fff;
    }

    .agree button.btn-default.prev:hover {
        background-color: #000;
        border: none;
        color: #fff;
    }

hr {
    border: 1px solid #eee !important;
}

.hr-row hr {
    margin-top: 5px;
}

span.info {
    font-weight: bold;
}

.frmregister {
    margin-top: 20px;
}

    .frmregister .form-control, .frmcompaigns .form-control, .frmcharity .form-control {
        border-radius: 0;
    }

    .frmregister label {
        font-weight: normal;
        font-size: 13px;
        color: #616161;
    }

.frmcharity label.control-label {
    font-weight: normal;
    font-size: 12px;
    text-align: left;
    padding-right: 0;
}

.phone1 {
    width: 24%;
    display: inline-block;
}

.phone3 {
    width: 50%;
    display: inline-block;
}

.agree button.prev {
    background: #000;
}

    .agree button.prev i.fa {
        margin-right: 5px;
    }

.header span.logout {
    float: right;
    background: #EE7A34;
    padding: 15px 30px;
}

    .header span.logout i {
        float: left;
        font-size: 24px;
        padding: 4px 10px 0 0;
    }

.admin .header span.logout {
    background: none;
    padding: 12px 30px;
}

.admin .header span.welcome {
    margin: 9px 15px 0;
    border: 0;
    border-right: 1px solid #fff;
    line-height: 15px;
}

.admin .header span.logout a {
    text-transform: capitalize;
    text-decoration: underline;
    font-weight: normal;
}

.header span.logout a {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

.header span.welcome {
    border-left: 1px solid #EF8E55;
    padding: 0 15px;
    margin: 19px 0;
    font-size: 14px;
}

.dashboard-menu {
    background: #282828;
}

    .dashboard-menu a {
        color: #fff;
        padding: 15px;
        font-size: 16px;
        font-weight: 600;
        border-bottom: 1px solid #353535;
        text-decoration: none !important;
    }

        .dashboard-menu a:hover {
            text-decoration: none !important;
            box-shadow: none;
        }

        .dashboard-menu a.active {
            background: #f38630;
        }

            .dashboard-menu a.active i.fa {
                opacity: 1;
            }

        .dashboard-menu a i.fa {
            margin-right: 15px;
            font-size: 20px;
            color: #fff;
            opacity: 0.3;
        }

.breadcrumbs {
    padding: 15px;
    padding-bottom: 0;
}

    .breadcrumbs a {
        color: #282828;
        font-weight: bold;
    }

    .breadcrumbs i.fa {
        margin: 0 4px 0 10px;
    }

    .breadcrumbs span {
        color: #282828;
        font-weight: 600;
        font-size: 13px;
    }

.main-title {
    padding-bottom: 15px;
}

    .main-title h1 {
        margin: 0;
        font-weight: 300;
        color: #5d5d5d;
    }

.create i.fa {
    margin-right: 10px;
}

button.btn-default.create {
    padding: 5px 20px;
    margin-top: 5px;
}

.box-main {
    padding: 15px;
    margin-top: 10px;
}

    .box-main .box {
        width: 32%;
        float: left;
        margin-right: 2%;
        padding: 30px 15px;
        border-radius: 2px;
    }

        .box-main .box.boxes {
            width: 24%;
            float: left;
            margin-right: 1%;
            padding: 30px 15px;
        }

.box.last {
    margin-right: 0;
}

.box span {
    color: #fff;
}

    .box span.digits {
        font-weight: bold;
        font-size: 30px;
    }

.box-main .box1 {
    background: #17A086;
}

.box-main .box2 {
    background: #27AE61;
}

.box-main .box3 {
    background: #F39B13;
}

.box-main .box4 {
    background: #D45300;
}

span.active-span {
    font-size: 22px;
    margin-top: 15px;
    float: left;
    font-weight: normal;
    color: #5d5d5d;
}

.dash-table {
    margin-top: 20px;
}

tr.heading {
    background: #E6E6E6;
}

tr.odd {
    background: #F3F3F3;
}

.compaigns-form {
    background: #fff;
    border: 1px solid #eee;
    padding: 15px;
}

.frmcompaigns {
    margin: 20px;
}

    .frmcompaigns .control-label {
        text-align: left;
    }

.div-plus i.fa {
    margin-right: 10px;
}

.div-plus i.fa, .div-plus span {
    color: #EE7A34;
    cursor: pointer;
}

.box-main .pack1 {
    background: #CBCBCB;
    background: -webkit-linear-gradient(#F6F6F6, #CBCBCB); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F6F6F6, #CBCBCB); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F6F6F6, #CBCBCB); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F6F6F6, #CBCBCB); /* Standard syntax */
    border: 1px solid #CBCBCB;
}

.box-main .pack2 {
    background: #DDA503;
    background: -webkit-linear-gradient(#FED254, #DDA503); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FED254, #DDA503); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FED254, #DDA503); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FED254, #DDA503); /* Standard syntax */
    border: 1px solid #DDA503;
}

.box-main .pack3 {
    background: #AAAAAA;
    background: -webkit-linear-gradient(#ECECEC, #AAAAAA); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ECECEC, #AAAAAA); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ECECEC, #AAAAAA); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ECECEC, #AAAAAA); /* Standard syntax */
    border: 1px solid #AAAAAA;
}

.frmcompaigns .form-group.agree {
    margin-top: 20px;
}

.box-main .pack1 span, .box-main .pack2 span, .box-main .pack3 span {
    color: #282828;
    text-align: center;
}

.pagination {
    margin-top: 0;
}

    .pagination a {
        border: 1px solid #ddd;
        padding: 8px 14px;
        color: #aaa;
        float: left;
        margin: 2px;
        background: #fff;
    }

        .pagination a i.fa {
            color: #E8E8E8;
            font-weight: bold;
            font-size: 18px;
        }

        .pagination a.active {
            color: #fff;
            background: #EE7A34;
        }

.show-all {
    color: #282828;
    font-weight: bold;
    text-decoration: underline;
}

span.bold-span {
    font-weight: bold;
    font-size: 23px;
}

.charity-main {
    display: none;
    position: absolute;
    background: #000;
    width: 100%;
    height: 100%;
    z-index: 99;
    opacity: 0.95;
    text-align: center;
}

.charity-box {
    background: #fff;
    border-radius: 6px;
    display: inline-block;
    float: none;
    position: relative;
    top: 8%;
}

    .charity-box .fa-times {
        position: absolute;
        right: -20px;
        float: right;
        font-size: 22px;
        color: #BE1E2D;
        cursor: pointer;
    }

    .charity-box .active-span {
        margin-top: 10px;
    }

    .charity-box hr {
        margin-top: 10px;
    }

    .charity-box .add-now {
        position: absolute;
        bottom: -30px;
    }

.charity-table {
    text-align: left;
}

.squaredTwo {
    width: 20px;
    height: 20px;
    background: #EE7A34;
    float: left;
    position: relative;
}

    .squaredTwo:hover {
        background: green;
    }

    .squaredTwo input[type=checkbox], .squaredFour input[type=checkbox] {
        visibility: hidden;
        margin: 0;
    }

.charity-table label {
    cursor: pointer;
    position: absolute;
    width: 14px;
    height: 14px;
    left: 3px;
    top: 3px;
    margin: 0;
    /*-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1); */
    background: #fff;
}

.squaredTwo label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 3px;
    border: 3px solid green;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.squaredTwo label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.squaredTwo input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.charity-table span {
    margin-left: 10px;
}

.squaredFour {
    position: relative;
    border-radius: 3px;
}

    .squaredFour label {
        cursor: pointer;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin: 0;
        z-index: 1;
    }

        .squaredFour label:after {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
            opacity: 0;
            content: '';
            position: absolute;
            width: 16px;
            height: 10px;
            background: transparent;
            top: 5px;
            right: 8px;
            border: 3px solid #fff;
            border-top: none;
            border-right: none;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .squaredFour label:hover::after {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
            filter: alpha(opacity=30);
            opacity: 0.5;
        }

    .squaredFour input[type=checkbox]:checked + label:after {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 0.5;
    }

.fileUpload {
    position: relative;
    overflow: hidden;
}

    .fileUpload span {
        cursor: pointer;
        color: #EE7A34;
        position: relative;
        z-index: 9;
    }

        .fileUpload span i.fa {
            margin-right: 10px;
        }

    .fileUpload #txtcompanylogo {
        width: 100%;
        left: 0;
        cursor: pointer;
    }

.company .fileUpload {
    width: 100%;
    padding: 6px 12px;
    background: #fff;
    border: 1px dashed #ddd;
    text-align: center;
    height: 38px;
    cursor: pointer;
}

.fileUpload span.companylogo {
    color: #808080;
    display: block;
    cursor: pointer;
}

.fileUpload input.upload, .fileimage #flimage {
    position: absolute;
    top: 0;
    left: 15px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 0;
}

.fileimage .fallback #flimage {
    height: 100%;
    width: 100%;
    float: left;
    left: 0;
    cursor: pointer;
}








.fileUpload input.upload, .fileimage #CampaignImage {
    position: absolute;
    top: 0;
    left: 15px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 0;
}

.fileimage .fallback #CampaignImage {
    height: 100%;
    width: 100%;
    float: left;
    left: 0;
    cursor: pointer;
}


.fileUpload input.upload, .fileimage #CouponCode {
    position: absolute;
    top: 0;
    left: 15px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 0;
}

.fileimage .fallback #CouponCode {
    height: 100%;
    width: 100%;
    float: left;
    left: 0;
    cursor: pointer;
}

.fileimage #imgCampaignImage {
    width: 100%;
}


.fileimage #imgCampaignDetailsImage {
    width: 100%;
}


.fileimage #upimg {
    width: 100%;
}

.fileimage .fallback {
    border: 2px dashed #ddd;
    float: left;
    position: relative;
}

label.monthprice {
    font-size: 30px;
    width: 100%;
    color: #000;
}

    label.monthprice span {
        font-weight: bold;
        color: #EB6F25;
    }

.main-title span {
    margin-top: 10px;
}

.account-main {
    margin-top: 20px;
}

    .account-main .compaigns-form .control-label {
        text-align: left;
    }

    .account-main .compaigns-form label.control-label {
        color: #5b585a;
        padding-right: 10px;
    }

    .account-main .compaigns-form {
        width: 49%;
    }

    .account-main label.info {
        font-size: 18px;
    }

    .account-main .bank .btn.btn-default {
        margin-left: 10px;
    }

    .account-main .bank-info {
        margin-top: 20px;
    }

.package label.info {
    font-size: 20px;
}

.compaigns-details {
    margin-top: 20px;
    margin-bottom: 10px;
}

    .compaigns-details .control-label {
        text-align: left;
    }

.box span.t-black.digits {
    color: #000;
    font-size: 18px;
    margin-bottom: 5px;
    text-align: center;
}

.box span.agree {
    text-align: center;
}

    .box span.agree button.btn-default {
        display: inline-block;
        float: none;
    }

.account-info .compaigns-form {
    margin-top: 20px;
}

.account-info .form-horizontal .control-label {
    text-align: left;
    font-size: 16px;
}

.account-info .frmcompaigns {
    margin: 0;
}

.account-info .account.agree {
    position: relative;
    padding-top: 0;
    margin-top: 10px;
}

    .account-info .account.agree .form-control {
        height: 45px;
        font-size: 17px;
    }

    .account-info .account.agree button.btn-default {
        border-radius: 0;
        width: 150px;
        padding: 7px 0;
        position: absolute;
        bottom: 5px;
        right: 20px;
    }

.login-main {
    background: #fff;
    padding: 10px 50px 50px;
    width: 410px;
    text-align: center;
}

.admin.login {
    background: url("../../images/login-bg.png") no-repeat scroll center center;
    background-size: cover;
}

.login-form .title {
    margin-bottom: 0;
}

.charity-package .active-span {
    color: #000;
}

.login-form .logo img {
    max-width: 100%;
    height: auto;
}

.copyrights {
    color: #fff;
    font-size: 12px;
    padding: 10px;
}

.login-form .title label {
    font-size: 40px;
    margin-bottom: 0;
    line-height: 35px;
}

.showing span {
    font-weight: 600;
}

.login-form hr {
    border-top: 1px solid #ccc !important;
    margin-bottom: 30px;
}

.login-form .agree button.btn-default {
    padding: 12px 0px;
}

.login-form .form-control {
    border-radius: 0;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #000;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #000;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #000;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #000;
}

:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    color: #000;
}

.table.table-bordered > thead > tr > th, .table.table-bordered > tbody > tr > th, .table.table-bordered > tfoot > tr > th, .table.table-bordered > thead > tr > td, .table.table-bordered > tbody > tr > td, .table.table-bordered > tfoot > tr > td {
    border: none;
    color: #282828;
    font-family: 'Open Sans', sans-serif;
}

.table.table-bordered > thead > tr > td, .table.table-bordered > tbody > tr > td, .table.table-bordered > tfoot > tr > td {
    font-weight: 600;
    color: #3a3a3a;
    font-size: 13px;
}

.table.table-bordered > thead > tr > th, .table.table-bordered > tbody > tr > th, .table.table-bordered > tfoot > tr > th {
    font-weight: bold;
}

.container-fluid.padding-zero .header {
    padding-left: 10px;
    padding-top:2px;
    padding-bottom:7px;
}

.padding-zero .bold-span {
    padding-left: 8px;
}

.signup .agree.col-xs-12 {
    padding-bottom: 20px !important;
}

.signup .agree button.btn-default.red {
    background: #be1e2d;
}

.signup .agree.col-xs-12 span {
    font-size: 16px;
    padding-top: 30px;
    display: block;
    clear: both;
}

    .signup .agree.col-xs-12 span a {
        font-weight: bold;
        color: #000;
        text-decoration: underline;
    }

        .signup .agree.col-xs-12 span a:hover {
            text-decoration: none;
        }

/* Media Queries */

@media screen and (max-width: 1024px) {
    .phone3 {
        width: 49%;
    }

    .box span {
        padding: 0;
    }

        .box span.digits {
            font-size: 20px;
        }
}

@media screen and (max-width: 980px) {
    .box span {
        font-size: 11px;
    }

    span.bold-span, span.active-span {
        font-size: 17px;
    }

    .frmcompaigns .control-label {
        font-size: 9px;
    }

    .frmcompaigns .phone3, .compaigns-details .phone3 {
        width: 100%;
    }

    .fileimage .fallback {
        height: auto;
    }

    .account-main .compaigns-form {
        width: 100%;
    }

        .account-main .compaigns-form .control-label {
            float: left;
        }

        .account-main .compaigns-form.left {
            margin-bottom: 20px;
        }

        .account-main .compaigns-form .control-label.agree {
            float: right;
        }

    .main-title h1 {
        font-size: 30px;
    }

    .box span.t-black.digits {
        font-size: 11px;
    }

    .box span.agree button.btn-default {
        padding: 8px 10px;
        font-size: 11px;
    }
}

@media screen and (max-width: 767px) {
    .table-responsive {
        border: 0;
    }

    .main-title h1 {
        font-size: 35px;
    }

    .box span.t-black.digits {
        font-size: 18px;
    }

    .box span.agree button.btn-default {
        padding: 8px 20px;
        font-size: 15px;
    }

    .table-responsive > .table-bordered {
        border: 1px solid #ddd;
    }

    .box span {
        font-size: 1rpx;
    }

    .dashboard-menu {
        height: auto !important;
    }

    .account-main label.info {
        font-size: 15px;
    }

    .frmcompaigns .control-label {
        font-size: 14px;
    }

    .account-main .control-label.agree .btn.btn-default {
        padding: 5px 20px;
    }

    .account-main .compaigns-form label.control-label {
        width: 48%;
    }

    .account-main .compaigns-form .control-label {
        width: 52%;
    }

    .account-main .compaigns-form label.control-label.col-sm-8 {
        width: 62%;
    }

    .account-main .compaigns-form div.control-label.col-sm-4 {
        width: 38%;
    }

    .admin .account-main .compaigns-form label.control-label.info, .admin .account-main .fileimage .phone3 {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .box-main .box, .box-main .box.boxes {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }

    .table-responsive {
        border: 0;
    }
}

@media screen and (max-width: 480px) {
    .dashboard-menu a {
        padding: 15px 0;
    }

    .header span {
        width: 100%;
        text-align: center;
    }

    .header span {
        float: none;
    }

    .header {
        text-align: center;
    }

        .header span.logo {
            display: inline-block;
        }

        .header span.logout i {
            float: none;
            display: inline-block;
        }

    .charity-box .fa-times {
        right: 4px;
        top: 4px;
        z-index: 9;
    }

    .login-main {
        width: 310px;
        padding: 30px;
    }

    .header span.welcome {
        margin: 0;
    }

    .dashboard-menu a, .breadcrumbs, .main-title, .box-main .box, .showing, .frmcompaigns .form-group.agree {
        text-align: center;
    }

        button.btn-default.create, .frmcompaigns .form-group.agree button.btn-default {
            margin-top: 15px;
            float: none !important;
            display: inline-block;
        }

        .main-title h1 {
            width: 100%;
        }

    .pagination a {
        float: none;
        display: inline-block;
        margin-top: 20px;
    }

    .pagination {
        width: 100%;
        text-align: center;
    }

    .main-title span {
        float: none !important;
        display: inline-block;
    }

    .account-main .agree.bank {
        float: none !important;
        text-align: center;
    }

        .account-main .agree.bank label.info {
            width: 100%;
            margin-bottom: 20px;
        }

    .admin .header span.welcome {
        margin: 5px 0 10px;
        border-right: 0;
    }

    .admin .header span.logout {
        float: none;
        display: inline-block;
        padding-top: 0;
    }
}

@media screen and (max-width: 320px) {
    .phone3 {
        width: 48%;
    }
}


.agree a.btn-default {
    background-color: #EB6F25;
    border: none;
    padding: 10px 30px;
    color: #fff;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
}

    .agree a.btn-default:hover {
        background-color: #EB6F25;
        border: none;
        color: #fff;
    }

    .agree a.btn-default.prev:hover {
        background-color: #000;
        border: none;
        color: #fff;
    }

.field-validation-error {
    color: #B94A48 !important;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 20px;
    font-family: 'Open Sans' !important;
    font-weight: bold !important;
}

.input-validation-error {
    border: 1px solid #B94A48 !important;
}

.required {
    font-size: 14px;
    color: #B94A48 !important;
    font-weight: bold;
    display: inline-block;
}

.btnPurpics {
    background-color: #ee7a34;
    color: white !important;
}
.msgthank
{
    text-align:center;
    padding-top:50px;
    font-weight:bold;
    font-size:30px;
}
.wordwrap {
    word-wrap: break-word !important;
}
.loginlogo
{
     background: rgba(0, 0, 0, 0) url("../../images/logo_colored.jpg") no-repeat scroll center center / cover ;
    height: 100px;
    margin-top: 6px;
    width: 100px;
    margin-left:34%;
}
.wrapcontent
{
    max-width:270px; 
    min-width:200px;
    word-wrap:break-word; 
    display:inline-block;
}