﻿@model PurpicsWeb.Areas.Admin.ViewModels.AccountInformation.AccountEmail

@{
    ViewBag.Title = "Account Information";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<section>
    @if (TempData["SuccessConfirmationMessage"] != null && TempData["SuccessConfirmationMessage"].ToString() != "")
    {
        <hr style="border-color:#F7F7F7 !important;" />
        <div class="alert alert-success col-xs-12" style="height:30px; padding:4px !important; margin-bottom:0px !important; margin-top:10px;">
            <span class="close" data-dismiss="alert" aria-label="close">&times;</span>
            @TempData["SuccessConfirmationMessage"].ToString()

            @{TempData["SuccessConfirmationMessage"] = "";}
        </div>
    }
    @if (TempData["ErrorMsg"] != null && TempData["ErrorMsg"].ToString() != "")
    {
        <div class="alert alert-success col-xs-12" style="height:30px; padding:4px !important; margin-bottom:0px !important; margin-top:10px;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @TempData["ErrorMsg"].ToString()
        </div>
    }


    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-xs-12 breadcrumbs">
            <a href="@Url.RouteUrl("Admin_default", new { action = "", controller = "AdminDashBoard" })" title="Home/Dashboard">Home</a><i class="fa fa-angle-right"></i>
            <span>Account Information</span>
        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>
        <div class="col-xs-12 main-title">
            <h1 class="pull-left">Account Information</h1>
        </div>
        <div class="col-xs-12 account-info padding-zero">
            <form class="form-horizontal frmcompaigns col-xs-12" name="frmcompaigns">
                <div class="compaigns-form col-xs-12">
                    <div class="col-xs-12 padding-zero">
                        <div class="form-group">
                            <label class="col-xs-12 control-label info">Change Email:</label>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 col-md-8 control-label">
                                <div class="form-group">
                                    <label class="col-md-4 control-label" style="color:#555;font-size:14px">Email&nbsp;<span class="required">*</span></label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", @type = "email", @id = "txtemail", @name = "txtemail" })
                                        <div class="required">
                                            <span class="field-validation-error" id="msgEmail" style="display: none;">Please enter email.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" style="color:#555;font-size:14px"></label>
                                    <div class="col-md-7">
                                        @*<button type="submit" class="btn" id="btnChangeEmail" onclick="ChangeEmail();" style="background-color:#eb6f25; color:white">Change Email</button>*@
                                        <a tabindex="5" title="Submit" class="btn pull-right" id="btnChangeEmail" style="background-color:#eb6f25; color:white" onclick="ChangeEmail();">
                                            Change Email
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <hr/>
                        <div class="form-group">
                            <label class="col-xs-12 control-label info">Change Password:</label>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12 col-md-8 control-label account agree">
                                @using (Html.BeginForm("ChangePassword", "AccountInformation", FormMethod.Post, new { @class = "form-horizontal col-xs-12", role = "form", @id = "frmAccountInformation" }))
                                {
                                    <div class="form-horizontal">
                                        <div class="col-md-12">
                                            <span class="field-validation-error" id="msgError" style="display: none;"></span>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" style="color:#555;font-size:14px">Old Password&nbsp;<span class="required">*</span></label>
                                                <div class="col-md-7">
                                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @style = "height: 34px;font - size: 14px;" })
                                                    <div class="required">
                                                        <span class="field-validation-error" id="msgstOldPassword" style="display: none;">Please enter Existing Password.</span>
                                                        <span class="field-validation-error" id="msgstWrongOldPassword" style="display: none;">Existing password is not valid.</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" style="color:#555;font-size:14px">New Password&nbsp;<span class="required">*</span></label>
                                                <div class="col-md-7">
                                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @style = "height: 34px;font - size: 14px;" })
                                                    <div class="required">
                                                        <span class="field-validation-error" id="msgstNewPassword" style="display: none;">Please enter New Password.</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" style="color:#555;font-size:14px">Confirm Password&nbsp;<span class="required">*</span></label>
                                                <div class="col-md-7">
                                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @style = "height: 34px;font - size: 14px;" })
                                                    <div class="required">
                                                        <span class="field-validation-error" id="msgstConfirmPassword" style="display: none;">Please enter Confirm Password.</span>
                                                        <span class="field-validation-error" id="msgstMismatchPassword" style="display: none;">New password and confirm password are not matched.</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label"></label>
                                                <div class="col-md-7">
                                                    <a tabindex="5"  title="Submit" class="btn pull-right" id="btnSubmit" style="background-color:#eb6f25; color:white" onclick="changePassword();">
                                                        Change Password
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>



</section>
<script>
    $(document).ready(function () {

        @*$("#btnChangeEmail").click(function (event) {
            event.preventDefault();
            var url = '@Url.Action("EditEmail", "AccountInformation")';
            window.location.href = url;
        });*@

        $(".menu-item a").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#A7').addClass('active');
    });

    function isValidFrom() {
        var fbIsValidValues = true;

        if ($("#OldPassword").val().trim() == '') {
            $("#OldPassword").addClass("input-validation-error");
            $("#msgstOldPassword").css("display", "block");
            fbIsValidValues = false;
        }
        else {
            $("#OldPassword").removeClass("input-validation-error");
            $("#msgstOldPassword").css("display", "none");
        }

        if ($("#NewPassword").val().trim() == '') {
            $("#NewPassword").addClass("input-validation-error");
            $("#msgstNewPassword").css("display", "block");
            fbIsValidValues = false;
        }
        else {
            $("#NewPassword").removeClass("input-validation-error");
            $("#msgstNewPassword").css("display", "none");
        }

        if ($("#ConfirmPassword").val().trim() == '') {
            $("#ConfirmPassword").addClass("input-validation-error");
            $("#msgstConfirmPassword").css("display", "block");
            fbIsValidValues = false;
        }
        else {
            $("#ConfirmPassword").removeClass("input-validation-error");
            $("#msgstConfirmPassword").css("display", "none");

            if ($("#NewPassword").val().trim() != $("#ConfirmPassword").val().trim()) {
                $("#ConfirmPassword").addClass("input-validation-error");
                $("#msgstMismatchPassword").css("display", "block");
                fbIsValidValues = false;
            }
            else {
                $("#ConfirmPassword").removeClass("input-validation-error");
                $("#msgstMismatchPassword").css("display", "none");
            }
        }
        return fbIsValidValues;
    }

    function changePassword() {

        if (!isValidFrom()) {
            return false;
        }

        var request =
            {
                OldPassword: $("#OldPassword").val().trim(),
                NewPassword: $("#NewPassword").val(),
                ConfirmPassword: $("#ConfirmPassword").val()
            }

        var model = JSON.parse(JSON.stringify({ 'model': request }));
        $.ajax({
            type: "POST",
            url: "/Admin/AccountInformation/ChangePassword",
            content: "application/json; charset=utf-8",
            dataType: "json",
            async: true,
            processing: true,
            data: model,
            success: function (lodata) {
                if (lodata != null) {
                    if (lodata.Status == 1) {
                        DisplayMessage("Password updated successfully.");
                        $("#msgstWrongOldPassword").css("display", "none");
                    }
                    else if (lodata.Status == -2) {
                        $("#msgstWrongOldPassword").css("display", "none");
                        DisplayMessage("Invalid user session. Try login again.");
                    }
                    else if (lodata.Status == -1) {
                        $("#msgError").css("display", "block");
                        $("#msgError").text(lodata.Message);
                    }
                }
            }
        });
        return false;
    }

    function ChangeEmail() {

        if ($("#txtemail").val().trim() == '') {
            $("#txtemail").addClass("input-validation-error");
            $("#msgEmail").css("display", "block");
            return false;
        }
        else {
            $("#txtemail").removeClass("input-validation-error");
            $("#msgEmail").css("display", "none");
        }

        var request =
            {
                EmailAddress: $("#txtemail").val().trim(),
            }

        var model = JSON.parse(JSON.stringify({ 'model': request }));
        $.ajax({
            type: "POST",
            url: "/Admin/AccountInformation/ChangeEmail",
            content: "application/json; charset=utf-8",
            dataType: "json",
            async: true,
            processing: true,
            data: model,
            success: function (lodata) {
                if (lodata != null) {
                    if (lodata.Status == 1) {
                        DisplayMessage("Email updated successfully.");
                    }
                    else if (lodata.Status == 0) {
                        $("#msgEmail").css("display", "block");
                        $("#msgEmail").text(lodata.Message);
                    }
                    else if (lodata.Status == -1) {
                        $("#msgEmail").css("display", "block");
                        $("#msgEmail").text(lodata.Message);
                    }
                }
            }
        });
        return false;
    }
</script>