﻿@model PurpicsWeb.Areas.Admin.ViewModels.AccountInformation.AccountInformation
@{
    ViewBag.Title = "EditPassword";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section>
    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-xs-12 breadcrumbs">
            <a href="@Url.RouteUrl("Admin_default", new { action = "", controller = "AdminDashBoard" })" title="Home/Dashboard">Home</a><i class="fa fa-angle-right"></i>
            <span>Account Information</span>
        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>
        <div class="col-xs-12 main-title">
            <h1 class="pull-left">Account Information</h1>
        </div>
        @if (TempData["SuccessConfirmationMessage"] != null && TempData["SuccessConfirmationMessage"].ToString() != "")
        {
            <hr style="border-color:#F7F7F7 !important;" />
            <div class="alert alert-success col-xs-12" style="height:30px; padding:4px !important; margin-bottom:0px !important; margin-top:10px;">
                <span class="close" data-dismiss="alert" aria-label="close">&times;</span>
                @TempData["SuccessConfirmationMessage"].ToString()

                @{TempData["SuccessConfirmationMessage"] = "";}
            </div>
        }
        @if (TempData["ErrorMsg"] != null && TempData["ErrorMsg"].ToString() != "")
        {
            <div class="alert alert-success col-xs-12" style="height:30px; padding:4px !important; margin-bottom:0px !important; margin-top:10px;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                @TempData["ErrorMsg"].ToString()
            </div>
        }

        @using (Html.BeginForm("ChangePassword", "AccountInformation", FormMethod.Post, new { @class = "form-horizontal col-xs-12", role = "form", @id = "frmAccountInformation" }))
        {
            <div class="form-horizontal">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })

                <div class="col-md-9">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Email&nbsp;</label>
                        <div class="col-md-6" style="padding-top: 7px;">
                            @Model.EmailAddress
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Old Password&nbsp;<span class="required">*</span></label>
                        <div class="col-md-7">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                            <div class="required">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">New Password&nbsp;<span class="required">*</span></label>
                        <div class="col-md-7">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            <div class="required">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Confirm Password&nbsp;<span class="required">*</span></label>
                        <div class="col-md-7">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            <div class="required">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-10">
                            <input type="submit" value="Change Password" title="Change Password" id="btnSubmit" onclick="return validateAccountInformation();" style="background-color:#eb6f25; color:white" class="btn btn-addnew" />
                            <a class="btn" style="background-color:#282828; color:white" title="Cancel" onclick="cancelForm();" href="@Url.RouteUrl("Admin_default", new { action = "", controller = "AccountInformation" })">
                                <i class=" fa fa-angle-left"></i>&nbsp;&nbsp;Cancel
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-10">
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        }
    </div>
</section>

<script>
    $(document).ready(function () {
        $(".menu-item a").removeClass("active");//this will remove the active class from
        $('#A7').addClass('active');

    });

    function validateAccountInformation() {

        var form = $("#frmAccountInformation");

        form.valid();

        if (form.valid()) {
            form.submit();
            if ($("#loadingbar").length === 0) {
                $("body").append("<div id='loadingbar'></div>")
                $("#divLoader").css("display", "block");
                $("#loadingbar").addClass("waiting").append($("<dt/><dd/>"));
                $("#loadingbar").width((50 + Math.random() * 30) + "%");
            }
        }
        return false;
    }
</script>

