﻿@model PurpicsWeb.Areas.Company.Models.Campaign

<style type="text/css">
    .selectboxit-container .selectboxit, .selectboxit-container .selectboxit-options {
        width: 150px; /* Width of the dropdown button */
        border-radius: 0;
        max-height: 240px;
    }

    .selectboxit-options .selectboxit-option .selectboxit-option-anchor {
        white-space: normal;
        min-height: 30px;
        height: auto;
    }
</style>
<style>
    tr:nth-child(odd) {
        background: #F3F3F3;
    }

    tr:nth-child(even) {
        background: #FFF;
    }

    table td {
        padding: 6px !important;
    }


    .radioLeft {
        float: left;
    }

    .textBlock {
        float: left;
        width: 80%;
    }
</style>

<div id="divCharityList">

    <div class="form-group">
        <label class="col-sm-2 control-label" style="font-weight: normal;font-size: 13px;">By Category:</label>
        <div class="col-sm-4 control-label">
            @Html.DropDownList("Categories", new SelectList(Model.loCharityCategories, "Id", "Name"), "- Category -", new { @class = "form-control", @onchange = "FillCharityInfo()" })
        </div>

        <label class="col-sm-2 control-label" style="font-weight: normal;font-size: 13px;">By Zipcode:</label>
        <div class="col-sm-4 control-label">
            <div>@Html.DropDownList("Zipcodes", new SelectList(Model.loZipcodes), "- Zipcode -", new { @class = "form-control", @onchange = "FillCharityInfoforZipcodes()" })</div>
        </div>
    </div>
    <br /><br /><br />
    <div class="form-group">
        <div class="table-responsive col-xs-12 charity-table">
            <table class="table table-bordered">
                <tr class="heading">
                    <th>Charity Name</th>
                    <th>Catagory</th>
                    <th>Zipcode</th>
                    <th>View details</th>
                </tr>
                @foreach (var pac in Model.loCharities)
                {

                    <tr>
                        <td>
                            <div>
                                @Html.RadioButton("MID", @pac.Id, new { style = "float:left;" }) <span class="textBlock"><div style="overflow-wrap:break-word;max-width:200px" class="wrapcontent">@pac.CharityName</div></span>
                            </div>
                        </td>
                        <td>
                            <div style="overflow-wrap:break-word;max-width:100px">@pac.CharityCategories.Name</div>
                        </td>
                        <td><div style="overflow-wrap:break-word;max-width:100px">@pac.Zip</div></td>
                        <td><a href="@(Url.Action("CharityDetail", "ManageCharity", new { CharityId = @pac.Id, @page = @ViewBag.Currentpageindex, @showBackButton=false }))" title="Charity Details" target="_blank">View details</a></td>
                    </tr>

                }
            </table>
        </div>

    </div>


</div>







<script>

    function FillCharityInfo() {
        var categoryid = 0;
        if ($('#Categories').val() != '') {
            categoryid = $('#Categories').val();
        }


        $.ajax({
            type: "POST",
            url: '/Campaign/getCharityDataByID',
            content: "application/json; charset=utf-8",
            dataType: "html",
            data: {
                CategoryId: categoryid
            },
            success: function (lodata) {
                if (lodata != null) {
                    var divCharityList = $('#divCharityList');

                    divCharityList.html(lodata);
                    $("#Categories").val(categoryid);
                    $("#Categories").data("selectBox-selectBoxIt").refresh();


                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                if (errorThrown == "abort") {
                    return;
                }
                else {
                    alert(errorThrown);
                }
            }
        });
    }


    function FillCharityInfoforZipcodes() {

        var zipcode = '';
        if ($('#Zipcodes').val() != '') {
            var zipcode = $('#Zipcodes').val();
        }


        $.ajax({
            type: "POST",
            url: '/Campaign/getCharityDataByZipcode',
            content: "application/json; charset=utf-8",
            dataType: "html",
            data: {
                zipcode: zipcode
            },
            success: function (lodata) {
                if (lodata != null) {
                    var divCharityList = $('#divCharityList');

                    divCharityList.html(lodata);
                    $("#Zipcodes").val(zipcode);
                    $("#Zipcodes").data("selectBox-selectBoxIt").refresh();
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                if (errorThrown == "abort") {
                    return;
                }
                else {
                    alert(errorThrown);
                }
            }
        });
    }

</script>



<script type="text/javascript">
    $(document).ready(function () {


        $("#Categories").selectBoxIt({
            autoWidth: false
        });

        $("#Zipcodes").selectBoxIt({
            autoWidth: false
        });


    });
</script>