﻿@model PurpicsWeb.Areas.Company.Models.Campaigns.CampaignsViewModel
@{
    if (ViewBag.Currentpageindex == null)
    {
        ViewBag.Currentpageindex = 1;
    }
}
<input type="hidden" id="hdnPageIndex" value="@ViewBag.Currentpageindex" />
@if (Model != null && Model.loCampaignsList.Count > 0)
{
    if (TempData["SuccessMsg"] != null && TempData["SuccessMsg"].ToString() != "")
    {

        <div class="alert alert-success col-xs-12">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span style="vertical-align:middle;"> @TempData["SuccessMsg"].ToString()</span>

            @{TempData["SuccessMsg"] = "";}
        </div>
        <br />
    }
    <br />
    <table class="table table-bordered wordwrap">
        <thead>
            <tr class="heading" style="vertical-align:top">
                <th style="vertical-align:top" id="sortId" onclick="getOrderbyUserList('Id', 'sortId');" class="sorting">Ref ID</th>
                <th style="vertical-align:top" id="sortCaption" onclick="getOrderbyUserList('CampaignName', 'sortCaption');" class="sorting">Campaign Name</th>
                @*<th style="vertical-align:top" id="sortCharityName" onclick="getOrderbyUserList('CharityName', 'sortCharityName');" class="sorting">Charity Sponsor</th>*@
                <th style="vertical-align:top" id="sortStudentOrganization" onclick="getOrderbyUserList('SOName', 'sortStudentOrganization');" class="sorting">Student Organization</th>
                <th style="vertical-align:top" id="sortLikes" onclick="getOrderbyUserList('Likes', 'sortLikes');" class="sorting">Likes</th>
                @if (@Model.IsManageDashboard == false)
                {
                    <th style="vertical-align:top" id="sortStatus" onclick="getOrderbyUserList('Status', 'sortStatus');" class="sorting">Status</th>
                }
                <th style="vertical-align:top">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var campaign in Model.loCampaignsList)
            {
                <tr>
                    <td>@campaign.Id</td>
                    <td>
                        @if (@Model.IsManageDashboard == false)
                        {
                            <a href="@Url.Action("CampaignDetails", "Campaign", new { Id = campaign.Id, @page = @ViewBag.Currentpageindex })" title="Campaign Details"><div style="overflow-wrap:break-word;max-width:200px">@campaign.CampaignName</div></a>
                        }
                        else
                        {
                            <a href="@Url.Action("CampaignDetails", "ManageDashboard", new { Id = campaign.Id, @page = @ViewBag.Currentpageindex })" title="Campaign Details"><div style="overflow-wrap:break-word;max-width:200px">@campaign.CampaignName</div></a>
                        }
                    </td>
                    <td>
                    @*<a href="@(Url.Action("CharityDetail", "ManageCharity", new { CharityId = @campaign.CharityID, @page = @ViewBag.Currentpageindex }))" title="Charity Details"><div style="overflow-wrap:break-word;max-width:200px">@campaign.CharityName</div></a>*@
                        <a href="@(Url.Action("StudentOrganizationDetail", "ManageStudentOrganization", new { StudentOrganizationId = @campaign.StudentOrganizationId, @page = @ViewBag.Currentpageindex }))" title="Student Organization Details"><div style="overflow-wrap:break-word;max-width:200px">@campaign.StudentOrganizationName</div></a>
                    </td>
                    <td>@campaign.Likes</td>
                    @if (@Model.IsManageDashboard == false)
                    {
                        <td>@campaign.Status</td>
                    }
                    <td><a href="@Url.Action("ShowEditCampaignView", "Campaign", new { CampaignID = campaign.Id, IsManageDashboard=@Model.IsManageDashboard, @page = @ViewBag.Currentpageindex })" title="Edit" id="lnkEdit_loader"><i class="fa fa-pencil-square-o" style="font-size: 1.5em;"></i></a>&nbsp; <a href=javascript:void(0); onclick="confirmDelete(@campaign.Id)" title="Delete"><i class="fa fa-close" style="color:#B94A48; font-size:1.5em;"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-xs-12 showing">
            <span>
                Page @(Model.inPageIndex) out of
                @((Model.inRecordCount + 10 - 1) / 10)
            </span>
            <div class="pull-right">
                @Html.Hidden("hdnTotalRec", @Model.inRecordCount)
                <div id="divPager"></div>
            </div>
        </div>
    </div>
    @Html.Hidden("hdnId", "")
}
else
{
    <div id="divItemListNoRecord" class="alert alert-warning" align="center">
        <h4><i class="fa fa-warning"></i> No Record Found </h4>
    </div>
}
<div class="modal fade" tabindex="-1" role="dialog" id="modelDeleteCard">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size:larger;">&times;</span></button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this campaign?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-addnew" onclick="DeleteCardClick();">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script>
    function confirmDelete(id) {
        $('#hdnId').val(id);
        $('#modelDeleteCard').modal('show');
    }
    function DeleteCardClick() {
        $('#modelDeleteCard').modal('hide');
        var id = $('#hdnId').val();
        DeleteUser(id);
    }

    $(document).ready(function () {
        GetPager($("#hdnTotalRec").val(), $("#hdnPageIndex").val());
    });
</script>

