﻿@model PurpicsWeb.Areas.Company.Models.Campaign

<style type="text/css">
    .selectboxit-container .selectboxit, .selectboxit-container .selectboxit-options {
        width: 150px; /* Width of the dropdown button */
        border-radius: 0;
        max-height: 240px;
    }

    .selectboxit-options .selectboxit-option .selectboxit-option-anchor {
        white-space: normal;
        min-height: 30px;
        height: auto;
    }
</style>
<style>
    tr:nth-child(odd) {
        background: #F3F3F3;
    }

    tr:nth-child(even) {
        background: #FFF;
    }

    table td {
        padding: 6px !important;
    }


    .radioLeft {
        float: left;
    }

    .textBlock {
        float: left;
        width: 80%;
    }
</style>

<div id="divSOList">

    <div class="form-group">
        <label class="col-sm-3 control-label" style="font-weight: normal;font-size: 13px;">By Zipcode:</label>
        <div class="col-sm-9 control-label">
            <div>@Html.DropDownList("Zipcodes", new SelectList(Model.loSOZipcodes), "- Zipcode -", new { @class = "form-control", @onchange = "FillCharityInfoforZipcodes()" })</div>
        </div>
    </div>
    <br/><br />
    <div class="form-group">
        <div class="table-responsive col-xs-12 charity-table">
            <table class="table table-bordered">
                <tr class="heading">
                    <th>Student Organization</th>
                    <th>Non-profit Partner</th>
                    <th>Zipcode</th>
                    <th>View details</th>
                </tr>
                @foreach (var pac in Model.loStudentOrganizationSearchModel)
                {
                    <tr>
                        <td>
                            <div>
                                @Html.RadioButton("MID", @pac.SoId + "#" + @pac.CharityId, new { style = "float:left;" }) <span class="textBlock"><div style="overflow-wrap:break-word;max-width:200px" class="wrapcontent">@pac.SOName</div></span>
                            </div>
                        </td>
                        <td>
                            <div style="overflow-wrap:break-word;max-width:100px">@pac.CharityName</div>
                        </td>
                        <td><div style="overflow-wrap:break-word;max-width:100px">@pac.ZipCode</div></td>
                        <td><a href="@(Url.Action("CharityDetail", "ManageCharity", new { Area="Company", CharityId = @pac.CharityId, @page = @ViewBag.Currentpageindex, @showBackButton=false }))" title="Details" target="_blank">View details</a></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<script>
    function FillCharityInfoforZipcodes() {
        var zipcode = '';
        if ($('#Zipcodes').val() != '') {
            var zipcode = $('#Zipcodes').val();
        }

        $.ajax({
            type: "POST",
            url: '/Campaign/getCharityDataByZipcode',
            content: "application/json; charset=utf-8",
            dataType: "html",
            data: {
                zipcode: zipcode
            },
            success: function (lodata) {
                if (lodata != null) {
                    var divSOList = $('#divSOList');

                    divSOList.html(lodata);
                    $("#Zipcodes").val(zipcode);
                    $("#Zipcodes").data("selectBox-selectBoxIt").refresh();
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                if (errorThrown == "abort") {
                    return;
                }
                else {
                    alert(errorThrown);
                }
            }
        });
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#Zipcodes").selectBoxIt({
            autoWidth: false
        });
    });
</script>