﻿@model PurpicsWeb.Areas.Company.Models.Campaigns.CampaignViewModel
@{
    ViewBag.Title = "Campaign Details";
    Layout = "~/Areas/Company/Views/Shared/_Layout.cshtml";

    int inRecCount = 0;
    if (Model.loVolunteerList.Count > 0)
    {
        inRecCount = Model.loVolunteerList.First().inRecordCount;
    }
}



@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.hdnVolunteerPageIndex)
}


<style>
    table.padded-table td {
        padding: 20px !important;
    }

    .account-main .compaigns-form {
        width: 100%;
        height: 100%;
    }

    .compaigns-form form-horizontal left col-xs-12 {
        height: 100% !important;
    }
</style>


@using (Html.BeginForm())
{

    @Html.HiddenFor(m => m.Id)

    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-xs-12 breadcrumbs">
            <a href="@Url.Action("", "ManageDashboard", new { area = "Company" })" title="Home">Home</a><i class="fa fa-angle-right"></i>
            @if (@Model.IsManageDashboard == false)
            {
                <a href="@Url.Action("ManageCampaign", "Campaign", new { area = "Company" })" title="Manage Campaigns">Campaigns</a><i class="fa fa-angle-right"></i>
            }
            else
            {
                <a href="@Url.Action("", "ManageDashboard", new { area = "Company" })" title="Dashboard">Dashboard</a><i class="fa fa-angle-right"></i>

            }

            <span>Campaign Details</span>

        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>

        <div class="col-xs-12 main-title agree">
            <div class="col-sm-8 control-label wordwrap padding-zero" style="font-size:17px;">@Model.CampaignName</div>
            <span class="pull-right">
                @if (@Model.IsManageDashboard == false)
                {

                    <a href="@Url.Action("ManageCampaign", "Campaign", new { area = "Company", @CurrpageIndex = ViewBag.Currentpageindex })" style="color:white; text-decoration:none;padding: 5px 20px;" class="btn btn-default create pull-right" title="Back"><i class="fa fa-angle-left"></i>Back</a>
                }
                else
                {
                    <a href="@Url.Action("", "ManageDashboard", new { area = "Company", @CurrpageIndex = ViewBag.Currentpageindex })" style="color:white; text-decoration:none;padding: 5px 20px;" class="btn btn-default create pull-right" title="Back"><i class="fa fa-angle-left"></i>Back</a>

                }
            </span>

        </div>
        <div class="col-xs-12 box-main">
            <div class="boxes box box2">
                <span class="digits col-xs-12">@inRecCount</span>
                <span class="texts col-xs-12">Volunteers</span>
            </div>
            <div class="boxes box box3">
                <span class="digits col-xs-12">@Model.Likes</span>
                <span class="texts col-xs-12">Total Likes</span>
            </div>
            <div class="boxes box box4">
                <span class="digits col-xs-12">@Model.ConversionRateValue</span>
                <span class="texts col-xs-12">Conversion Rate</span>
            </div>
            <div class="boxes box box1 last">
                @if (Model.CouponCode != null)
                {
                    <span class="digits col-xs-12">@Model.RedeemedCoupons / @Model.TotalCoupons</span>
                }
                else
                {
                    <span class="digits col-xs-12">N/A</span>
                }
                <span class="texts col-xs-12">Redeemed / Total Coupons</span>
            </div>
        </div>
        <br />
        <div class="col-xs-12">
            <div class="col-xs-12 col-sm-6 padding-zero">
                <span class="active-span">Student Organization: </span><span class="bold-span active-span" style="overflow-wrap:break-word;max-width:400px">@Html.DisplayFor(m => m.StudentOrganizationName)</span>
            </div>
            <div class="col-xs-12 col-sm-6 padding-zero">
                <span class="active-span">
                    Target Package:
                </span>
                <span class="bold-span active-span">$ @Html.DisplayFor(m => m.PackagePrice) for @Html.DisplayFor(m => m.PackageLikes) Likes</span>
            </div>
        </div>

        <div class="col-xs-12">
            <hr>
        </div>
        <div class="col-xs-12">
            <span class="active-span">Volunteers:</span>
        </div>
        <div class="col-md-12">
            @if (Model != null && Model.loVolunteerList.Count > 0)
            {
                <div class="table-responsive dash-table" style="margin-top:0px">
                    <table style="width:100%" class="table table-bordered">
                        <thead>
                            <tr class="heading">
                                <th>Ref ID</th>
                                <th>Volunteer Name</th>
                                <th>ZipCode</th>
                                <th>Likes</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var vol in Model.loVolunteerList)
                            {
                                <tr>
                                    <td>@vol.Id</td>
                                    <td>@vol.Name</td>
                                    <td>@vol.ZipCode</td>
                                    <td>@vol.Likes</td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-12 padding-zero text-right">
                    <a id="lnkShowAll_loader" href="@Url.Action("Index", "ManageVolunteers", new { area = "Company", CampaignId = @Model.Id })" class="show-all">Show All</a>
                </div>
            }

            @if (Model.loVolunteerList.Count == 0)
            {
                <div id="divItemListNoRecord" class="alert alert-warning" align="center">
                    <h4><i class="fa fa-warning"></i> No Record Found </h4>
                </div>
            }
        </div>
    </div>

}

<script>
    $(document).ready(function () {
        $(".menu-item a").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#A2').addClass('active');
    });
</script>
