﻿@model PurpicsWeb.Areas.Company.Models.Campaign
@{
    ViewBag.Title = "Edit Campaign";
    Layout = "~/Areas/Company/Views/Shared/_Layout.cshtml";

    string campaignimage;
    if (!string.IsNullOrEmpty(@Model.CampaignImageFullPath))
    { campaignimage = @Model.CampaignImageFullPath; }
    else
    {
        campaignimage = "/images/default-placeholder.png";
    }

    string couponcodeimage;
    if (!string.IsNullOrEmpty(@Model.CouponCodeImageFullPath))
    { couponcodeimage = @Model.CouponCodeImageFullPath; }
    else
    {
        couponcodeimage = "/images/default-placeholder.png";
    }
}


<style type="text/css">
    .fileimage #upCampaignimg {
        width: 100%;
    }

    .fileimage #upCouponCodeimg {
        width: 100%;
    }

    .package {
        background-color: lightgray;
        font-weight: bold;
        margin: 10px;
        width: 120px;
        float: left;
    }

        .package.active {
            background-color: #20BB74 !important;
            font-weight: bold;
            margin: 10px;
            width: 120px;
            color: white;
        }


    a {
        text-decoration: none;
    }

        a:hover {
            /*color:white;*/
            text-decoration: none;
            cursor: pointer;
        }
</style>

<style>
    .account-main .compaigns-form {
        width: 100%;
        height: 100%;
    }

    .compaigns-form form-horizontal left col-xs-12 {
        height: 100% !important;
    }
</style>

<script src="~/Scripts/jquery.maskedinput-1.3.1.min.js"></script>
<script src="~/Scripts/jquery-latest.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">


<script type='text/javascript'>


    $(document).ready(function () {
        $("#CampaignImage").on('change', function () {
            var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.png)$/;
            if (regex.test($(this).val().toLowerCase())) {

                if (typeof (FileReader) != "undefined") {
                    var filesize = this.files[0].size;
                    if (parseInt(filesize) <= parseInt(2097152)) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                        }

                        reader.onload = function (e) {
                            jQuery('#upCampaignimg').attr('src', e.target.result);
                        }
                        reader.readAsDataURL($(this)[0].files[0]);
                    }
                    else {
                        //alert("File size is more than 2 MB, please upload a valid image file.");

                        $('#upCampaignimg').attr('src', '@campaignimage');
                        $("#CampaignImage").val("");
                        $('#lblAlertMsgs').text("File size is more than 2 MB, please upload a valid campaign image file.");
                        $('#modelAlertMessages').modal('show');
                    }
                }

                else {
                    $('#lblAlertMsgs').text("This browser does not support FileReader.");
                    $('#modelAlertMessages').modal('show');
                }
            } else {
                //alert("Please upload a valid image file. Only .jpg, .jpeg and .png files are allowed");
                $("#CampaignImage").val("");
                $('#upCampaignimg').attr('src', '@campaignimage');
                $('#lblAlertMsgs').text("Please upload a valid campaign image file. Only .jpg, .jpeg and .png files are allowed.");
                $('#modelAlertMessages').modal('show');
            }

        });


        $("#CouponCode").on('change', function () {

            var regex = /(.jpg|.jpeg|.png)$/;
            if (regex.test($(this).val().toLowerCase())) {

                if (typeof (FileReader) != "undefined") {

                    var filesize = this.files[0].size;
                    if (parseInt(filesize) <= parseInt(2097152)) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                        }
                        reader.onload = function (e) {
                            jQuery('#upCouponCodeimg').attr('src', e.target.result);
                        }
                        reader.readAsDataURL($(this)[0].files[0]);
                        $("#spanExpDate").css("display", "inline");
                        $("#spanCouponTitle").css("display", "inline");
                        $("#spanCouponDescription").css("display", "inline");
                    }
                    else {
                        //alert("File size is more than 2 MB, please upload a valid image file.");

                        $('#upCouponCodeimg').attr('src', '@couponcodeimage');
                        $('#CouponCode').val('');
                        $("#msgExpDate").css("display", "none");
                        $("#msgCouponTitle").css("display", "none");
                        $("#msgCouponDescription").css("display", "none");
                        $('#lblAlertMsgs').text("File size is more than 2 MB, please upload a valid coupon image file.");
                        $('#modelAlertMessages').modal('show');
                    }


                } else {
                    //alert("This browser does not support FileReader.");
                    $('#lblAlertMsgs').text("This browser does not support FileReader.");
                    $('#modelAlertMessages').modal('show');
                }
            } else {
                //alert("Please upload a valid image file. Only .jpg, .jpeg and .png files are allowed");
                $('#upCouponCodeimg').attr('src', '@couponcodeimage');
                $('#CouponCode').val('');
                $("#spanExpDate").css("display", "none");
                $("#spanCouponTitle").css("display", "none");
                $("#spanCouponDescription").css("display", "none");
                $('#lblAlertMsgs').text("Please upload a valid coupon image file. Only .jpg, .jpeg and .png files are allowed");
                $('#modelAlertMessages').modal('show');
            }
        });
    });
</script>


@using (Html.BeginForm("UpdateCampaign", "Campaign", FormMethod.Post, new { model = this.Model, @id = "frmUpdateCampaign", @enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.CampaignId)
    @Html.HiddenFor(m => m.Currentpageindex)
    @Html.HiddenFor(m => m.IsManageDashboard)
    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-xs-12 breadcrumbs">
            <a href="#">Home</a><i class="fa fa-angle-right"></i>
            @if (@Model.IsManageDashboard == false)
            {
                <a href="@Url.Action("ManageCampaign", "Campaign", new { area = "Company" })">Campaigns</a><i class="fa fa-angle-right"></i>
            }
            else
            {
                <a href="@Url.Action("", "ManageDashboard", new { area = "Company" })">Dashboard</a><i class="fa fa-angle-right"></i>
            }
            <span>Edit Campaign</span>
        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>
        <div class="col-xs-12 main-title agree">
            <h1 class="main title">Edit Campaign</h1>
        </div>
        <div class="col-xs-12 account-main">
            <div class="compaigns-form col-xs-12" style="height:100% !important">
                <div class="col-xs-12 padding-zero">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class=" control-label">
                                    Student Organization:
                                </label>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group" style="overflow-wrap:break-word">
                                @Html.DisplayFor(x => x.SOName)
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Package:</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="row">

                                    <div class="package active" style="margin-left: 15px;width: 240px;min-height: 140px;text-align:center; background: linear-gradient(rgb(30, 222, 134), rgb(33, 156, 100));    border: 1px solid #AAAAAA;padding: 30px 15px;">
                                        <br />
                                        <span style=" word-break: break-word;">@Html.DisplayFor(x => x.PackageName)</span><br />
                                        <span style="    font-weight: bold;font-size: 25px;">$ @Html.DisplayFor(x => x.PackagePrice)/m</span>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="control-label">Upload Image:</label>

                        </div>

                        <div class="col-md-6 fileimage">
                            <div class="fallback phone3">

                                <img src="@campaignimage" id="upCampaignimg" />
                                @Html.TextBoxFor(model => model.CampaignImage, new { type = "file", @tabindex = "19", @class = "form-control" })
                            </div>
                        </div>
                        <div class="clearfix">
                        </div>
                        <div class="col-md-3">
                            &nbsp;
                        </div>
                        <div class="col-md-7">
                            (Picture size should not exceed 2 MB. Picture type should be JPG/JPEG/PNG only.)<br />
                            <div class="error">
                                @Html.ValidationMessage("File", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Campaign Name: <span class="required">*</span></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.CampaignName, new { @class = "form-control", @maxlength = "500" })
                                <div class="required">
                                    @Html.ValidationMessageFor(model => model.CampaignName)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Caption: <span class="required">*</span></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Caption, new { @class = "form-control", @maxlength = "500" })
                                <div class="required">
                                    @Html.ValidationMessageFor(model => model.Caption)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class=" control-label">Description: <span class="required">*</span></label>
                        </div>
                        <div class="col-md-6">
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                            <div class="required">
                                @Html.ValidationMessageFor(model => model.Description)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 padding-zero">
                            <div class="col-md-3">
                                <label class="control-label"> Upload Coupon Detail:</label>
                            </div>
                            <div class="col-md-6 fileimage">
                                <div class="fallback phone3">
                                    <img src="@couponcodeimage" id="upCouponCodeimg" />
                                    @Html.TextBoxFor(model => model.CouponCode, new { type = "file", @tabindex = "19", @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix">

                            </div>
                            <div class="col-md-3">
                                &nbsp;
                            </div>
                            <div class="col-md-7">
                                (File size should not exceed 2 MB. File type should be JPG/JPEG/PNG only.)<br />
                                <div class="error">
                                    @Html.ValidationMessage("FileCouponCode", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Coupon Expiry Date: <span id="spanExpDate" style="display: none" class="required">*</span></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.ExpirationDate, Convert.ToDateTime(Model.ExpirationDate).ToString("yyyy-MM-dd"), new { @class = "form-control", @type = "date" })
                                <div class="required">
                                    <span class="field-validation-error" id="msgExpDate" style="display: none;">Please enter Expiry Date.</span>
                                    @Html.ValidationMessageFor(model => model.ExpirationDate)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class=" control-label">Coupon Title: <span id="spanCouponTitle" style="display: none" class="required">*</span></label>
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.CouponTitle, new { @class = "form-control", @maxlength = "200" })
                            <div class="required">
                                <span class="field-validation-error" id="msgCouponTitle" style="display: none;">Please enter Coupon Title.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class=" control-label">Coupon Description: <span id="spanCouponDescription" style="display: none" class="required">*</span></label>
                        </div>
                        <div class="col-md-6">
                            @Html.TextAreaFor(model => model.CouponDescription, new { @class = "form-control" })
                            <div class="required">
                                <span class="field-validation-error" id="msgCouponDescription" style="display: none;">Please enter Coupon Description.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class=" control-label">Zipcode: <span id="spanZipcode" class="required">*</span></label>
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.ZipCode, null, new { @class = "form-control placeholder-no-fix", @placeholder = "Zipcode", @maxlength = "5", @id = "txtZipCode", @onchange = "loadMap(); return false;" })
                            <div class="required">
                                @Html.ValidationMessageFor(m => m.ZipCode)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class=" control-label">Miles: <span id="spanMiles" class="required">*</span></label>
                        </div>
                        <div class="col-md-6">
                            @Html.DropDownListFor(m => m.Radius, new List<SelectListItem>()
                                                {
                                                    new SelectListItem() { Text= "10", Value = "10" },
                                                    new SelectListItem() { Text= "20", Value = "20" },
                                                    new SelectListItem() { Text= "30", Value = "30" },
                                                    new SelectListItem() { Text= "40", Value = "40" },
                                                    new SelectListItem() { Text= "50", Value = "50" }
                                                }, "Select Miles", new { @class = "form-control", style = "width: 250px;", @id = "dropMiles", @onchange = "loadMap(); return false;" })
                            <div class="required">
                                @Html.ValidationMessageFor(m => m.Radius)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
            &nbsp;
            <div class="col-md-12 agree">
                <a class="btn btn-default create" alt="Save" title="Save" onclick="return validateCampaign();" style="margin-right: 5px"><i class='fa fa-save'></i>Save</a>
                @if (@Model.IsManageDashboard == false)
                {
                    @Html.ActionLink("Cancel", "ManageCampaign", "Campaign", new { area = "Company", @CurrpageIndex = Model.Currentpageindex }, new { @class = " btn btn-default", @style = "background-color:black", @onclick = "cancelForm();" })
                }
                else
                {
                    @Html.ActionLink("Cancel", "", "ManageDashboard", new { area = "Company", @CurrpageIndex = Model.Currentpageindex }, new { @class = " btn btn-default", @style = "background-color:black", @onclick = "cancelForm();" })
                }
            </div>
            <br><br><br><br>
            <div id="divMap" style="margin-left:100px;">
                @Html.Partial("_ScopeAreaMap", null)
            </div>
        </div>

    </div>



}
<script src="@Url.Content("~/Scripts/map.js?ver=1.2")" type="text/javascript"></script>
<script src="~/Areas/Company/Scripts/EditCampaign.js"></script>
<script>
    $(document).ready(function () {

        $("#txtZipCode").on('paste', function (e) {
            var $this = $(this);
            setTimeout(function () {
                $this.val($this.val().replace(/[^0-9]/g, ''));
            }, 5);
        });

        $("#txtZipCode").keypress(function isNumber(evt) {

            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;


        });

        $(".menu-item a").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#A2').addClass('active');

        $('.dashboard-menu').height('1850px');

        //$("#dropMiles").change(function () {
        //    $('.dashboard-menu').height($(document).height());
        //});

        //$("#txtZipCode").change(function () {
        //    $('.dashboard-menu').height($(document).height());
        //});
    });

</script>