﻿@model PurpicsWeb.Areas.Company.Models.Campaign
@{
    ViewBag.Title = "Manage Campaigns";
    Layout = "~/Areas/Company/Views/Shared/_Layout.cshtml";
}


<style type="text/css">
    .fileimage #upCampaignimg {
        width: 100%;
    }

    .box-main .box {
        margin-top: 2%;
        width: 30%;
    }

    a {
        text-decoration: none;
    }

        a:hover {
            /*color:white;*/
            text-decoration: none;
            cursor: pointer;
        }
</style>


<style>
    .box span.digits {
        font-size: 25px;
    }

    .box-main .box {
        width: 38%;
        height: 200px;
    }

    .account-main .compaigns-form {
        width: 100%;
        height: 100%;
    }

    .compaigns-form form-horizontal left col-xs-12 {
        height: 100% !important;
    }
</style>


<script src="~/Scripts/jquery.maskedinput-1.3.1.min.js"></script>
<script src="~/Scripts/jquery-latest.js"></script>
<link href="~/Scripts/SelectBoxIt/jquery-ui.css" rel="stylesheet" />
<link href="~/Scripts/SelectBoxIt/jquery.selectBoxIt.css" rel="stylesheet" />
<script src="~/Scripts/SelectBoxIt/jquery-ui.min.js"></script>
<script src="~/Scripts/SelectBoxIt/jquery.selectBoxIt.min.js"></script>

<script type='text/javascript'>
    $(document).ready(function () {

        $(".clspopup").click(function () {
            $("#spanSORequired").css("display", "none");
            $("#myModal").modal("show");
        });

        $("#btnAddNow").click(function () {

            var SoCharity = $("input[id^='MID']:checked").val();

            if (typeof SoCharity == "undefined") {
                $("#spanSORequired").css("display", "block");
                return false;
            }
            $("#spanSORequired").css("display", "none");

            $("#hypSelectedCharity").html($('input[name="MID"]:checked').parent().text());
            //$("#hypSelectedSO").html($('input[name="MID"]:checked').parent().text());

            var res = SoCharity.split("#");
            var soId = res[0];
            var charityval = res[1];
            //var charityval = $("input[id^='MID']:checked").val();
            $("#CharityID").val(charityval);
            $("#StudentOrganizationId").val(soId);

            if (charityval != undefined || charityval != null) {
                $('#selectlink').css("display", "none");
                $("#msgCharityReq").css("display", "none");
            }

        });

        $("#CampaignImage").on('change', function () {
            var regex = /(.jpg|.jpeg|.png)$/;
            if (regex.test($(this).val().toLowerCase())) {

                if (typeof (FileReader) != "undefined") {
                    var filesize = this.files[0].size;
                    if (parseInt(filesize) <= parseInt(2097152)) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                        }

                        reader.onload = function (e) {
                            jQuery('#upCampaignimg').attr('src', e.target.result);
                        }
                        reader.readAsDataURL($(this)[0].files[0]);
                    }
                    else {
                        //alert("File size is more than 2 MB, please upload a valid image file.");
                        $('#lblAlertMsgs').text("File size is more than 2 MB, please upload a valid campaign image file.");
                        $('#upCampaignimg').attr('src', '/images/default-placeholder.png');
                        $("#CampaignImage").val("");
                        $('#modelAlertMessages').modal('show');
                    }
                }

                else {
                    $('#lblAlertMsgs').text("This browser does not support FileReader.");
                    $('#modelAlertMessages').modal('show');
                    //alert("This browser does not support FileReader.");
                }
            } else {
                $('#lblAlertMsgs').text("Please upload a valid campaign image file. Only .jpg, .jpeg and .png files are allowed");

                //alert("Please upload a valid image file. Only .jpg, .jpeg and .png files are allowed");
                $("#CampaignImage").val("");
                $('#upCampaignimg').attr('src', '/images/default-placeholder.png');
                $('#modelAlertMessages').modal('show');
            }

        });

        $(document).on('change', "#CouponCode", function () {

            var regex = /(.jpg|.jpeg|.png)$/;
            if (regex.test($(this).val().toLowerCase())) {

                if (typeof (FileReader) != "undefined") {
                    var filesize = this.files[0].size;
                    if (parseInt(filesize) <= parseInt(2097152)) {
                        var filename = jQuery(this).val().replace(/.*(\/|\\)/, '');
                        if (filename != "") {
                            $(".fileUpload span").html(filename);
                        }

                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $("#imgCouponCode").attr("src", e.target.result);

                        }
                        reader.readAsDataURL($(this)[0].files[0]);

                        $("#spanExpDate").css("display", "inline");
                        $("#spanCouponTitle").css("display", "inline");
                        $("#spanCouponDescription").css("display", "inline");
                    }
                    else {
                        //alert("File size is more than 2 MB, please upload a valid image file.");
                        $('#lblAlertMsgs').text("File size is more than 2 MB, please upload a valid coupon image file.");
                        $('#imgCouponCode').attr('src', '/Images/CampaignCoupon/NoPhoto.jpg');

                        $("#CouponCode").val("");
                        $(".fileUpload span").html("<i class=\"fa fa-plus\"></i>Add Coupon Image");
                        $("#spanExpDate").css("display", "none");
                        $("#spanCouponTitle").css("display", "none");
                        $("#spanCouponDescription").css("display", "none");

                        $("#msgExpDate").css("display", "none");
                        $("#msgCouponTitle").css("display", "none");
                        $("#msgCouponDescription").css("display", "none");
                        $('#modelAlertMessages').modal('show');
                    }

                }
                else {
                    //alert("This browser does not support FileReader.");
                    $('#lblAlertMsgs').text("This browser does not support FileReader.");
                    $('#modelAlertMessages').modal('show');
                }
            }
            else {
                //alert("Please upload a valid image file. Only .jpg, .jpeg and .png files are allowed.");
                $("#CouponCode").val("");
                $(".fileUpload span").html("<i class=\"fa fa-plus\"></i>Add Coupon Image");
                $('#imgCouponCode').attr('src', '/Images/CampaignCoupon/NoPhoto.jpg');
                $("#spanExpDate").css("display", "none");
                $("#spanCouponTitle").css("display", "none");
                $("#spanCouponDescription").css("display", "none");

                $("#msgExpDate").css("display", "none");
                $("#msgCouponTitle").css("display", "none");
                $("#msgCouponDescription").css("display", "none");
                $('#lblAlertMsgs').text("Please upload a valid coupon image file. Only .jpg, .jpeg and .png files are allowed.");
                $('#modelAlertMessages').modal('show');
            }
        });

    });

</script>


@if (TempData["ErrorMsg"] != null && TempData["ErrorMsg"].ToString() != "")
{
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        &nbsp;@TempData["ErrorMsg"].ToString()
    </div>
}

@using (Html.BeginForm("AddCampaign", "Campaign", FormMethod.Post, new { model = this.Model, @id = "frmAddCampaign", @enctype = "multipart/form-data" }))
{
    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">

        <div class="col-xs-12 breadcrumbs">
            <a href="@Url.Action("", "ManageDashboard", new { area = "Company" })" title="Home/Dashboard">Home</a><i class="fa fa-angle-right"></i>
            <span>Create Campaign</span>
        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>
        <div class="col-xs-12 main-title">
            <h1 class="main title">
                Create Campaign
            </h1>
        </div>

        <div class="col-xs-12 account-main">
            <div class="compaigns-form col-xs-12" style="height:100% !important">
                <div class="col-xs-12 padding-zero">
                    @*<div class="row">
                        <div class="col-md-3">
                            <label class=" control-label">Select a charity: <span class="required">*</span></label>
                        </div>
                        <div class="col-md-9">
                            <a id="selectlink" class="clspopup div-plus" style=" text-decoration: none;color:#EA6D31" title="Select Charity"><i class="fa fa-plus"></i> Select Charity</a><label id="hypSelectedCharity" class="clspopup control-label" style="color:#EA6D31;cursor: pointer;overflow-wrap:break-word"></label>
                            @Html.HiddenFor(x => x.CharityID)
                            <div class="required">
                                <span class="field-validation-error" id="msgCharityReq" style="display: none;">Please select Charity.</span>
                            </div>
                        </div>
                    </div>*@
                    <div class="row">
                        <div class="col-md-3">
                            <label class=" control-label">Select a Student Organization: <span class="required">*</span></label>
                        </div>
                        <div class="col-md-9">
                            <a id="selectlink" class="clspopup div-plus" style=" text-decoration: none;color:#EA6D31" title="Select Student Organization"><i class="fa fa-plus"></i> Select Student Organization</a><label id="hypSelectedCharity" class="clspopup control-label" style="color:#EA6D31;cursor: pointer;overflow-wrap:break-word"></label>
                            <label id="hypSelectedSO" class="clspopup control-label" style="color:#EA6D31;cursor: pointer;overflow-wrap:break-word"></label>
                            @Html.HiddenFor(x => x.StudentOrganizationId)
                            @Html.HiddenFor(x => x.CharityID)
                            <div class="required">
                                <span class="field-validation-error" id="msgCharityReq" style="display: none;">Please select Student Organization.</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label class=" control-label" style=" margin-top: 10px;">Select Package: <span class="required">*</span></label>
                            @Html.Hidden("hdnPackageSelectedID")

                        </div>
                        <div class="col-md-9">
                            <div class="col-xs-12 box-main padding-zero">
                                @foreach (var package in Model.loPackages)
                                {
                                    var packid = "PackId" + @package.Id;
                                    <div class="squaredFour box pack3" style="width:31% !important;">
                                        <input type="checkbox" value="None" id="@packid" name="check" />
                                        <label for="@packid"></label>
                                        <span class="texts col-xs-12 wordwrap">@package.Name</span>
                                        <span class="digits col-xs-12">$ @package.Price/m</span>
                                        @Html.Hidden("hdnPackageID", package.Id)
                                    </div>
                                }
                            </div>
                            <div class="required">
                                <span class="field-validation-error" id="msgPackageReq" style="display: none;">Please select Package.</span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            <label class=" control-label">Upload Image: <span class="required">*</span></label>
                        </div>
                        <div class="col-md-9">
                            <div class="col-sm-9 fileimage padding-zero">
                                <div class="fallback phone3">
                                    <img src="/images/default-placeholder.png" id="upCampaignimg" />
                                    @Html.TextBoxFor(model => model.CampaignImage, new { type = "file", @tabindex = "19", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">

                        </div>
                        <div class="col-md-3">
                            &nbsp;
                        </div>
                        <div class="col-md-9">
                            (Picture size should not exceed 2 MB. Picture type should be JPG/JPEG/PNG only.)<br />
                            <div class="error">
                                @Html.ValidationMessage("File", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            <label class=" control-label">Campaign Name: <span class="required">*</span></label>
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.CampaignName, new { @class = "form-control", @maxlength = "500" })
                            <div class="required">
                                @Html.ValidationMessageFor(model => model.CampaignName)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class=" control-label">Caption: <span class="required">*</span></label>
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.Caption, new { @class = "form-control", @maxlength = "500" })
                            <div class="required">
                                @Html.ValidationMessageFor(model => model.Caption)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class=" control-label">Description: <span class="required">*</span></label>
                        </div>
                        <div class="col-md-6">
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                            <div class="required">
                                @Html.ValidationMessageFor(model => model.Description)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class=" control-label">Upload Coupon Detail:</label>
                        </div>
                        <div class="col-md-9">
                            <div class="col-sm-9 fileUpload control-label" style="padding-left:0px !important">
                                <span><i class="fa fa-plus"></i>Add Coupon Image</span>
                                @*<input type="file" class="form-control upload" id="flcoupon" name="flcoupon" />*@
                                @Html.TextBoxFor(model => model.CouponCode, new { type = "file", @tabindex = "19", @class = "form-control upload" })
                            </div>
                        </div>
                        <div class="clearfix">

                        </div>
                        <div class="col-md-3">
                            &nbsp;
                        </div>
                        <div class="col-md-9">
                            <div class="col-sm-9 fileimage padding-zero">
                                <div class="fallback phone3" style="border:none">
                                    <img id="imgCouponCode" tabindex="-1" src="/Images/CampaignCoupon/NoPhoto.jpg" style="width: 100%;" />
                                </div>
                            </div>
                            <div class="clearfix">

                            </div>
                            (Image size should not exceed 2 MB. Image type should be JPG/JPEG/PNG only.)<br />
                            <div class="error">
                                @Html.ValidationMessage("FileCouponCode", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    @*<div id="myModal" class="modal fade" role="dialog" style="background-color: black;opacity: 0.95;">
                        <div class="modal-dialog">
                            <div class="modal-content charity-box" style="margin-top:50px;background-color:#fff !important">
                                <i class="fa fa-times" data-dismiss="modal"></i>
                                <div class="modal-header">
                                    <h4 class="modal-title">Select Charity:</h4>
                                </div>
                                <div class="modal-body" style="overflow-y:scroll;height:400px">
                                    @Html.Partial("_Charity", Model)
                                </div>
                                <br />
                                <div class="modal-footer" style="border:none">
                                    <div class="col-xs-12  add-now" style="text-align: center;">
                                        <div class="form-group agree">
                                            <button id="btnAddNow" type="submit" class="btn btn-default" data-dismiss="modal" title="Add Now">Add Now</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                    <div id="myModal" class="modal fade" role="dialog" style="background-color: black;opacity: 0.95;">
                        <div class="modal-dialog">
                            <div class="modal-content charity-box" style="margin-top:50px;background-color:#fff !important">
                                <i class="fa fa-times" data-dismiss="modal"></i>
                                <div class="modal-header">
                                    <h4 class="modal-title">Select Student Organization:</h4>
                                    <span id="spanSORequired" class="required" style="display:none">Please select student organization.</span>
                                </div>
                                <div class="modal-body" style="overflow-y:scroll;height:400px">
                                    @Html.Partial("_StudentOrganization", Model)
                                </div>
                                <br />
                                <div class="modal-footer" style="border:none">
                                    <div class="col-xs-12  add-now" style="text-align: center;">
                                        <div class="form-group agree">
                                            <button id="btnAddNow" type="submit" class="btn btn-default" data-dismiss="modal" title="Add Now">Add Now</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            <label class=" control-label">Coupon Expiry Date: <span id="spanExpDate" style="display: none" class="required">*</span></label>
                        </div>
                        <div class="col-md-6">

                            @Html.TextBoxFor(model => model.ExpirationDate, "{0:MM/dd/yyyy}", new { @class = "form-control", @type = "date" })
                            <div class="required">
                                <span class="field-validation-error" id="msgExpDate" style="display: none;">Please enter Expiry Date.</span>
                                @Html.ValidationMessageFor(model => model.ExpirationDate)
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label class=" control-label">Coupon Title: <span id="spanCouponTitle" style="display: none" class="required">*</span></label>
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.CouponTitle, new { @class = "form-control", @maxlength = "200" })
                            <div class="required">
                                <span class="field-validation-error" id="msgCouponTitle" style="display: none;">Please enter Coupon Title.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class=" control-label">Coupon Description: <span id="spanCouponDescription" style="display: none" class="required">*</span></label>
                        </div>
                        <div class="col-md-6">
                            @Html.TextAreaFor(model => model.CouponDescription, new { @class = "form-control" })
                            <div class="required">
                                <span class="field-validation-error" id="msgCouponDescription" style="display: none;">Please enter Coupon Description.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class=" control-label">Zipcode: <span id="spanZipcode" class="required">*</span></label>
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.ZipCode, null, new { @class = "form-control placeholder-no-fix", @placeholder = "Zipcode", @maxlength = "5", @id = "txtZipCode", @onchange = "loadMap(); return false;" })
                            <div class="required">
                                @Html.ValidationMessageFor(m => m.ZipCode)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class=" control-label">Miles: <span id="spanMiles" class="required">*</span></label>
                        </div>
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.Radius, new List<SelectListItem>()
                                                {
                                                    new SelectListItem() { Text= "10", Value = "10" },
                                                    new SelectListItem() { Text= "20", Value = "20" },
                                                    new SelectListItem() { Text= "30", Value = "30" },
                                                    new SelectListItem() { Text= "40", Value = "40" },
                                                    new SelectListItem() { Text= "50", Value = "50" }
                                                }, "Select Miles", new { @class = "form-control", style = "width: 250px;", @id = "dropMiles", @onchange = "loadMap(); return false;" })
                            <div class="required">
                                @Html.ValidationMessageFor(m => m.Radius)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 account-main">
            <div class="row">
                <div class="col-md-12 agree"><a class=" btn btn-default create pull-right" alt="Save" title="Pay & Submit for Approval" onclick="return validateCampaign();" style="margin-right: 15px">Pay & Submit for Approval</a></div>
            </div>
        </div>
        <div id="packagelist" style="margin-left:100px;">
            @Html.Partial("_ScopeAreaMap", null)
        </div>
    </div>
}
<script src="~/Areas/Company/Scripts/CreateCampaign.js"></script>
<script src="@Url.Content("~/Scripts/map.js?ver=1.3")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $('[id^=PackId]').click(function () {

            if ($(this).is(":checked")) {
                $("#hdnPackageSelectedID").val($(this).parent(".squaredFour").find(':hidden#hdnPackageID').val());
                $("#msgPackageReq").css("display", "none");
                $(this).parent(".squaredFour").css("background", "#219C64");
                $(this).parent(".squaredFour").css("background", "-webkit-linear-gradient(#1EDE86, #219C64)");
                $(this).parent(".squaredFour").css("background", "-o-linear-gradient(#1EDE86, #219C64)");
                $(this).parent(".squaredFour").css("background", "-moz-linear-gradient(#1EDE86, #219C64)");
                $(this).parent(".squaredFour").css("background", "linear-gradient(#1EDE86, #219C64)");
                $(this).parent(".squaredFour").children("span").css("color", "#fff");


                $('[id^=PackId]').not(this).prop('checked', false);
                $('[id^=PackId]').not(this).parent(".squaredFour").css("background", "#AAAAAA");
                $('[id^=PackId]').not(this).parent(".squaredFour").css("background", "-webkit-linear-gradient(#ECECEC, #AAAAAA)");
                $('[id^=PackId]').not(this).parent(".squaredFour").css("background", "-o-linear-gradient(#ECECEC, #AAAAAA)");
                $('[id^=PackId]').not(this).parent(".squaredFour").css("background", "-moz-linear-gradient(#ECECEC, #AAAAAA)");
                $('[id^=PackId]').not(this).parent(".squaredFour").css("background", "linear-gradient(#ECECEC, #AAAAAA)");
                $('[id^=PackId]').not(this).parent(".squaredFour").children("span").css("color", "#282828");


            }
            else if (jQuery(this).is(":not(:checked)")) {
                $(this).parent(".squaredFour").css("background", "#AAAAAA");
                $(this).parent(".squaredFour").css("background", "-webkit-linear-gradient(#ECECEC, #AAAAAA)");
                $(this).parent(".squaredFour").css("background", "-o-linear-gradient(#ECECEC, #AAAAAA)");
                $(this).parent(".squaredFour").css("background", "-moz-linear-gradient(#ECECEC, #AAAAAA)");
                $(this).parent(".squaredFour").css("background", "linear-gradient(#ECECEC, #AAAAAA)");
                $(this).parent(".squaredFour").children("span").css("color", "#282828");

                $("#hdnPackageSelectedID").val('');
            }
        });
    });

</script>
<script>

    $(document).ready(function () {


        $("#txtZipCode").on('paste', function (e) {
            var $this = $(this);
            setTimeout(function () {
                $this.val($this.val().replace(/[^0-9]/g, ''));
            }, 5);
        });

        $("#txtZipCode").keypress(function isNumber(evt) {

            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        });

        $(".menu-item a").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#A2').addClass('active');

        $("#dropMiles").change(function () {
            $('.dashboard-menu').height('2200px');

        });

        $("#txtZipCode").change(function () {
            $('.dashboard-menu').height('2200px');

        });
    });

</script>