﻿@model PurpicsWeb.Areas.Admin.ViewModels.RedeemGiftCard.RedeemGiftCardModel
    @using PurpicsWeb_DL.Entities;
@using PurpicsWeb_DL.Repositories;
@{
    if (ViewBag.Currentpageindex == null)
    {
        ViewBag.Currentpageindex = 1;
    }
}
<input type="hidden" id="hdnVolunteerPageIndex" value="@ViewBag.Currentpageindex" />

@if (Model != null && Model.loVolunteersList != null && Model.loVolunteersList.Count > 0)
{

    <table style="width:100%" class="table table-bordered">
        <thead>
            <tr class="heading">
                <th style="width:20%" id="sortId" onclick="getOrderbyUserList('Id', 'sortId');" class="sorting">Ref ID</th>
                <th style="width:40%" id="sortName" onclick="getOrderbyUserList('Name', 'sortName');" class="sorting">Volunteer Name</th>
                <th style="width:20%" id="sortCreditPoints" onclick="getOrderbyUserList('CreditPoints', 'sortCreditPoints');" class="sorting">Credit Points</th>
                <th style="width:20%">Gift Card Preference</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vol in Model.loVolunteersList)
            {
                <tr>
                    <td>@vol.Id</td>
                    <td><a title="Volunteer Details" href="@(Url.Action("VolunteerDetails", "ManageRedeemGiftCard", new { fiVolunteerId = vol.Id }))">@vol.Name</a></td>
                    <td>@vol.CreditPoints</td>
                    <td>@vol.GiftCardPreferenceName</td>
                    <td>
                        @{
                            Volunteers volunteer = Repository<Volunteers>.GetEntityListForQuery(x => x.Id == vol.Id).FirstOrDefault();
                            int GiftCardPreferenceId = 0;
                            if (volunteer.GiftCardPreference != null)
                            {
                                GiftCardPreferenceId = Convert.ToInt32(volunteer.GiftCardPreference);
                            }
                            else
                            {
                                GiftCards giftCardDefault = Repository<GiftCards>.GetEntityListForQuery(x => x.IsDefault == true).FirstOrDefault();
                                if (giftCardDefault != null)
                                {
                                    GiftCardPreferenceId = giftCardDefault.Id;
                                }
                            }
                            GiftCards giftCard = Repository<GiftCards>.GetEntityListForQuery(x => x.Id == GiftCardPreferenceId).FirstOrDefault();
                            if (giftCard != null)
                            {
                                if (volunteer.CreditPoints >= giftCard.PointCost)
                                {
                                    <span><a href="@Url.Action("SendGiftCard", "ManageRedeemGiftCard", new { VolunteersId = vol.Id })" class="btn" style="float:left; background-color:#EB6F25; color:white;" title="Send Gift Card" id="btnSendGiftCard_loader">Send Gift Card</a></span>
                                }
                                else
                                {
                                    <span><a href="javascript:void(0)" class="btn" style="float:left; background-color:#EB6F25; color:white;" disabled title="Send Gift Card">Send Gift Card</a></span>
                                }
                            }

                        }
                    
                    </td>
                    

                </tr>

            }
        </tbody>
    </table>


    <div class="row">
        <div class="col-xs-12 showing">
            <span>
                Page @(Model.inPageIndex) out of
                @((Model.inRecordCount + 10 - 1) / 10)
            </span>
            <div class="pull-right">
                @Html.Hidden("hdnTotalRec", @Model.inRecordCount)
                @*<ul class="pagination" style="visibility: visible;" id="Patientpaging">
                        <li class="prev disabled"><a title="Previous" href="javascript:void(0);" id="aHrefPrev" onclick="refeshList(this.id);"><i class=" fa fa-angle-left"></i> Previous</a></li>
                        <li class="next"><a title="Next" href="javascript:void(0)" id="aHrefNext" onclick="refeshList(this.id);">Next <i class="fa fa-angle-right"></i></a></li>
                    </ul>*@
                <div id="divPager"></div>
            </div>
        </div>
    </div>
}
else
{<div class="col-md-12">
        <div id="divItemListNoRecord" class="alert alert-warning row" align="center">
            <h4><i class="fa fa-warning"></i> No Record Found </h4>
        </div>
    </div>
}


<script>
    $(document).ready(function () {
        GetPager($("#hdnTotalRec").val(), $("#hdnVolunteerPageIndex").val());
    });
</script>



