﻿@model PurpicsWeb.Areas.Admin.ViewModels.RedeemGiftCard.RedeemGiftCardModel
@{
    ViewBag.Title = "Manage Redeem Gift Card";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section>

    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-xs-12 breadcrumbs">
            <a href="@Url.RouteUrl("Admin_default", new { action = "", controller = "AdminDashBoard" })" title="Home/Dashboard">Home</a><i class="fa fa-angle-right"></i>
            <span>Redeem Gift Cards</span>
        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>
        <div class="col-xs-12 main-title">
            <h1 class="main title">Redeem Gift Cards</h1>
        </div>
        @if (TempData["SuccessMsg"] != null && TempData["SuccessMsg"].ToString() != "")
        {
        <div class="alert alert-success col-md-12" style="padding:4px !important">
            <span class="close" data-dismiss="alert" aria-label="close">&times;</span>
            <span style="vertical-align:middle;"> @TempData["SuccessMsg"].ToString()</span>
            
            @{TempData["SuccessMsg"] = "";}
        </div>
        
                }
        <form action="#" class="form-horizontal form-bordered">
            @if (Model != null && Model.loVolunteersList.Count > 0)
            {
                <div class="col-md-12 searcharea">
                    <div class="col-md-4"></div>
                    <div class="col-md-3 col-xs-4" style="padding-right:0px;">
                        <div class="usersearch">
                            <input type="text" class="form-control" id="txtPointSearch" maxlength="5" placeholder="Search by credit points..." onkeypress="return jsInteger(event); userPointsSearch(event);">
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-8" style="padding-right:0px;">
                        <div class="usersearch">
                            <input type="text" class="form-control" id="txtSearch" maxlength="100" placeholder="Search by Volunteer name ..." onkeypress="userSearch(event);">
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-2" style="padding-left:10px;">

                        <button type="button" id="btnSearch" class="btn" style="background-color:#ee7a34;" title="Search" onclick="search();">Search</button>

                    </div>
                </div>
            }
        </form>

        <div class="col-xs-12 padding-zero">
            &nbsp;
            <div class="col-md-12">

                <div id="divVolunteersList">
                    @Html.Partial("_RedeemGiftCardDetails", Model)
                </div>

            </div>
        </div>

    </div>


    @Html.Hidden("hdnVolunteerOrder", "Id ASC")
    @Html.Hidden("hdnVolunteerSortingOnColumn", "sortId")
    @Html.Hidden("hdnVolunteerSortingDirection", "ASC")

    <script type="text/javascript">

        var lsgetVolunteerUserList = '@Url.RouteUrl("Admin_default", new { controller = "ManageRedeemGiftCard", action = "searchVolunteers" })';
        var lsGetVolunteerUserUrl = "@Url.RouteUrl("Admin_default", new { controller = "ManageRedeemGiftCard", action = "Index" })";
    </script>


    
    <script src="~/Areas/Admin/assets/scripts/RedeemGiftCard.js?ver=1.2"></script>
    <script>
    $(document).ready(function () {
        $(".menu-item a").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#A11').addClass('active');
    });

    function jsInteger(evt) {
        
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode == 46)
            return false;
        if (charCode == 13)
        {
            userPointsSearch(evt)
            $('#txtPointSearch').focus();
        }
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;
        
        return true;
    }
    </script>
</section>

