﻿@model PurpicsWeb.Areas.Admin.ViewModels.StudentOrganization.StudentOrganizationModel
@if (Model != null && Model.loStudentOrganizationList.Count > 0)
{
    <div class="table-responsive col-xs-12 dash-table">
        <table class="table table-bordered">
            <tr class="heading">
                @Html.Hidden("hdnPageIndex", Model.inPageIndex)
                <th id="sortId" onclick="getOrderbyList('Id', 'sortId');" class="sorting">Ref Id</th>
                <th id="sortCharityName" onclick="getOrderbyList('CharityName', 'sortCharityName');" class="sorting">Student Organization</th>
                <th>Subscription</th>
            </tr>

            @foreach (var pac in Model.loStudentOrganizationList)
            {
                <tr>
                    <td>@pac.Id</td>
                    <td><a href="@Url.RouteUrl("Admin_default", new { action = "StudentOrganizationDetail", controller = "ManageStudentOrganization", fiSOId = pac.Id })" title="Student Organization Details" class="wrapcontent">@pac.Name</a></td>
                    <td>
                        @if (@pac.UserStatusID == (int)PurpicsWeb.Services.CommonFunctions.CommonEnums.UserStatus.Pending)
                        {
                            <span>Waiting For Approval</span>
                        }
                        else if (@pac.UserStatusID == (int)PurpicsWeb.Services.CommonFunctions.CommonEnums.UserStatus.Approved)
                        {
                            <span>Approved</span>
                        }
                        else if (@pac.UserStatusID == (int)PurpicsWeb.Services.CommonFunctions.CommonEnums.UserStatus.Denied)
                        {
                            <span>Declined</span>
                        }
                        else
                        {
                            <span>Payment Due</span>
                        }
                    </td>

                </tr>
            }

        </table>
    </div>
    if (@Model.inRecordCount > 10)
    {
        <div class="col-xs-12 showing">
            <span>
                Page @(Model.inPageIndex) out of
                @((Model.inRecordCount + 10 - 1) / 10)
            </span>
            <div class="pull-right">
                @Html.Hidden("hdnTotalRec", @Model.inRecordCount)
                <div id="divPager"></div>
            </div>
        </div>
    }
}
else
{
    <div id="divItemListNoRecord" class="alert alert-warning" align="center">
        <h4><i class="fa fa-warning"></i> No Record Found </h4>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        GetPager($("#hdnTotalRec").val(), $("#hdnPageIndex").val());
    });
</script>