﻿@model PurpicsWeb.Areas.Admin.ViewModels.StudentOrganization.StudentOrganizationViewModel
<style>
    .account-main {
        height: 100% !important;
    }

    .compaigns-form form-horizontal left col-xs-12 {
        height: 100% !important;
    }

    .compaigns-form {
        height: 100% !important;
    }
</style>

@if (TempData["SuccessMsg"] != null && TempData["SuccessMsg"].ToString() != "")
{
    <hr style="border-color:#F7F7F7 !important;" />
    <div class="alert alert-success col-xs-12" style="height:30px; padding:4px !important; margin-bottom:0px !important; margin-top:10px;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @TempData["SuccessMsg"].ToString()

        @{TempData["SuccessMsg"] = "";}
    </div>
}
@if (TempData["ErrorMsg"] != null && TempData["ErrorMsg"].ToString() != "")
{
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @TempData["ErrorMsg"].ToString()
    </div>
}
<div class="col-xs-12 main-title">
    <h1 class="pull-left wrapcontent" style="max-width:950px;">@Model.Name</h1>
    @Html.Hidden("hdnId", @Model.Id)
    <span class="pull-right">
        Status:
        @if (@Model.UserStatusID == (int)PurpicsWeb.Services.CommonFunctions.CommonEnums.UserStatus.Pending)
        {
            <strong>Waiting For Approval</strong>
        }
        else if (@Model.UserStatusID == (int)PurpicsWeb.Services.CommonFunctions.CommonEnums.UserStatus.Approved)
        {
            <strong>Approved</strong>
        }
        else if (@Model.UserStatusID == (int)PurpicsWeb.Services.CommonFunctions.CommonEnums.UserStatus.Denied)
        {
            <strong>Declined</strong>
        }
        else
        {
            <strong>Waiting For Approval</strong>
        }
    </span>
</div>
<form action="#" class="form-horizontal form-bordered">
    <div class="col-xs-12 account-main">

        <div class="compaigns-form form-horizontal left col-xs-12" id="divGeneralInfo" style="min-height:350px !important;">
            <div class="col-xs-12 padding-zero">
                <div class="form-group">
                    <label class="col-xs-12 control-label info">General Information:</label>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Username:</label>
                    <div class="col-sm-8 control-label">
                        <span>@Model.AspNetUsername</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Contact Name:</label>
                    <div class="col-sm-8 control-label wrapcontent">
                        <span>@Model.ContactPerson</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Contact Phone:</label>
                    <div class="col-sm-8 control-label">
                        <span>@Model.ContactPhone</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="compaigns-form form-horizontal right pull-right col-xs-12" id="divOtherInfo" style="min-height:350px !important;">
            <div class="col-xs-12 padding-zero">
                <div class="form-group">
                    <label class="col-xs-12 control-label info">Other Information:</label>
                </div>
                <div class="form-group">
                    <label class="col-sm-5 control-label">Student Organization Name:</label>
                    <div class="col-sm-7 control-label wrapcontent">
                        <span>@Model.Name</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-5 control-label">Address:</label>
                    <div class="col-sm-7 control-label wrapcontent">
                        <span>@Model.Address</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-5 control-label">Student Organization Logo:</label>
                    <div class="col-sm-7 fileimage control-label">
                        <div class="fallback phone3">
                            <img src="@Href(@System.Configuration.ConfigurationManager.AppSettings["StudentOrganizationImagePath"] + @Model.LogoFileName)" id="upimg">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-5 control-label">Non Profit Partners:</label>
                    <div class="col-sm-7 control-label wrapcontent" style="overflow-wrap: break-word;">
                        <ul>
                            @foreach (var item in Model.SOCharities.Where(x => x.IsSelected == true))
                            {
                                <li>@Html.DisplayFor(m => item.CharityName)</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">&nbsp;</div>
        @if (Model.UserStatusID == 1)
        {
            <div class="col-xs-12 padding-zero bank-info" id="btnDiv">
                <div class="form-group pull-right agree bank">
                    <button type="submit" class="btn btn-default btn-lg active" onclick="approveStudentOrganization(); return false;" title="Approve">Approve</button>
                    <button type="submit" class="btn btn-default btn-lg active prev" onclick="confirmDecline(); return false;" title="Decline">Decline</button>
                </div>
            </div>
            <div class="modal fade" tabindex="-1" role="dialog" id="modelDeleteSO">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size:larger;">&times;</span></button>
                            <h4 class="modal-title">Confirmation</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to decline this student organization?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-addnew" onclick="DeleteSOClick();">Yes</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
            <script>

                function confirmDecline() {
                    jQuery.noConflict();
                    (function ($) {
                        $('#modelDeleteSO').modal('show');
                    }
                    )(jQuery);
                }
                function DeleteSOClick() {
                    jQuery.noConflict();
                    (function ($) {
                        $('#modelDeleteSO').modal('hide');
                    }
                    )(jQuery);
                    if ($("#loadingbar").length === 0) {
                        $("body").append("<div id='loadingbar'></div>")
                        $("#divLoader").css("display", "block");
                        $("#loadingbar").addClass("waiting").append($("<dt/><dd/>"));
                        $("#loadingbar").width((50 + Math.random() * 30) + "%");
                    }
                    declineStudentOrganizationStatus();
                    $("#loadingbar").width("101%").delay(200).fadeOut(400, function () {
                        $(this).remove();
                        $("#divLoader").css("display", "none");
                    });
                }
            </script>
        }
    </div>
</form>
<script>
    $(document).ready(function () {
        var height = $('.account-main').height() - $('#btnDiv').height();
        $("#divGeneralInfo").css("cssText", "height: " + height + "px !important;");
        $("#divOtherInfo").css("cssText", "height: " + height + "px !important;");
    });
</script>