﻿@model PurpicsWeb.Areas.StudentOrganization.Models.AccountInformation
@{
    ViewBag.Title = "Account Information";
    Layout = "~/Areas/StudentOrganization/Views/Shared/_StudentOrganizationLayout.cshtml";
}

<style>
    .account-main .compaigns-form {
        height: 100% !important;
    }

    .compaigns-form form-horizontal left col-xs-12 {
        height: 100% !important;
    }
</style>

@using (Html.BeginForm("EditAccountInformation", "AccountInformation", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-xs-12 breadcrumbs">
            <a href="@Url.Action("", "ManageDashboard", new { area = "StudentOrganization" })" title="Home">Home</a><i class="fa fa-angle-right"></i>
            <span>Account Information</span>
        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>
        <div class="col-xs-12 main-title">
            <h1 class="pull-left">Account Information</h1>
            <span class="pull-right">Status: <strong>@Html.DisplayFor(m => m.Status)</strong></span>
        </div>
        <div class="col-xs-12 account-main">
            <div class="compaigns-form form-horizontal left col-xs-12" id="divGeneralInfo">
                <div class="col-xs-12 padding-zero">
                    <div class="form-group">
                        <label class="col-sm-8 control-label info">General Information:</label>
                        <div class="col-sm-4 control-label agree">
                            @Html.ActionLink("Edit", "EditAccountInformation", "AccountInformation", new { }, new { @class = "btn btn-default active pull-right", @title = "Edit Account Information", @id = "lnkEditAccountInfo_loader" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Username:</label>
                        <div class="col-sm-8 control-label" style="overflow-wrap: break-word;">
                            <span>@Html.DisplayFor(m => m.EmailAddress)</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Password:</label>
                        <div class="col-sm-8 control-label">
                            @*<span><a href="@Url.RouteUrl("Default", new { controller="Manage" , action="ChangePassword" })" title="Change Password">Change Password</a></span>*@
                            <span>********</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Contact Name:</label>
                        <div class="col-sm-8 control-label wrapcontent" style="overflow-wrap: break-word;">
                            <span>@Html.DisplayFor(m => m.ContactName, new { @class = "form-control" })</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Contact Phone:</label>
                        <div class="col-sm-8 control-label">
                            <span>@Html.DisplayFor(m => m.PhoneNumber, new { @class = "form-control", @maxlength = "12" })</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="compaigns-form form-horizontal right pull-right col-xs-12" id="divOtherInfo">
                <div class="col-xs-12 padding-zero">
                    <div class="form-group">
                        <label class="col-sm-8 control-label info">Other Information:</label>
                        <div class="col-sm-4 control-label">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Student Organization Name:</label>
                        <div class="col-sm-8 control-label wrapcontent" style="overflow-wrap: break-word;">
                            <span>@Html.DisplayFor(m => m.Name, new { @class = "form-control" })</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Logo:</label>
                        <div class="col-sm-8 control-label">
                            <span><img src="@Model.StudentOrgLogoFullPath" id="imgSOLogo" width="100" height="100" /></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Address:</label>
                        <div class="col-sm-8 control-label wrapcontent" style="overflow-wrap: break-word;">
                            <span>@Html.DisplayFor(m => m.Address), @Html.DisplayFor(m => m.City, new { @class = "form-control" }), @Html.DisplayFor(m => m.State) @Html.DisplayFor(m => m.Zip)</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Non Profit Partners:</label>
                        <div class="col-sm-8 control-label wrapcontent" style="overflow-wrap: break-word;">
                            <ul>
                                @foreach (var item in Model.SOCharities.Where(x => x.IsSelected == true))
                                {
                                    <li>@Html.DisplayFor(m => item.CharityName)</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $(".menu-item a").removeClass("active");//this will remove the active class from
        $('#A3').addClass('active');
        var height = $('.account-main').height();

        $("#divGeneralInfo").css("cssText", "height: " + height + "px !important;");
        $("#divOtherInfo").css("cssText", "height: " + height + "px !important;");

    });
</script>
