﻿@model PurpicsWeb.Areas.Company.Models.VolunteersViewModel
@{
    ViewBag.Title = "VolunteersView";
    Layout = "~/Areas/Company/Views/Shared/_Layout.cshtml";
}

<section>

    @Html.HiddenFor(x => x.CampaignId)
    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-xs-12 breadcrumbs">
            <a href="@Url.Action("", "ManageDashboard", new { area = "Company" })" title="Home">Home</a><i class="fa fa-angle-right"></i>
            <a href="@Url.Action("ManageCampaign", "Campaign", new { area = "Company" })" title="Manage Campaigns">Campaigns</a><i class="fa fa-angle-right"></i>
            <span>Volunteers</span>
        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>
        <div class="col-xs-12 main-title agree">
            <h1 class="col-sm-8 padding-zero">
                Volunteers
            </h1>
            <span class="pull-right">
                <a href="@Request.UrlReferrer" style="color:white; text-decoration:none;padding: 5px 20px;" class="btn btn-default create pull-right" title="Back"><i class="fa fa-angle-left"></i>Back</a>
            </span>
            
</div>
        
        <form action="#" class="form-horizontal form-bordered">
            
            @if (Model != null && Model.loVolunteersList.Count > 0)
            {
                <div class="col-md-12 searcharea">
                    <br />
                    <div class="col-md-7"></div>
                    <div class="col-md-4 col-xs-8" style="padding-right:0px;">
                        <div class="usersearch">
                            <input type="text" class="form-control" id="txtSearch" maxlength="100" placeholder="Search by Volunteer name ..." onkeypress="userSearch(event);">
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-2" style="padding-left:10px;">

                        <button type="button" id="btnSearch" class="btn" style="background-color:#ee7a34;" title="Search" onclick="search();">Search</button>

                    </div>
                </div>
            }
        </form>

        <div class="col-xs-12 padding-zero">
            &nbsp;
            <div class="col-md-12">

                <div id="divVolunteersList">
                    @Html.Partial("_VolunteersDetails", Model)
                </div>

            </div>
        </div>

    </div>


    @Html.Hidden("hdnVolunteerOrder", "Id ASC")
    @Html.Hidden("hdnVolunteerSortingOnColumn", "sortId")
    @Html.Hidden("hdnVolunteerSortingDirection", "ASC")

    <script type="text/javascript">

        var lsgetVolunteerUserList = '@Url.RouteUrl("Company_default", new { controller = "ManageVolunteers", action = "searchVolunteers" })';
        var lsGetVolunteerUserUrl = "@Url.RouteUrl("Company_default", new { controller = "ManageVolunteers", action = "Index" })";
    </script>


    <script src="@Url.Content("~/Areas/Company/Scripts/Volunteers.js?ver=1.1")" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $(".menu-item a").removeClass("active");//this will remove the active class from
            //previously active menu item
            $('#A2').addClass('active');
        });
    </script>
</section>
