﻿@model PurpicsWeb.Areas.Admin.ViewModels.Charity.CharityCategoriesViewModel
@if (Model != null && Model.loCharityCategoryList.Count > 0)
{
    if (TempData["SuccessMsg"] != null && TempData["SuccessMsg"].ToString() != "")
    {
        <hr style="border-color:#F7F7F7 !important;" />
        <div class="alert alert-success col-xs-12" style="height:30px; padding:4px !important; margin-bottom:0px !important; margin-top:10px;">
            <span class="close" data-dismiss="alert" aria-label="close">&times;</span>
            <span style="vertical-align:middle;"> @TempData["SuccessMsg"].ToString()</span>
            @{TempData["SuccessMsg"] = "";}
        </div>
    }
    if (TempData["ErrorMsg"] != null && TempData["ErrorMsg"].ToString() != "")
    {
        <div class="alert alert-danger col-xs-12" style="height:30px; padding:4px !important; margin-bottom:0px !important; margin-top:10px;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @TempData["ErrorMsg"].ToString()
        </div>
    }
    <div class="table-responsive col-xs-12 dash-table">
        <table class="table table-bordered">
            <tr class="heading">
                @Html.Hidden("hdnPageIndex", Model.inPageIndex)
                <th id="sortName" onclick="getOrderbyList('Name', 'sortName');" class="sorting">Name</th>
                <th >Created On</th>
                <th>Action</th>
            </tr>
            @foreach (var pac in Model.loCharityCategoryList)
            {
                <tr>
                    <td>@pac.Name</td>
                    <td>@pac.CreatedOn</td>
                    <td><a href="@Url.Action("AddEditCharityCategory", "ManageCharity", new { Id = pac.ID })" title="Edit"><i class="fa fa-pencil-square-o" style="font-size: 1.5em;"></i></a>
                        <a href=javascript:void(0); onclick="confirmDelete(@pac.ID)" title="Delete"><i class="fa fa-close" style="color:#23527C; font-size:1.5em;"></i></a>
                    </td>
                </tr>
            }
        </table>
    </div>
    if (@Model.inRecordCount > 10)
    {
        <div class="col-xs-12 showing">
            <span>
                Page @(Model.inPageIndex) out of
                @((Model.inRecordCount + 10 - 1) / 10)
            </span>
            <div class="pull-right">
                @Html.Hidden("hdnTotalRec", @Model.inRecordCount)
                <div id="divPager"></div>
            </div>
        </div>
    }
    @Html.Hidden("hdnId", "")

}
else
{
    <div id="divItemListNoRecord" class="alert alert-warning" align="center">
        <h4><i class="fa fa-warning"></i> No Record Found </h4>
    </div>
}
<div class="modal fade" tabindex="-1" role="dialog" id="modelDeleteCard">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size:larger;">&times;</span></button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this charity category?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-addnew" onclick="DeleteCardClick();">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script>

    function confirmDelete(id) {
        $('#hdnId').val(id);
        jQuery.noConflict();
        (function ($) {
            $('#modelDeleteCard').modal('show');
        }
        )(jQuery);
    }
    function DeleteCardClick() {
        jQuery.noConflict();
        (function ($) {
            $('#modelDeleteCard').modal('hide');
        }
        )(jQuery);
        var id = $('#hdnId').val();
        DeleteUser(id);
        //DeleteUser(id);
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        GetPager($("#hdnTotalRec").val(), $("#hdnPageIndex").val());
    });
</script>