﻿@model PurpicsWeb.Areas.Admin.ViewModels.Charity.CharityModel
@if (Model != null && Model.loCharityList.Count > 0)
{
    <div class="table-responsive col-xs-12 dash-table">
        <table class="table table-bordered">
            <tr class="heading">
                @Html.Hidden("hdnPageIndex", Model.inPageIndex)
                <th id="sortId" onclick="getOrderbyCompanyList('Id', 'sortId');" class="sorting">Ref Id</th>
                <th id="sortCharityName" onclick="getOrderbyCompanyList('CharityName', 'sortCharityName');" class="sorting">Charity</th>
                <th>Subscription</th>
                @*<th>Action</th>*@
            </tr>

            @foreach (var pac in Model.loCharityList)
            {
                @*<tr style="cursor:pointer" onclick="location.href = '@(Url.Action("CharityDetail", "ManageCharity", new { fiCompanyId = pac.Id }))'">*@
                <tr>
                    <td>@pac.Id</td>
                    <td><a href="@Url.RouteUrl("Admin_default", new { action = "CharityDetail", controller = "ManageCharity", fiCharityId = pac.Id })" title="Charity Details" class="wrapcontent">@pac.CharityName</a></td>
                    <td>
                        @if (@pac.UserStatusID == (int)PurpicsWeb.Services.CommonFunctions.CommonEnums.UserStatus.Pending)
                        {
                            <span>Waiting For Approval</span>
                        }
                        else if (@pac.UserStatusID == (int)PurpicsWeb.Services.CommonFunctions.CommonEnums.UserStatus.Approved)
                        {
                            <span>Approved</span>
                        }
                        else if (@pac.UserStatusID == (int)PurpicsWeb.Services.CommonFunctions.CommonEnums.UserStatus.Denied)
                        {
                            <span>Declined</span>
                        }
                        else
                        {
                            <span>Payment Due</span>
                        }
                    </td>
                    @*<td>
                        <a href="@Url.Action("AddEditCharity", "ManageCharity", new { Id = pac.Id })" title="Edit"><i class="fa fa-pencil-square-o" style="font-size: 1.5em;"></i></a>
                    </td>*@
                </tr>
            }

        </table>
    </div>
    if (@Model.inRecordCount > 10)
    {


        <div class="col-xs-12 showing">
            <span>
                Page @(Model.inPageIndex) out of
                @((Model.inRecordCount + 10 - 1) / 10)
            </span>
            <div class="pull-right">
                @Html.Hidden("hdnTotalRec", @Model.inRecordCount)
                @*<ul class="pagination" style="visibility: visible;" id="Patientpaging">
                    <li class="prev disabled"><a title="Previous" href="javascript:void(0);" id="aHrefPrev" class="PrevButton" onclick="refeshList(this.id);"><i class=" fa fa-angle-left"></i> Previous</a></li>
                    <li class="next"><a title="Next" href="javascript:void(0)" id="aHrefNext" class="NextButton" onclick="refeshList(this.id);">Next <i class="fa fa-angle-right"></i></a></li>
                </ul>*@
                <div id="divPager"></div>
            </div>
        </div>
    }
}
else
{
    <div id="divItemListNoRecord" class="alert alert-warning" align="center">
        <h4><i class="fa fa-warning"></i> No Record Found </h4>
    </div>
}


<script type="text/javascript">
    $(document).ready(function () {
        GetPager($("#hdnTotalRec").val(), $("#hdnPageIndex").val());
    });
</script>