﻿@model PurpicsWeb.Areas.Admin.ViewModels.Charity.CharityCategoryViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Add/Edit Charity Category";
}
<script type="text/javascript">
    // Function to allow only integer
    function jsInteger(evt) {

        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
  
    // Function to allow only decimal
    function validate_double(theField, len, precision) {
        numVal = theField.value.replace(/[^\d|\.]/g, '').split('.');
        if (numVal.length > 1) {
            numVal[0] = numVal[0].substr(0, len);
            numVal[1] = numVal[1].substr(0, precision);
            numVal.length = 2;
            theField.value = numVal.join('.');
        } else {
            theField.value = numVal[0];
        };
    }

    function jsDecimals(el, e) {
        var number = el.value.split('.');
        var evt = (e) ? e : window.event;
        var key = (evt.keyCode) ? evt.keyCode : evt.which;
        if (key != null) {
            key = parseInt(key, 10);
            if ((key < 48 || key > 57) && (key < 96 || key > 105)) {
                if (!jsIsUserFriendlyChar(key, "Decimals", number.length)) {
                    return false;
                }
            }
            else {
                if (evt.shiftKey) {
                    return false;
                }
            }
        }
        return true;
    }
    function jsInteger(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode == 46)
            return false;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    // Function to check for user friendly keys
    //------------------------------------------
    function jsIsUserFriendlyChar(val, step, valLength) {

        // Backspace, Tab, Enter, Insert, and Delete
        if (val == 8 || val == 9 || val == 13 || val == 45 || val == 46) {
            return true;
        }
        // Ctrl, Alt, CapsLock, Home, End, and Arrows
        if ((val > 16 && val < 21) || (val > 34 && val < 41)) {
            return true;
        }
        if (step == "Decimals") {
            if (val == 190 || val == 110) {  //Check dot key code should be allowed
                if (valLength > 1) {
                    return false;
                }
                else {
                    return true;
                }
            }
        }
        return false;
    }
   
    function validateForm() {

        var form = $("#frmAddEditCharityCat");

        form.valid();
        if (form.valid()) {
            form.submit();
            //if ($("#loadingbar").length === 0) {
            //    $("body").append("<div id='loadingbar'></div>")
            //    $("#divLoader").css("display", "block");
            //    $("#loadingbar").addClass("waiting").append($("<dt/><dd/>"));
            //    $("#loadingbar").width((50 + Math.random() * 30) + "%");
            //}
        }
        return false;
    }
</script>

<section>
    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-xs-12 breadcrumbs">
            <a href="@Url.RouteUrl("Admin_default", new { action = "", controller = "AdminDashBoard" })" title="Home/Dashboard">Home</a><i class="fa fa-angle-right"></i>
            <span>Add/Edit Charity Category</span>
        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>

        @using (Html.BeginForm("AddEditCharityCategory", "ManageCharity", FormMethod.Post, new { @id = "frmAddEditCharityCat" }))
        {
            @Html.HiddenFor(m => m.ID, new { @id = "hdnCategoryId" })
            <div class="form-horizontal">
                <div class="col-md-9">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Category Name&nbsp;<span class="required">*</span></label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Name, null, new { @class = "form-control placeholder-no-fix", @placeholder = "Name", @maxlength = "100", @autofocus = "autofocus", @tabindex = "1", @id = "txtName" })
                            <div class="required">
                                @Html.ValidationMessageFor(m => m.Name)
                            </div>
                        </div>
                      
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <button tabindex="5" type="submit" title="Submit" class="btn pull-right" id="btnSubmit" style="background-color:#eb6f25; color:white" onclick="return validateForm();">
                                <i class="fa fa-save"></i>&nbsp;&nbsp;Save
                            </button>
                        </div>
                        <div class="col-md-1">
                            <a class="btn pull-left" style="background-color:#282828; color:white" title="Cancel" onclick="cancelForm();" href="@Url.RouteUrl("Admin_default", new { action = "ManageCharityCategories", controller = "ManageCharity" })">
                                <i class=" fa fa-angle-left"></i>&nbsp;&nbsp;Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<script>
    $(document).ready(function () {
        $(".menu-item a").removeClass("active");//this will remove the active class from
        $('#A13').addClass('active');
    });
</script>