﻿@model PurpicsWeb.Areas.Admin.ViewModels.Charity.CharityModel
@{
    ViewBag.Title = "Manage Charities";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<section>
    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-xs-12 breadcrumbs">
            <a href="@Url.RouteUrl("Admin_default", new { action = "", controller = "AdminDashBoard" })" title="Home/Dashboard">Home</a><i class="fa fa-angle-right"></i>
            <span>Charities</span>
        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>
        <div class="col-xs-12 main-title agree">
            <h1 class="pull-left">Charities</h1>
        </div>
        <div class="">
            <form action="#" class="form-horizontal form-bordered">
                <div class="col-md-12 searcharea">
                    @*<div class="col-md-2" style="padding-left:0px;">
                        <a href="@Url.RouteUrl("Admin_default", new { action = "AddEditCharity", controller = "ManageCharity" })" class="btn" style="float:left; background-color:#EB6F25; color:white;" title="Add New Charity"><i class=" fa fa-plus"></i>&nbsp;&nbsp;Add New Charity</a>
                    </div>*@
                    <div class="col-md-5">
                        <div class="form-group" style="float:right;">
                            @Html.DropDownList("dropStatus", new List<SelectListItem>()
                                                {
                                                    new SelectListItem() { Text= "Waiting For Approval", Value = "1" },
                                                    new SelectListItem() { Text= "Approved", Value = "2" },
                                                    new SelectListItem() { Text= "Declined", Value = "3" },
                                                    new SelectListItem() { Text= "Payment Due", Value = "4" }
                                                }, "Select Status", new { @class = "form-control", style = "width: 250px;", @onchange = "statusSearch(this.value)" })

                        </div>
                    </div>
                    <div class="col-md-4 col-xs-8" style="padding-right:0px;">
                        <div class="usersearch">
                            <input type="text" class="form-control" maxlength="100" id="txtSearch" placeholder="Search by charity name ..." onkeypress="userSearch(event);">
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-2" style="padding-left:10px;">
                        <button type="button" id="btnSearch" class="btn" style="background-color:#ee7a34;" title="Search" onclick="search();">Search</button>
                    </div>
                </div>
            </form>
        </div>

        <div id="companylist">
            @Html.Partial("_ManageCharity", Model)
        </div>

    </div>
    @Html.Hidden("hdnOrder", "Id ASC")
    @Html.Hidden("hdnSortingOnColumn", "sortId")
    @Html.Hidden("hdnSortingDirection", "ASC")
    @Html.Hidden("hdnStatus", "0")
    <script type="text/javascript">
        var lsgetCharityList = '@Url.RouteUrl("Admin_default", new { controller = "ManageCharity", action = "searchCharities" })';
    </script>
    <script src="@Url.Content("~/Areas/Admin/assets/scripts/Charity.js?ver=1.4")" type="text/javascript"></script>
        
    <script type="text/javascript">
        
    </script>
</section>

<script>
    $(document).ready(function () {
        $(".menu-item a").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#A4').addClass('active');
    });
</script>