﻿@model PurpicsWeb.Areas.Admin.ViewModels.Charity.CharityCategoriesViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Manage Charity Category";
}

<section>
    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-xs-12 breadcrumbs">
            <a href="@Url.RouteUrl("Admin_default", new { action = "", controller = "AdminDashBoard" })" title="Home/Dashboard">Home</a><i class="fa fa-angle-right"></i>
            <span>Charity Category</span>
        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>
        <div class="col-xs-12 main-title agree">
            <h1 class="pull-left">Charity Category</h1>
        </div>
        <div class="">
            <form action="#" class="form-horizontal form-bordered">
                <div class="col-md-12 searcharea" style="padding-top:10px;">
                    <div class="col-md-7" style="padding-left:0px;">
                        <a href="@Url.RouteUrl("Admin_default", new { action = "AddEditCharityCategory", controller = "ManageCharity" })" class="btn" style="float:left; background-color:#EB6F25; color:white;" title="Add New Category"><i class=" fa fa-plus"></i>&nbsp;&nbsp;Add New Category</a>
                    </div>
                    <div class="col-md-4 col-xs-8" style="padding-right:0px;">
                        <div class="usersearch">
                            <input type="text" class="form-control" id="txtSearch" maxlength="100" placeholder="Search by category name ..." onkeypress="categorySearch(event);">
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-2" style="padding-left:10px;">
                        <button type="button" id="btnSearch" class="btn" style="background-color:#ee7a34;" title="Search" onclick="searchCategory();">Search</button>
                    </div>
                </div>
            </form>
        </div>
       
        <div id="divcategory">
            @Html.Partial("_ManageCharityCategories", Model)
        </div>
    </div>
    @Html.Hidden("hdnOrder", "Name ASC")
    @Html.Hidden("hdnSortingOnColumn", "sortName")
    @Html.Hidden("hdnSortingDirection", "ASC")
    <script type="text/javascript">
        var lsgetUserList = '@Url.RouteUrl("Admin_default", new { controller = "ManageCharity", action = "searchCharityCategory" })';
        var deleteUserUrl = '@Url.RouteUrl("Admin_default", new { controller = "ManageCharity", action = "DeleteCharityCategory" })';
        var lsGetCatList = "@Url.RouteUrl("Admin_default", new { controller = "ManageCharity", action = "ManageCharityCategories" })";
    </script>
    <script src="@Url.Content("~/Areas/Admin/assets/scripts/CharityCategory.js?ver=1.5")" type="text/javascript"></script>
</section>
<script>
    $(document).ready(function () {
        $(".menu-item a").removeClass("active");
        $('#A13').addClass('active');
    });
</script>