﻿@{
    ViewBag.Title = "Company Registration";
    Layout = "~/Areas/Company/Views/Shared/_CompanyBlankLayout.cshtml";
}

<div class="main">

    <div class="container reg-main">
        <div class="row">
            <h3 class="col-xs-12 com-reg">Company Registration</h3>
        </div>
        <div class="row">
            <span class="col-xs-12 terms">Terms and Conditions</span>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <hr />
            </div>
        </div>
        @Html.Partial("_WebsiteTerms")
        <div class="row">
            <div class="col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right agree">
                @Html.ActionLink("I Agree", "Step1", null, new { @class = " btn btn-default btn-lg active", @id = "btnAgree_loader" })
            </div>
        </div>
    </div>
</div>

       

