﻿@model PurpicsWeb.Areas.Company.Models.Registration

@{
    ViewBag.Title = "Registration";
    Layout = "~/Areas/Company/Views/Shared/_CompanyBlankLayout.cshtml";

}

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery-latest.js"></script>
<script src="~/Scripts/jquery.maskedinput-1.3.1.min.js"></script>


<div class="container reg-main1">
    <div class="row">
        <div class="col-xs-12 padding-zero">
            
            <div class="col-xs-12">
                <h2 class="com-reg">Company Registration</h2>
                <span style="float: right; margin-top: -30px; font-weight:bold;"><i class=" fa fa-arrow-left" style="color:#2372BD;"></i> @Html.ActionLink("Back to sign up", "WebLogin", "Account", new { area = "" }, htmlAttributes: new { id = "loginLink" }) </span>
            </div>
            <div class="col-xs-12 hr-row">
                <hr />
            </div>
        </div>
        @using (Html.BeginForm("AddCompanyRegistration", "Registration", FormMethod.Post, new { model = this.Model, @id = "frmCompanyRegistration", @enctype = "multipart/form-data", @class = "frmregister" }))
        {

            
            <div class="col-xs-12">
                <font style="color:#B94A48"><span id="divSuccessMsg"><b>@TempData["Message"]</b></span></font>
                <br />
            </div>

            <div class="col-sm-6 col-xs-12">
                <div class="form-group agree">
                    <span class="info">
                        General Information:
                    </span>
                </div>
                <div>
                    <label>Username<span class="required">*</span></label>
                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @maxlength = "256" })

                    <div class="required">
                        @Html.ValidationMessageFor(model => model.UserName)
                    </div>
                </div>
                <div>
                    <label>Password<span class="required">*</span></label>

                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    <div class="required">
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>

                <div>
                    <label>Contact Name<span class="required">*</span></label>
                    @Html.TextBoxFor(model => model.ContactName, new { @class = "form-control", @maxlength = "500" })
                    <div class="required">
                        @Html.ValidationMessageFor(model => model.ContactName)
                    </div>
                </div>


                <div>
                    <label>Contact Phone<span class="required">*</span></label>
                    <div class="col-md-12 padding-zero">
                        <table style="width:100%">
                            <tr style="vertical-align:top">
                                <td style="width:30%">
                                    @Html.TextBoxFor(m => m.PhoneNumber1, new { @class = "form-control", @maxlength = "3", @onKeyPress = "return  PassKeyPhone1()", @onKeyUp = "return  PassKeyPhone1()" })
                                    <div class="required">
                                        @Html.ValidationMessageFor(m => m.PhoneNumber1)
                                    </div>
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;</td>
                                <td style="width:30%">
                                    @Html.TextBoxFor(m => m.PhoneNumber2, new { @class = "form-control", @maxlength = "3", @onKeyPress = "return  PassKeyPhone2()", @onKeyUp = "return  PassKeyPhone2()" })
                                    <div class="required">
                                        @Html.ValidationMessageFor(m => m.PhoneNumber2)
                                    </div>
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;</td>
                                <td style="width:40%">
                                    @Html.TextBoxFor(m => m.PhoneNumber3, new { @class = "form-control", @maxlength = "4" })
                                    <div class="required">
                                        @Html.ValidationMessageFor(m => m.PhoneNumber3)
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                
                <div>
                    <label>About Company<span class="required">*</span></label>
                    @Html.TextAreaFor(model => model.AboutCompany, new { @class = "form-control", @rows = "5" })
                    <div class="required">

                        @Html.ValidationMessageFor(model => model.AboutCompany)
                    </div>
                </div>

            </div>


            <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                    <span class="info">
                        Other Information:
                    </span>
                </div>

                <div>
                    <label>Legal Entity Name<span class="required">*</span></label>
                    @Html.TextBoxFor(model => model.LegalEntityName, new { @class = "form-control", @maxlength = "500" })
                    <div class="required">
                        @Html.ValidationMessageFor(model => model.LegalEntityName)
                    </div>
                </div>

                <div>
                    <label>Company Name<span class="required">*</span></label>
                    @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control", @maxlength = "500" })
                    <div class="required">

                        @Html.ValidationMessageFor(model => model.CompanyName)
                    </div>
                </div>

                <div class="company">

                    <label>Company Logo<span class="required">*</span></label>
                    <div class="fileUpload control-label">
                        <span class="companylogo">Select Your File...</span>
                        @Html.TextBoxFor(m => m.CompanyLogo, new { type = "file", @tabindex = "19", @class = "form-control upload" })
                    </div>


                    (Logo size should not exceed 2 MB. Logo type should be JPG/JPEG/PNG only.)<br />
                    <img id="imgEmp" tabindex="-1" src="/Images/Company/NoPhoto.jpg" height="70" width="70"  />
                    <div class="error">
                        @Html.ValidationMessageFor(model => model.CompanyLogo)
                        @Html.ValidationMessage("File", new { @class = "text-danger" })
                    </div>
                </div>
                <div style="height:5px"></div>
                <div>
                    <label>Company Address<span class="required">*</span></label>
                    @Html.TextAreaFor(model => model.CompanyAddress, new { @class = "form-control", @maxlength = "500", @rows = "5" })
                    <div class="required">

                        @Html.ValidationMessageFor(model => model.CompanyAddress)
                    </div>
                </div>
            </div>


            <div class="col-xs-12">
                <hr />
                <div class="col-sx-6 agree" style="text-align:left;">

                    <a href="@Url.Action("Index", "Registration", new { area = "Company" })" style="background-color:black; color:white" class="btn btn-default create pull-left" title="Prev"><i class="fa fa-angle-left"></i>Prev</a>


                </div>
                <div class="col-sx-6 agree" style="text-align:right;"><a class="btn btn-default pull-right" style="background-color:#eb6f25; color:white;" alt="Next" title="Next" onclick="return validateCompanyRegistrationLogo();">Next</a></div>

            </div>

        }
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modelAlertMessages">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size:larger;">&times;</span></button>
                    <h4 class="modal-title">Alert</h4>
                </div>
                <div class="modal-body">
                    <p>
                        @Html.Label("alertcmmessages", new { @id = "lblAlertMsgs" })
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-addnew" data-dismiss="modal" aria-label="Close">Ok</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    </div>
    <script type="text/javascript">
        $("#ContactPhone").mask('999-999-9999');
        $(document).ready(function () {
            $("#PhoneNumber1").keypress(function isNumber(evt) {
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if (charCode == 45) {
                    return true;
                }
                if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                    return false;
                }
                return true;


            });

            $("#PhoneNumber2").keypress(function isNumber(evt) {
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if (charCode == 45) {
                    return true;
                }
                if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                    return false;
                }
                return true;


            });

            $("#PhoneNumber3").keypress(function isNumber(evt) {
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if (charCode == 45) {
                    return true;
                }
                if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                    return false;
                }
                return true;


            });          


            $(document).on('change', "#CompanyLogo", function () {


                var regex = /(.jpg|.jpeg|.png)$/;
                if (regex.test($(this).val().toLowerCase())) {
                    var filesize = this.files[0].size;
                    if (parseInt(filesize) <= parseInt(2097152)) {
                        if (typeof (FileReader) != "undefined") {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                $("#imgEmp").attr("src", e.target.result);
                                $("#imgEmp").attr("height", "70px");
                                $("#imgEmp").attr("width", "70px");
                            }
                            reader.readAsDataURL($(this)[0].files[0]);
                            var filename = jQuery(this).val().replace(/.*(\/|\\)/, '');
                            if (filename != "") {
                                jQuery(".fileUpload span").html(filename);
                            }
                        } else {
                            //alert("This browser does not support FileReader.");
                            $('#lblAlertMsgs').text("This browser does not support FileReader.");
                            $('#modelAlertMessages').modal('show');
                        }
                    }
                    else {
                        //alert("File size is more than 2 MB, please upload a valid image file.");

                        jQuery(".fileUpload span").html("Select Your File...");
                        $("#CompanyLogo").val("");
                        $('#imgEmp').attr('src', '/Images/Company/NoPhoto.jpg');
                        $('#lblAlertMsgs').text("File size is more than 2 MB, please upload a valid image file.");
                        $('#modelAlertMessages').modal('show');
                    }
                } else {
                    //alert("Please upload a valid image file. Only .jpg, .jpeg and .png files are allowed");
                    $("#CompanyLogo").val("");
                    jQuery(".fileUpload span").html("Select Your File...");
                    $('#imgEmp').attr('src', '/Images/Company/NoPhoto.jpg');
                    $("#imgEmp").attr("height", "70px");
                    $("#imgEmp").attr("width", "70px");
                    $('#lblAlertMsgs').text("Please upload a valid image file. Only .jpg, .jpeg and .png files are allowed.");
                    $('#modelAlertMessages').modal('show');
                }
            });

        });
        function validateCompanyRegistrationLogo() {

            var form = $("#frmCompanyRegistration");

            if (form.valid()) {
                if (document.getElementById("CompanyLogo").files.length <= 0) {
                    $('#lblAlertMsgs').text("Please upload Company Logo.");
                    $('#modelAlertMessages').modal('show');
                    $("#CompanyLogo").val("");
                    return false;
                }
                if ((document.getElementById("CompanyLogo").files[0].size / 1024) > (1024 * 2)) {
                    alert("Maximum Allowed File Size is 2 MB");
                    $('#CompanyLogo').val('');
                    $('#imgEmp').attr('src', '/Images/CampaignCoupon/NoPhoto.jpg');
                    return false;
                }



                form.submit();
                if ($("#loadingbar").length === 0) {
                    $("body").append("<div id='loadingbar'></div>")
                    $("#divLoader").css("display", "block");
                    $("#loadingbar").addClass("waiting").append($("<dt/><dd/>"));
                    $("#loadingbar").width((50 + Math.random() * 30) + "%");
                }
            }
            return false;
        }

        function PassKeyPhone1() {
            if ($("#PhoneNumber1").val().length >= 3) {
                $("#PhoneNumber2").focus();
                return (false);
            }
            return (true);

        }

        function PassKeyPhone2() {
            if ($("#PhoneNumber2").val().length >= 3) {
                $("#PhoneNumber3").focus();
                return (false);
            }
            return (true);

        }
    </script>
    @section Scripts
{
        @Scripts.Render("~/bundles/jqueryval")
    }
