﻿@model PurpicsWeb.Areas.Charity.Models.AccountInformation
@using PurpicsWeb.Services.CommonFunctions;
@{
    string MaskedNumber = string.Empty, Month = string.Empty, Year = string.Empty;
    string StreetAddress = string.Empty, Locality = string.Empty, PostalCode = string.Empty;

    string CardHolder = string.Empty, ExpirationDate = string.Empty, Region = string.Empty;
    string[] DateArray;
    bool IsDefault = false;
    string DefaultYesNo = string.Empty;
    if (Model.CreditCardDetails != null)
    {
        MaskedNumber = Model.CreditCardDetails.MaskedNumber;
        CardHolder = Model.CreditCardDetails.CardholderName;
        ExpirationDate = Model.CreditCardDetails.ExpirationDate;
        DateArray = ExpirationDate.Split('/');

        if (DateArray.Count() == 2)
        {
            Month = !string.IsNullOrEmpty(DateArray[0]) ? DateArray[0] : string.Empty;
            Year = !string.IsNullOrEmpty(DateArray[1]) ? DateArray[1] : string.Empty;
        }
        StreetAddress = Model.CreditCardDetails.BillingAddress.StreetAddress;
        Locality = Model.CreditCardDetails.BillingAddress.Locality;
        PostalCode = Model.CreditCardDetails.BillingAddress.PostalCode;
        Region = Model.CreditCardDetails.BillingAddress.Region;
        IsDefault = Model.CreditCardDetails.IsDefault;
        DefaultYesNo = IsDefault ? "Yes" : "No";
    }

}




<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Credit Card Holder's Name: </label>
            <span style="overflow-wrap:break-word">@CardHolder</span>

        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Credit Card Number: </label>
            <span style="overflow-wrap:break-word"> @MaskedNumber.GetCreditCardLastDigit()</span>


</div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Billing Address: </label>
            <span style="overflow-wrap:break-word">@StreetAddress</span>

</div>
    </div>
    <div class="col-md-4">
        <div class="form-group">

            <label>Expiry Date: </label>
            @Month &nbsp;@Year
        </div>
    </div>
    <div class="col-md-2"></div>
</div>


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <div class="form-group">
            <label>City: </label>
            <span style="overflow-wrap:break-word">@Locality</span>

</div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            @*<label>Is Default </label><br />
                <label>DefaultYesNo</label>*@


        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <div class="form-group">
            <label>State: </label>
            @Region

        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">



        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Zip: </label>
            @PostalCode

        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">



        </div>
    </div>
    <div class="col-md-2"></div>
</div>





