﻿@model PurpicsWeb.Areas.Company.Models.CampaignReport.CampaignReportModel
@{
    if (ViewBag.Currentpageindex == null)
    {
        ViewBag.Currentpageindex = 1;
    }

}
<input type="hidden" id="hdnPageIndex" value="@ViewBag.Currentpageindex" />
@if (Model != null && Model.loCampaignReportViewModel.Count > 0)
{

    <div class="col-md-9 col-sm-8 col-xs-12">
        <table class="table table-bordered wordwrap">
            <tr class="heading">
                @Html.Hidden("hdnPageIndex", Model.inPageIndex)
                <th id="sortId" onclick="getOrderbyUserList('Id', 'sortId');" class="sorting">Campaign ID</th>
                <th id="sortCampaignStatusID" onclick="getOrderbyUserList('CampaignStatusID', 'sortCampaignStatusID');" class="sorting">Status</th>
                <th id="sortLikes" onclick="getOrderbyUserList('Likes', 'sortLikes');" class="sorting">Current Likes</th>
                <th id="sortPackageLikes" onclick="getOrderbyUserList('PackageLikes', 'sortPackageLikes');" class="sorting">Target Likes</th>
                <th id="sortCampaignStartDate" onclick="getOrderbyUserList('CampaignStartDate', 'sortCampaignStartDate');" class="sorting">Start Date</th>
                <th id="sortCampaignEndDate" onclick="getOrderbyUserList('CampaignEndDate', 'sortCampaignEndDate');" class="sorting">Goal Reached Date</th>
                <th id="sortTimeToReachTarget" onclick="getOrderbyUserList('TimeToReachTarget', 'sortTimeToReachTarget');" class="sorting">Time to reach Target<br /> Like (in days)</th>
                <th>Coupons <br />Redeemed</th>
            </tr>
            @foreach (var item in Model.loCampaignReportViewModel)
            {

                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @if (item.CampaignStatusID == 2 && item.CampaignEndDate==null)
                        {
                            <span>Ongoing</span>
                        }
                        else
                        {
                            <span>Completed</span>
                        }
                    </td>
                    <td>
                        @item.Likes
                    </td>
                    <td>
                        @item.PackageLikes
                    </td>
                    <td>
                        @if (item.CampaignStartDate != null)
                        {
                            <span>@Convert.ToDateTime(item.CampaignStartDate).ToString("MM/dd/yyyy")</span>
                        }
                        else
                        {
                            <span></span>
                        }
                    </td>
                    <td>
                        @if (item.CampaignEndDate != null)
                        {
                            <span>@Convert.ToDateTime(item.CampaignEndDate).ToString("MM/dd/yyyy")</span>
                        }
                        else
                        {
                            <span></span>
                        }
                    </td>
                    <td>
                        @if (item.Days != 0)
                        {
                            @item.Days
                        }
                        else
                        {
                            <span></span>
                        }
                    </td>
                    <td>
                        @item.CouponRedeem
                    </td>
                </tr>
            }

        </table>
        @*<div class="row">
            <div class="col-xs-12 showing">
                <span>
                    Page @(Model.inPageIndex) out of
                    @((Model.inRecordCount + 10 - 1) / 10)
                </span>
                <div class="pull-right">
                    @Html.Hidden("hdnTotalRec", @Model.inRecordCount)
                    <div id="divPager"></div>
                </div>
            </div>
        </div>*@
        @if (@Model.inRecordCount > 10)
        {
        <div class="col-xs-12 showing">
            <span>
                Page @(Model.inPageIndex) out of
                @((Model.inRecordCount + 10 - 1) / 10)
            </span>
            <div class="pull-right">
                @Html.Hidden("hdnTotalRec", @Model.inRecordCount)
                <div id="divPager"></div>
            </div>
        </div>
        }
    </div>

}
else
{
    <br />
    <div class="col-md-9 col-sm-8 col-xs-12">
        <div id="divItemListNoRecord" class="alert alert-warning" align="center">
            <h4><i class="fa fa-warning"></i> No Record Found </h4>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        GetPager($("#hdnTotalRec").val(), $("#hdnPageIndex").val());
    });
</script>

