﻿@model PurpicsWeb.Areas.Company.Models.CampaignReport.CampaignReportModel
@{
    ViewBag.Title = "Campaign Report";
    Layout = "~/Areas/Company/Views/Shared/_Layout.cshtml";
}

<section>


    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-xs-12 breadcrumbs">
            <a href="@Url.Action("", "ManageDashboard", new { area = "Company" })" title="Home">Home</a><i class="fa fa-angle-right"></i>
            <span>Campaign Report</span>
        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>
        <div class="col-xs-12 main-title agree">
            <h1 class="pull-left">Campaign Report</h1>
        </div>
        <form action="#" class="form-horizontal form-bordered">


            <div class="col-md-12 searcharea" style="height:50px;">
                <div class="col-md-4 " style="">
                    @*<div class="input-group">
                        <label class="input-group-btn" for="date-fld">
                            <span class="btn btn-default">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </label>
                        <input type="text" class="form-control date-input" id="date-fld" />
                    </div>*@
                </div>
                <div class="col-md-7 col-xs-14" style="padding-right:0px;">
                    <div class="usersearch">
                        <label class="control-label col-md-3 selectdaterangetxt">Filter:</label>
                        <div class="input-group input-small date date-picker" data-date-format="dd/mm/yyyy">
                            <input type="text" id="txtFromDate" class="form-control datepicker" name="from" placeholder="Start Date" readonly>
                            <label class="input-group-btn" for="txtFromDate">
                                <span class="btn btn-default" style="border-radius:0px;">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </label>
                            <span class="input-group-btn" style="border-radius:0px 0px 0px 0px;">
                                <button type="button" title="Remove" class="btn btn-default date-reset" onclick="clearDate('txtFromDate');" style="border-radius: 0 4px 4px 0px"><i class="fa fa-times"></i></button>
                            </span>
                            
                            <span class="input-group-addon" style="padding-left:10px; background-color:#F7F7F7; padding-right:10px; border:solid 1px #F7F7F7;cursor:none;"> &nbsp; </span>
                            
                            <input type="text" id="txtToDate" class="form-control datepicker" name="to" style="border-radius: 4px 0px 0px 4px" placeholder="End Date" readonly>
                            <label class="input-group-btn" for="txtToDate">
                                <span class="btn btn-default" style="border-radius:0px;">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </label>
                            <span class="input-group-btn">
                                <button type="button" title="Remove" class="btn btn-default date-reset" onclick="clearDate('txtToDate');"><i class="fa fa-times"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-xs-2" style="padding-left:10px;  float:right;">
                    <button type="button" id="btnSearch" class="btn" style="background-color:#ee7a34;" title="Search" onclick="search();">Search</button>
                </div>
                
            </div>

        </form>
    </div>
    <div style="height:10px;"></div>
    <div id="Campaignlist">
        @Html.Partial("~/Areas/Company/Views/CampaignReport/_CampaignReport.cshtml", Model)
    </div>
    @Html.Hidden("hdnOrder", "Id ASC")
    @Html.Hidden("hdnSortingOnColumn", "sortId")
    @Html.Hidden("hdnSortingDirection", "ASC")
    @Html.Hidden("hdnStatus", "0")
    <script src="~/Areas/Company/Scripts/CampaignReport.js?ver=1.1"></script>

    <script type="text/javascript">

        var lsgetCampaignReportList = '@Url.RouteUrl("Company_default", new { controller = "CampaignReport", action = "searchCampaign" })';

    </script>

    <script type="text/javascript">
            $(document).ready(function () {
                $(".menu-item a").removeClass("active");//this will remove the active class from

                $('#A5').addClass('active');
                

            });

            $('#datetimepicker1 input').click(function (event) {
                $('#datetimepicker1 ').data("DateTimePicker").show();
            });
    </script>
    

</section>

