﻿@model PurpicsWeb.Areas.Charity.Models.Billing.BillingHistorysViewModel
@{
    if (ViewBag.Currentpageindex == null)
    {
        ViewBag.Currentpageindex = 1;
    }

}
<input type="hidden" id="hdnPageIndex" value="@ViewBag.Currentpageindex" />
@if (Model != null && Model.loBillingHistory.Count > 0)
{

    <div class="col-md-9 col-sm-8 col-xs-12">
        <table class="table table-bordered wordwrap">
            <tr class="heading">
                @Html.Hidden("hdnPageIndex", Model.inPageIndex)
                <th id="sortId" onclick="getOrderbyUserList('Id', 'sortId');" class="sorting">Ref ID</th>
                <th id="sortReferenceNumber" onclick="getOrderbyUserList('ReferenceNumber', 'sortReferenceNumber');" class="sorting">Reference Number</th>
                <th id="sortAmount" onclick="getOrderbyUserList('Amount', 'sortAmount');" class="sorting">Amount</th>
                <th id="sortCreatedOn" onclick="getOrderbyUserList('CreatedOn', 'sortCreatedOn');" class="sorting">Start Date</th>
                <th id="sortSubscriptionEndDate" onclick="getOrderbyUserList('SubscriptionEndDate', 'sortSubscriptionEndDate');" class="sorting">End Date</th>            
            </tr>
            @foreach (var item in Model.loBillingHistory)
                {

                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.ReferenceNumber
                    </td>
                    <td>
                         @string.Format("{0:C}", @item.Amount)
                    </td>
                    <td>
                        @Convert.ToDateTime(item.CreatedOn).ToString("MM/dd/yyyy")
                    </td>
                    <td>
                        @Convert.ToDateTime(item.SubscriptionEndDate).ToString("MM/dd/yyyy")                        
                    </td>
                </tr>
            }

        </table>
        <div class="row">

            @*<div class="col-xs-12 showing">
                <span>
                    Page @(Model.inPageIndex) out of
                    @((Model.inRecordCount + 10 - 1) / 10)
                </span>
                <div class="pull-right">
                    @Html.Hidden("hdnTotalRec", @Model.inRecordCount)
                    
                    <div id="divPager"></div>
                </div>
            </div>*@
            @if (@Model.inRecordCount > 10)
            {
                <div class="col-xs-12 showing">
                    <span>
                        Page @(Model.inPageIndex) out of
                        @((Model.inRecordCount + 10 - 1) / 10)
                    </span>
                    <div class="pull-right">
                        @Html.Hidden("hdnTotalRec", @Model.inRecordCount)
                        <div id="divPager"></div>
                    </div>
                </div>
            }
        </div>
    </div>

}
else
{
    <br />   
     <div class="col-md-9 col-sm-8 col-xs-12">
        <div id="divItemListNoRecord" class="alert alert-warning" align="center">
            <h4><i class="fa fa-warning"></i> No Record Found </h4>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        GetPager($("#hdnTotalRec").val(), $("#hdnPageIndex").val());
    });
</script>
