﻿@model PurpicsWeb.Areas.Charity.Models.Company.CompanyViewModel
@{
    ViewBag.Title = "Company Details";
    Layout = "~/Areas/Charity/Views/Shared/_CharityLayout.cshtml";
}

<section>
    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-xs-12 breadcrumbs">
            <a href="@Url.Action("", "ManageDashboard", new { area = "Charity" })" title="Home">Home</a><i class="fa fa-angle-right"></i>
            <span>Company Details</span>
               
            
        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>
        <div class="col-xs-12 agree">
            @if (@Model.IsManageDashboard == false)
            {
                <a href="@Url.Action("", "ManageCampaign", new { area = "Charity", @CurrpageIndex = ViewBag.Currentpageindex })" style="color:white; text-decoration:none;padding: 5px 20px;" title="Back" class="btn btn-default create pull-right"><i class="fa fa-angle-left"></i>Back</a>
            }
            else
            {
                <a href="@Url.Action("", "ManageDashboard", new { area = "Charity", @CurrpageIndex = ViewBag.Currentpageindex })" style="color:white; text-decoration:none;padding: 5px 20px;" title="Back" class="btn btn-default create pull-right"><i class="fa fa-angle-left"></i>Back</a>
            }

        </div>
        <div id="divDetails">
            @Html.Partial("_CompanyDetail", Model)
        </div>
    </div>
   

</section>
<script>
    $(document).ready(function () {
        $(".menu-item a").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#A2').addClass('active');
    });
</script>

