﻿@model PurpicsWeb.Areas.Company.Models.PaymentDTO
@using PurpicsWeb.Services.CommonFunctions;
@{
    ViewBag.Title = "Add/Edit Credit Card Information";

    if (Model.CompanyId == 0)
    {
        Layout = "~/Areas/Company/Views/Shared/_CompanyBlankLayout.cshtml";

    }
    else
    {
        Layout = "~/Areas/Company/Views/Shared/_Layout.cshtml";
    }

    var method = "";
    var controllername = "";
    if (Model.CompanyId == 0)
    {
        controllername = "Registration";
        method = "AddNewCompanyRegistration";
    }
    else
    {
        method = "AddEditCreditCard";
        controllername = "Payment";
    }
}
<link href="~/Content/bootstrap-switch/bootstrap-switch.min.css" rel="stylesheet" />
<style>
    form #cardno {
        background-image: url(../../images/images.png), url();
        background-position: 2px -121px, 260px -61px;
        background-size: 120px 361px, 120px 361px;
        background-repeat: no-repeat;
        padding-left: 54px;
        width: 100%;
        height: 34px;
        border: 1px solid #ccc;
    }

        form #cardno.visa {
            background-position: 2px -163px, 260px -61px;
        }

        form #cardno.visa_electron {
            background-position: 2px -205px, 260px -61px;
        }

        form #cardno.mastercard {
            background-position: 2px -247px, 260px -61px;
        }

        form #cardno.maestro {
            background-position: 2px -289px, 260px -61px;
        }

        form #cardno.discover {
            background-position: 2px -331px, 260px -61px;
        }

        form #cardno.valid.visa {
            background-position: 2px -163px, 260px -87px;
        }

        form #cardno.valid.visa_electron {
            background-position: 2px -205px, 260px -87px;
        }

        form #cardno.valid.mastercard {
            background-position: 2px -247px, 260px -87px;
        }

        form #cardno.valid.maestro {
            background-position: 2px -289px, 260px -87px;
        }

        form #cardno.valid.discover {
            background-position: 2px -331px, 260px -87px;
        }
</style>


<div class="container reg-main1">
    <div class="col-xs-12 padding-zero">
        <h3 class="col-xs-12 com-reg">Company Registration</h3>
    </div>
    <div class="col-xs-12 padding-zero">
        <div class="col-xs-12 hr-row">
            <hr />
        </div>
    </div>

    @using (Html.BeginForm(method, controllername, FormMethod.Post, new { @id = "frmAddEditCreditCard", @class = "frmregister" }))
    {
        string MaskedNumber = string.Empty, Month = string.Empty, Year = string.Empty;
        string StreetAddress = string.Empty, Locality = string.Empty, PostalCode = string.Empty;

        string CardHolder = string.Empty, ExpirationDate = string.Empty, Region = string.Empty;
        string[] DateArray;
        bool IsDefault = true;
        string DefaultYesNo = string.Empty;
        if (Model.CreditCardDetails != null)
        {
            MaskedNumber = Model.CreditCardDetails.MaskedNumber;
            CardHolder = Model.CreditCardDetails.CardholderName;
            ExpirationDate = Model.CreditCardDetails.ExpirationDate;
            DateArray = ExpirationDate.Split('/');
            Month = DateArray[0];
            Year = DateArray[1];
            Model.month = DateArray[0];
            Model.year = DateArray[1];
            StreetAddress = Model.CreditCardDetails.BillingAddress.StreetAddress;
            Locality = Model.CreditCardDetails.BillingAddress.Locality;
            PostalCode = Model.CreditCardDetails.BillingAddress.PostalCode;
            Region = Model.CreditCardDetails.BillingAddress.Region;
            IsDefault = Model.CreditCardDetails.IsDefault;
            DefaultYesNo = IsDefault ? "Yes" : "No";

        }

        <div class="col-xs-12 padding-zero">
            @if (Model.FromAccountInfo == true)
            {
            <div class="col-xs-12 breadcrumbs">
                <a href="@Url.Action("", "ManageDashboard", new { area = "Company" })">Home</a><i class="fa fa-angle-right"></i>
                <a href="@Url.Action("Index", "AccountInformation", new { area = "Company" })">Account Information</a><i class="fa fa-angle-right"></i>
                <span>Credit Card Information</span>
            </div>
            <div class="col-xs-12 padding-zero">
                <hr />
            </div>
            <div class="col-xs-12 main-title">
                <h1 class="main title">
                    Credit Card Information
                </h1>
                <br />
            </div>
            <br />
            @Html.ValidationMessage("CardError", new { @class = "text-danger" })


            }
            else
            {
            <div class="col-xs-12">@Html.ValidationMessage("CardError", new { @class = "text-danger" })</div>



            }



            <div class="col-sm-6 col-xs-12">

                <div>
                    <label>Credit Card Holder's Name <span class="required">*</span></label>
                    <input id="cardholder" type="text" value="@CardHolder" class="form-control input-normal" maxlength="175" size="20" autocomplete="off" name="card-holder-name" data-encrypted-name="card-holder-name" />
                    <div class="required">
                        <span class="field-validation-error" id="msgStCardHolder" style="display: none;">Please enter credit card holder's name.</span>
                    </div>
                </div>
                <div>
                    <label>Credit Card Number <span class="required">*</span></label>
                    <input id="cardno" type="text" onkeypress="return isNumber(event)" value="@MaskedNumber" class="form-control input-normal" maxlength="19" size="20" autocomplete="off" name="number" data-encrypted-name="number" /><br />
                    <div class="required">
                        <span class="field-validation-error" id="msgStCard" style="display: none;">Please enter credit card number.</span>
                        <span class="field-validation-error" id="msgStCardLength" style="display: none;">Credit card number must be 12-19 digits.</span>
                    </div>
                </div>
                <div>
                    <label>Billing Address <span class="required">*</span></label>
                    <input id="address" type="text" size="2" maxlength="255" class="form-control input-normal" name="street_address" data-encrypted-name="street_address" value="@StreetAddress" />
                    <div class="required">
                        <span class="field-validation-error" id="msgStaddress" style="display: none;">Please enter billing address.</span>
                    </div>
                </div>
                <div>
                    <label>City <span class="required">*</span></label>
                    <input id="city" type="text" size="2" maxlength="255" class="form-control input-normal" name="locality" data-encrypted-name="locality" value="@Locality" />
                    <div class="required">
                        <span class="field-validation-error" id="msgStcity" style="display: none;">Please enter city.</span>
                    </div>
                </div>
                <div>
                    <label>State <span class="required">*</span></label>
                    @*<input id="state" type="text" size="2" class="form-control input-normal" data-encrypted-name="region" value="@Region" />
                        <div class="required">
                            <span class="field-validation-error" id="msgStstate" style="display: none;">Please enter expiry date.</span>
                        </div>*@
                    @Html.DropDownListFor(model => model.CreditCardDetails.BillingAddress.Region, Model.StatesList as List<SelectListItem>, new { @class = "form-control", @id = "state" })
                    <div class="required">
                        <span class="field-validation-error" id="msgStstate" style="display: none;">Please select state.</span>
                    </div>
                </div>
                <div>
                    <label>Zip <span class="required">*</span></label>
                    <input id="zip" class="form-control input-normal" onkeypress="return isNumber(event)" data-braintree-name="postal_code" name="postal_code" data-encrypted-name="postal_code" maxlength="5" value="@PostalCode">
                    <div class="required">
                        <span class="field-validation-error" id="msgStzip" style="display: none;">Please enter zip.</span>
                    </div>
                </div>

                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <label>Expiry Date <span class="required">*</span></label>
                                @*<input id="expdateMonth" type="text" size="2" onkeypress="return isNumber(event)" maxlength="2" class="form-control input-normal" autocomplete="off" name="month" data-encrypted-name="month" value="@Month" placeholder="MM" />*@
                                @Html.DropDownListFor(m => m.month, (List<SelectListItem>)Model.CreditCardExpireMonthList,"", new { @id = "expdateMonth", @class = "form-control" })

                                <div class="required">
                                    <span class="field-validation-error" id="msgStExpDate" style="display: none;">Please enter expiry date.</span>
                                    <span class="field-validation-error" id="msgStExpMonth" style="display: none;">Please enter valid month.</span>
                                    <span class="field-validation-error" id="msgStExpiredDate" style="display: none;">Please enter valid expiry date.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <label>&nbsp;</label>
                                @*<input id="expdateYear" type="text" size="4" onkeypress="return isNumber(event)" maxlength="4" class="form-control input-normal" autocomplete="off" name="year" data-encrypted-name="year" value="@Year" placeholder="YYYY" />*@

                                @Html.DropDownListFor(m => m.year, (List<SelectListItem>)Model.CreditCardExpireYearList,"", new { @id = "expdateYear", @class = "form-control input-normal" })

                                <div class="required">
                                    <span class="field-validation-error" id="msgStExpYear" style="display: none;">Please enter valid year.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Security Code(CVV) <span class="required">*</span></label>
                            <input id="cardCVV" type="password" class="form-control input-normal" onkeypress="return isNumber(event)" size="4" maxlength="4" autocomplete="off" name="cvv" data-encrypted-name="cvv" />
                            <div class="required">
                                <span class="field-validation-error" id="msgStCVV" style="display: none;">Please enter CVV.</span>
                                <span class="field-validation-error" id="msgStCVVLength" style="display: none;">CVV must be 4 digits for American Express and 3 digits for other card types.</span>
                            </div>

                        </div>
                    </div>
                </div>
                <div style="display:none">
                    <label>Is Default <a class="has-popover" data-toggle="popover" title="Set Credit Card as Default" data-content="Default credit card will be used while auto refill."><i class="fa fa-question-circle"></i></a></label><br />
                    <input type="checkbox" id="IsDefault" name="IsDefault" data-braintree-name="IsDefault" class="form-control input-normal" data-off-text="No" data-on-text="Yes" checked="@IsDefault" />
                </div>
            </div>


            

            <div class="col-xs-12 agree">


               
                <hr />
                <a href="@Url.Action("Step1", "Registration", new { area = "Company" })" style="background-color:black; color:white" class="btn btn-default create pull-left" title="Prev"><i class="fa fa-angle-left"></i>Prev</a>

              
                <a style="background-color:#eb6f25; color:white" class="btn btn-default pull-right" title="Register" onclick="return formValidate();">Register</a>

              

            </div>

            @Html.HiddenFor(m => m.CreditCardDetails.Token)
            @Html.HiddenFor(m => m.CompanyId)
            @Html.HiddenFor(m => m.FromAccountInfo)
            

        </div>

    }

    <script src="@Url.Content("~/Areas/Company/Scripts/Payment.js")" type="text/javascript"></script>


    <script src="~/Areas/Charity/Scripts/bootstrap-switch/bootstrap-switch.min.js"></script>
    <script type="text/javascript">
            $("[id='IsDefault']").bootstrapSwitch();
            $('body').popover({
                html: true,
                content: function () {
                    return $(this).next().text();
                },
                trigger: "hover",
                selector: '.has-popover',
                placement: "top"
            });

            function isNumber(evt) {
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                    return false;
                }
                return true;
            }
    </script>
    <script type="text/javascript" src="https://js.braintreegateway.com/v1/braintree.js"></script>
    <script type="text/javascript">
        var braintree = Braintree.create("MIIBCgKCAQEAnPqdFFRQjc+QoWWF4C4W+fEBYRGv/Nx+pOu8k9QxK54XaPk4pt4pr9wCy5JiImlXCYuZy6hvUsTuHJuHqfsc8jsEfS1sn+UYeDfuC1yu6NrYpo7ktJr2WS/6k7Z/gFiNVzKX7Df7BclE8ImK+kvv3mRRGY49v9RPdCoO77lEb3UKPJxU1vJyj8aB0M1ohCZEmqq/jzSyHbMar/txaeaA4yJ2REu+RU5h70pvtTPTGGtFpzPaMB+71zU9W/aRvwwIbfM4vk9FsHdOLQQ0QejUk2FIMvHnfA5gbBCfMdF54JwJ4buGpM1oWLVylcnwNLgE/tFfINSIy2NfB79NjeCNhwIDAQAB");
        braintree.onSubmitEncryptForm('frmAddEditCreditCard');
    </script>


    <script>
        $(document).ready(function () {

            $("#cardno").on('paste', function (e) {
                var $this = $(this);
                setTimeout(function () {
                    $this.val($this.val().replace(/[^0-9]/g, ''));
                }, 5);
            });

            $("#zip").on('paste', function (e) {
                var $this = $(this);
                setTimeout(function () {
                    $this.val($this.val().replace(/[^0-9]/g, ''));
                }, 5);
            });

            $("#expdateMonth").on('paste', function (e) {
                var $this = $(this);
                setTimeout(function () {
                    $this.val($this.val().replace(/[^0-9]/g, ''));
                }, 5);
            });

            $("#expdateYear").on('paste', function (e) {
                var $this = $(this);
                setTimeout(function () {
                    $this.val($this.val().replace(/[^0-9]/g, ''));
                }, 5);
            });

            $("#cardCVV").on('paste', function (e) {
                var $this = $(this);
                setTimeout(function () {
                    $this.val($this.val().replace(/[^0-9]/g, ''));
                }, 5);
            });

            $(".menu-item a").removeClass("active");//this will remove the active class from
            //previously active menu item
            $('#A3').addClass('active');

            (function () {
                var $,
                  __indexOf = [].indexOf || function (item) { for (var i = 0, l = this.length; i < l; i++) { if (i in this && this[i] === item) return i; } return -1; };

                $ = jQuery;

                $.fn.validateCreditCard = function (callback, options) {
                    var bind, card, card_type, card_types, get_card_type, is_valid_length, is_valid_luhn, normalize, validate, validate_number, _i, _len, _ref;
                    card_types = [
                      {
                          name: 'amex',
                          pattern: /^3[47]/,
                          valid_length: [15]
                      }, {
                          name: 'diners_club_carte_blanche',
                          pattern: /^30[0-5]/,
                          valid_length: [14]
                      }, {
                          name: 'diners_club_international',
                          pattern: /^36/,
                          valid_length: [14]
                      }, {
                          name: 'jcb',
                          pattern: /^35(2[89]|[3-8][0-9])/,
                          valid_length: [16]
                      }, {
                          name: 'laser',
                          pattern: /^(6304|670[69]|6771)/,
                          valid_length: [16, 17, 18, 19]
                      }, {
                          name: 'visa_electron',
                          pattern: /^(4026|417500|4508|4844|491(3|7))/,
                          valid_length: [16]
                      }, {
                          name: 'visa',
                          pattern: /^4/,
                          valid_length: [16]
                      }, {
                          name: 'mastercard',
                          pattern: /^5[1-5]/,
                          valid_length: [16]
                      }, {
                          name: 'maestro',
                          pattern: /^(5018|5020|5038|6304|6759|676[1-3])/,
                          valid_length: [12, 13, 14, 15, 16, 17, 18, 19]
                      }, {
                          name: 'discover',
                          pattern: /^(6011|622(12[6-9]|1[3-9][0-9]|[2-8][0-9]{2}|9[0-1][0-9]|92[0-5]|64[4-9])|65)/,
                          valid_length: [16]
                      }
                    ];
                    bind = false;
                    if (callback) {
                        if (typeof callback === 'object') {
                            options = callback;
                            bind = false;
                            callback = null;
                        } else if (typeof callback === 'function') {
                            bind = true;
                        }
                    }
                    if (options == null) {
                        options = {};
                    }
                    if (options.accept == null) {
                        options.accept = (function () {
                            var _i, _len, _results;
                            _results = [];
                            for (_i = 0, _len = card_types.length; _i < _len; _i++) {
                                card = card_types[_i];
                                _results.push(card.name);
                            }
                            return _results;
                        })();
                    }
                    _ref = options.accept;
                    for (_i = 0, _len = _ref.length; _i < _len; _i++) {
                        card_type = _ref[_i];
                        if (__indexOf.call((function () {
                          var _j, _len1, _results;
                          _results = [];
                          for (_j = 0, _len1 = card_types.length; _j < _len1; _j++) {
                            card = card_types[_j];
                            _results.push(card.name);
                        }
                          return _results;
                        })(), card_type) < 0) {
                            throw "Credit card type '" + card_type + "' is not supported";
                        }
                    }
                    get_card_type = function (number) {
                        var _j, _len1, _ref1;
                        _ref1 = (function () {
                            var _k, _len1, _ref1, _results;
                            _results = [];
                            for (_k = 0, _len1 = card_types.length; _k < _len1; _k++) {
                                card = card_types[_k];
                                if (_ref1 = card.name, __indexOf.call(options.accept, _ref1) >= 0) {
                                    _results.push(card);
                                }
                            }
                            return _results;
                        })();
                        for (_j = 0, _len1 = _ref1.length; _j < _len1; _j++) {
                            card_type = _ref1[_j];
                            if (number.match(card_type.pattern)) {
                                return card_type;
                            }
                        }
                        return null;
                    };
                    is_valid_luhn = function (number) {
                        var digit, n, sum, _j, _len1, _ref1;
                        sum = 0;
                        _ref1 = number.split('').reverse();
                        for (n = _j = 0, _len1 = _ref1.length; _j < _len1; n = ++_j) {
                            digit = _ref1[n];
                            digit = +digit;
                            if (n % 2) {
                                digit *= 2;
                                if (digit < 10) {
                                    sum += digit;
                                } else {
                                    sum += digit - 9;
                                }
                            } else {
                                sum += digit;
                            }
                        }
                        return sum % 10 === 0;
                    };
                    is_valid_length = function (number, card_type) {
                        var _ref1;
                        return _ref1 = number.length, __indexOf.call(card_type.valid_length, _ref1) >= 0;
                    };
                    validate_number = (function (_this) {
                        return function (number) {
                            var length_valid, luhn_valid;
                            card_type = get_card_type(number);
                            luhn_valid = false;
                            length_valid = false;
                            if (card_type != null) {
                                luhn_valid = is_valid_luhn(number);
                                length_valid = is_valid_length(number, card_type);
                            }
                            return {
                                card_type: card_type,
                                valid: luhn_valid && length_valid,
                                luhn_valid: luhn_valid,
                                length_valid: length_valid
                            };
                        };
                    })(this);
                    validate = (function (_this) {
                        return function () {
                            var number;
                            number = normalize($(_this).val());
                            return validate_number(number);
                        };
                    })(this);
                    normalize = function (number) {
                        return number.replace(/[ -]/g, '');
                    };
                    if (!bind) {
                        return validate();
                    }
                    this.on('input.jccv', (function (_this) {
                        return function () {
                            $(_this).off('keyup.jccv');
                            return callback.call(_this, validate());
                        };
                    })(this));
                    this.on('keyup.jccv', (function (_this) {
                        return function () {
                            return callback.call(_this, validate());
                        };
                    })(this));
                    callback.call(this, validate());
                    return this;
                };

            }).call(this);
        });
    </script>

    <script>
    $(function() {
        $('#cardno').validateCreditCard(function(result) {

            if(result.card_type == null)
            {
                $('#cardno').removeClass();
            }
            else
            {
                $('#cardno').addClass(result.card_type.name);
            }

            if(!result.valid)
            {
                $('#cardno').removeClass("valid");
            }
            else
            {
                $('#cardno').addClass("valid");
            }

        });
    });
    </script>



