﻿@{
    ViewBag.Title = "Charity Registration";
    Layout = "~/Areas/Charity/Views/Shared/_CharityBlankLayout.cshtml";
}


<div class="main">

    <div class="container reg-main">
        <div class="row">
            <h3 class="col-xs-12 com-reg">Charity Registration</h3>
        </div>
        <div class="row">
            <span class="col-xs-12 terms">Website Terms of Use</span>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <hr />
            </div>
        </div>
        @Html.Partial("_WebsiteTerms")
        <div class="row">
            <div class="col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right agree">
                @Html.ActionLink("I Agree", "Step1", null, new { @class = " btn btn-default btn-lg active", @title = "Agree", @id = "btnAgree_loader" })
            </div>
        </div>
    </div>
</div>