﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/Purpics_favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/assets/css/common.css")

    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,800' rel='stylesheet' type='text/css'>  
    
    @Styles.Render("~/assets/css/loadingbar.css")
    <script src="~/Scripts/jquery-2.1.4.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/assets/Scripts/scripts.js" type="text/javascript"></script> 
    @Styles.Render("~/Content/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")
    <link href="~/Areas/Admin/assets/css/DatePicker.css" rel="stylesheet" />

   
</head>
<body>
    
    <div id="divLoader" style="display: none;">
        <div style="border: none; z-index: 100010; position: fixed; top: 0px; bottom: 0px; left: 0px; right: 0px; overflow: hidden; padding: 0; margin: 0; background-color: #000; filter: alpha(opacity=40); opacity: 0.20;">
        </div>
    </div>
    <div class="main admin">
        <div class="container-fluid padding-zero">
            <div class="header col-xs-12">
                <a href="@Url.RouteUrl("Admin_default", new { action = "", controller = "AdminDashBoard" })"><span class="logo"></span></a>
                @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right",@style="margin-right:0px !important" }))
                {
                    @Html.AntiForgeryToken()

                <span class="logout">
                    <span class="welcome">Welcome, <strong> @User.Identity.GetUserName()</strong></span>
                    <a id="lnklogout_loader" href="javascript:document.getElementById('logoutForm').submit()" title="Logout">Logout</a>
                </span>
                }
            </div>
        </div>
        <div class="container-fluid padding-zero">
            <div class="col-xs-12 padding-zero main-content">
                <div class="col-md-3 col-sm-4 col-xs-12 dashboard-menu padding-zero" style="min-height:800px;">
                    <div class="menu-inner padding-zero col-xs-12 menu-item">
                        <a id="A1" href="@Url.RouteUrl("Admin_default", new { action = "", controller = "AdminDashBoard" })" class="col-xs-12" title="Dashboard"><i class="fa fa-th-large"></i>Dashboard</a>
                        <a id="A2" href="@Url.RouteUrl("Admin_default", new { action = "", controller = "ManageCampaigns" })" class="col-xs-12" title="Manage Campaigns"><i class="fa fa-bookmark"></i>Campaigns</a>
                        <a id="A3" href="@Url.RouteUrl("Admin_default", new { action = "", controller = "ManageCompany" })" class="col-xs-12" title="Manage Companies"><i class="fa fa-building-o"></i>Companies</a>
                        <a id="A4" href="@Url.RouteUrl("Admin_default", new { action = "", controller = "ManageCharity" })" class="col-xs-12" title="Manage Charities"><i class="fa fa-bank"></i>Charities</a>
                        <a id="A13" href="@Url.RouteUrl("Admin_default", new { action = "ManageCharityCategories", controller = "ManageCharity" })" class="col-xs-12" title="Manage Charity Categories"><i class="fa fa-reorder"></i>Charity Categories</a>
                        <a id="A10" href="@Url.RouteUrl("Admin_default", new { action = "", controller = "ManageCharityPayment" })" class="col-xs-12" title="Manage Charity Payments"><i class="fa fa-money"></i>Charity Payments</a>
                        <a id="A14" href="@Url.RouteUrl("Admin_default", new { action = "", controller = "ManageStudentOrganization" })" class="col-xs-12" title="Manage Student Organization"><i class="fa fa-users"></i>Student Organizations</a>                        
                        <a id="A5" href="@Url.RouteUrl("Admin_default", new { action = "", controller = "ManagePackage" })" class="col-xs-12" title="Manage Packages"><i class="fa fa-briefcase"></i>Packages</a>
                        <a id="A6" href="@Url.RouteUrl("Admin_default", new { action = "", controller = "ManageVolunteer" })" class="col-xs-12" title="Manage Volunteers"><i class="fa fa-users"></i>Volunteers</a>
                        <a id="A8" href="@Url.RouteUrl("Admin_default", new { action = "", controller = "AppSettings" })" class="col-xs-12" title="App Settings"><i class="fa fa-cogs"></i>App Settings</a>
                        <a id="A9" href="@Url.RouteUrl("Admin_default", new { action = "", controller = "ManageGiftCards" })" class="col-xs-12" title="Gift Cards"><i class="fa fa-gift"></i>Gift Cards</a>
                        <a id="A11" href="@Url.RouteUrl("Admin_default", new { action = "", controller = "ManageRedeemGiftCard" })" class="col-xs-12" title="Redeem Gift Cards"><i class="fa fa-graduation-cap"></i>Redeem Gift Cards</a>
                        <a id="A7" href="@Url.RouteUrl("Admin_default", new { action = "", controller = "AccountInformation" })" class="col-xs-12" title="Account Information"><i class="fa fa-user"></i>Account Information</a>
                        <a id="A12" href="@Url.RouteUrl("Admin_default", new { action = "", controller = "CampaignReport" })" class="col-xs-12" title="Campaign Report"><i class="fa fa-bullhorn"></i>Campaign Report</a>

                    </div>
                </div>
                <section>
                    <div class="alert alert-success hide" id="divSuccess" style="display:block">
                        <button type="button" class="close" data-dismiss="alert">x</button>
                        <i class='fa fa-check paymenttick'></i>
                        <span id="spanMessage"></span>
                    </div>
                    @RenderBody()
                </section>

                <!-- END CONTAINER -->
                <!-- BEGIN CONTENT -->
                @*<div class="footer page-footer">
                    <div class="footer-inner" style="float: right;">
                        @DateTime.Now.Year
                        &copy; @Common.Common.ApplicationName(). All rights reserved.
                    </div>
                    <div class="scroll-to-top">
                        <i class="icon-arrow-up"></i>
                    </div>
                </div>*@
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/assets/scripts/jquery.loadingbar.min.js")

    @Scripts.Render("~/Scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")

    @Scripts.Render("~/Scripts/CommonFunctions.js?ver=1.1")
    
    <link href="~/Content/select2.min.css" rel="stylesheet" />
    <script src="~/Scripts/select2/select2.min.js"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        var lsLoginUrl = "#";
        jQuery(document).ready(function () {

            $('a[id*=_loader]').click(function () {
                if ($("#loadingbar").length === 0) {
                    $("body").append("<div id='loadingbar'></div>")
                    $("#divLoader").css("display", "block");
                    $("#loadingbar").addClass("waiting").append($("<dt/><dd/>"));
                    $("#loadingbar").width((50 + Math.random() * 30) + "%");
                }
            });

            $(document).ajaxError(
               function (event, jqXHR, ajaxSettings, thrownError) {
                   if (jqXHR.status == '403') {
                   }
                   else if (jqXHR.status == '401') {

                   }
               });

            $.ajaxSetup({
                beforeSend: function () {
                    if ($("#loadingbar").length === 0) {
                        $("body").append("<div id='loadingbar'></div>")
                        $("#divLoader").css("display", "block");
                        $("#loadingbar").addClass("waiting").append($("<dt/><dd/>"));
                        $("#loadingbar").width((50 + Math.random() * 30) + "%");
                    }
                },
                complete: function () {
                    $("#loadingbar").width("101%").delay(200).fadeOut(400, function () {
                        $(this).remove();
                        $("#divLoader").css("display", "none");
                    });
                }
            });
        });

        window.onload = function () {
            var tabID = $("#ActiveMenu").text();
            $(".menu1").each(function (index) {
                var menuSelected = $(this).attr("id");
                $(this).parent().removeClass("open active");
                if (String(tabID).toLowerCase() == String(menuSelected).toLowerCase()) {
                    $(this).parent().addClass("open active");
                    $(this).append("<span class='selected'></span>")
                }
            });
        }
        //$('.menu-item a').click(function () {
        //    $(this).addClass('active').siblings().removeClass('active');
        //});
        //$('.menu-item a').click(function (e) {
        //    $('.menu-item a.active').removeClass('active');
        //    var $this = $(this);
        //    if (!$this.hasClass('active')) {
        //        $this.addClass('active');
        //    }
        //});
    </script>
    
    <!-- END JAVASCRIPTS -->
</body>

</html>
