﻿@model PurpicsWeb.Areas.Company.Models.VolunteersViewModel
@{
    if (ViewBag.Currentpageindex == null)
    {
        ViewBag.Currentpageindex = 1;
    }
}
<input type="hidden" id="hdnVolunteerPageIndex" value="@ViewBag.Currentpageindex" />

@if (Model != null && Model.loVolunteersList != null && Model.loVolunteersList.Count > 0)
{

    <table style="width:100%" class="table table-bordered">
        <thead>
            <tr class="heading">
                <th style="width:20%" id="sortId" onclick="getOrderbyUserList('Id', 'sortId');" class="sorting">Ref ID</th>
                <th style="width:40%" id="sortName" onclick="getOrderbyUserList('Name', 'sortName');" class="sorting">Volunteer Name</th>
                <th style="width:20%" id="sortZipCode" onclick="getOrderbyUserList('ZipCode', 'sortZipCode');" class="sorting">ZipCode</th>
                <th style="width:20%" id="sortLikes" onclick="getOrderbyUserList('Likes', 'sortLikes');" class="sorting">Likes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vol in Model.loVolunteersList)
            {
                <tr>
                    <td>@vol.Id</td>
                    <td>@vol.Name</td>
                    <td>@vol.ZipCode</td>
                    <td>@vol.Likes</td>


                </tr>

            }
        </tbody>
    </table>


    <div class="row">
        <div class="col-xs-12 showing">
            <span>
                Page @(Model.inPageIndex) out of
                @((Model.inRecordCount + 10 - 1) / 10)
            </span>
            <div class="pull-right">
                @Html.Hidden("hdnTotalRec", @Model.inRecordCount)
                @*<ul class="pagination" style="visibility: visible;" id="Patientpaging">
                        <li class="prev disabled"><a title="Previous" href="javascript:void(0);" id="aHrefPrev" onclick="refeshList(this.id);"><i class=" fa fa-angle-left"></i> Previous</a></li>
                        <li class="next"><a title="Next" href="javascript:void(0)" id="aHrefNext" onclick="refeshList(this.id);">Next <i class="fa fa-angle-right"></i></a></li>
                    </ul>*@
                <div id="divPager"></div>
            </div>
        </div>
    </div>
}
else
{<div class="col-md-12">
        <div id="divItemListNoRecord" class="alert alert-warning row" align="center">
            <h4><i class="fa fa-warning"></i> No Record Found </h4>
        </div>
    </div>
}


<script>
    $(document).ready(function () {
        GetPager($("#hdnTotalRec").val(), $("#hdnVolunteerPageIndex").val());
    });
</script>


