﻿@model PurpicsWeb.Areas.Admin.ViewModels.Company.CompanyViewModel

<div class="col-xs-12 main-title">
    <h1 class="pull-left wrapcontent" style="max-width:950px;">@Model.LegalEntityName</h1>
    @Html.Hidden("hdnId", @Model.Id)
    <span class="pull-right">
        Status:
        @if (@Model.Status == (int)PurpicsWeb.Services.CommonFunctions.CommonEnums.UserStatus.Pending)
        {
            <strong>Waiting For Approval</strong>
        }
        else if (@Model.Status == (int)PurpicsWeb.Services.CommonFunctions.CommonEnums.UserStatus.Approved)
        {
            <strong>Approved</strong>
        }
        else
        {
            <strong>Declined</strong>
        }
    </span>
</div>
@if (TempData["SuccessMsg"] != null && TempData["SuccessMsg"].ToString() != "")
{
    <hr style="border-color:#F7F7F7 !important;" />
    <div class="alert alert-success col-xs-12" style="height:30px; padding:4px !important; margin-bottom:0px !important; margin-top:10px;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <span style="vertical-align:middle;"> @TempData["SuccessMsg"].ToString()</span>

        @{TempData["SuccessMsg"] = "";}
    </div>
}
@if (TempData["ErrorMsg"] != null && TempData["ErrorMsg"].ToString() != "")
{
    <div class="alert alert-danger col-xs-12" style="height:30px; padding:4px !important; margin-bottom:0px !important; margin-top:10px;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @TempData["ErrorMsg"].ToString()
    </div>
}
<form action="#" class="form-horizontal form-bordered">
    <div class="col-xs-12 account-main">
        <div class="compaigns-form form-horizontal left col-xs-12" id="divGeneralInfo" style="min-height:350px !important;">
            <div class="col-xs-12 padding-zero">
                <div class="form-group">
                    <label class="col-xs-12 control-label info">General Information:</label>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Username:</label>
                    <div class="col-sm-8 control-label">
                        <span>@Model.AspNetUsername</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Contact Name:</label>
                    <div class="col-sm-8 control-label wrapcontent">
                        <span>@Model.ContactPerson</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Contact Phone:</label>
                    <div class="col-sm-8 control-label">
                        <span>@Model.ContactPhone</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">About Company:</label>
                    <div class="col-sm-8 control-label wrapcontent">
                        <span>
                            @Model.About
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="compaigns-form form-horizontal right pull-right col-xs-12" id="divOtherInfo" style="min-height:350px !important;">
            <div class="col-xs-12 padding-zero">
                <div class="form-group">
                    <label class="col-xs-12 control-label info">Other Information:</label>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Legal Entity Name:</label>
                    <div class="col-sm-8 control-label wrapcontent">
                        <span>@Model.LegalEntityName</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Company Name:</label>
                    <div class="col-sm-8 control-label wrapcontent">
                        <span>@Model.CompanyName</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Company Logo:</label>
                    <div class="col-sm-8 fileimage control-label">
                        <div class="fallback phone3">
                            <img src="@Href(@System.Configuration.ConfigurationManager.AppSettings["CompanyLogo"] + @Model.LogoFilename)" id="upimg">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Company Address:</label>
                    <div class="col-sm-8 control-label wrapcontent">
                        <span>@Model.Address</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">&nbsp;</div>
        @if (Model.Status == 1)
        {
            <div class="col-xs-12 padding-zero bank-info">
                <div class="form-group pull-right agree bank">
                    <button type="submit" class="btn btn-default btn-lg active" onclick="approveCompany(); return false;" title="Approve">Approve</button>
                    <button type="submit" class="btn btn-default btn-lg active prev" onclick="confirmDecline(); return false;" title="Decline">Decline</button>
                    @*<a type="button" class="btn btn-default btn-lg active" title="Update Company" onclick="updateCompany()" href="#">Approve</a>
                    <a type="button" class="btn btn-default btn-lg active prev" title="Decline " onclick="declineCompany()"href="#">Decline</a>*@
                </div>
            </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modelDeleteCard">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size:larger;">&times;</span></button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to decline this company?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-addnew" onclick="DeleteCardClick();">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <script>

        function confirmDecline() {

            jQuery.noConflict();
            (function ($) {
                $('#modelDeleteCard').modal('show');
            }
            )(jQuery);
        }
        function DeleteCardClick() {
            jQuery.noConflict();
            (function ($) {
                $('#modelDeleteCard').modal('hide');
            }
            )(jQuery);
            if ($("#loadingbar").length === 0) {
                $("body").append("<div id='loadingbar'></div>")
                $("#divLoader").css("display", "block");
                $("#loadingbar").addClass("waiting").append($("<dt/><dd/>"));
                $("#loadingbar").width((50 + Math.random() * 30) + "%");
            }
            declineCompanyStatus();
            $("#loadingbar").width("101%").delay(200).fadeOut(400, function () {
                $(this).remove();
                $("#divLoader").css("display", "none");
            });
            //DeleteUser(id);
        }
    </script>
        }
    </div>

</form>

