﻿@model PurpicsWeb.Areas.Admin.ViewModels.Company.CompanyModel
@if (Model != null && Model.loCompanyList.Count > 0)
{
    <div class="table-responsive col-xs-12 dash-table">

        <table class="table table-bordered">
            <tr class="heading">
                @Html.Hidden("hdnPageIndex", Model.inPageIndex)
                <th id="sortID" onclick="getOrderbyCompanyList('ID', 'sortID');" class="sorting">Ref Id</th>
                <th id="sortLegalEntityName" onclick="getOrderbyCompanyList('LegalEntityName', 'sortLegalEntityName');" class="sorting">Company</th>
                <th>Active Campaigns</th>
                <th>Status</th>
            </tr>
            @foreach (var pac in Model.loCompanyList)
            {
                @*<tr style="cursor:pointer" onclick="location.href = '@(Url.Action("CompanyDetail", "ManageCompany", new { fiCompanyId = pac.Id }))'">*@
                <tr>
                    <td>@pac.Id</td>
                    @*<td>@pac.CompanyName</td>*@
                    <td><a href="@(Url.Action("CompanyDetail", "ManageCompany", new { fiCompanyId = pac.Id }))" title="Company Details" class="wrapcontent">@pac.CompanyName</a></td>
                    <td>@pac.ActiveCampaigns</td>
                    <td>
                        @if (@pac.Status == (int)PurpicsWeb.Services.CommonFunctions.CommonEnums.UserStatus.Pending)
                        {
                            <span>Waiting For Approval</span>
                        }
                        else if (@pac.Status == (int)PurpicsWeb.Services.CommonFunctions.CommonEnums.UserStatus.Approved)
                        {
                            <span>Approved</span>
                        }
                        else
                        {
                            <span>Declined</span>
                        }
                    </td>

                </tr>
            }
        </table>
    </div>
    @*<div class="">
            <div class="col-md-7 col-sm-12">
                <div class="pagination-number" style="float:right;">
                    @Html.Hidden("hdnTotalRec", @Model.inRecordCount)
                    <ul class="pagination" style="visibility: visible;" id="Patientpaging">
                        <li class="prev disabled"><a title="Previous" href="javascript:void(0);" id="aHrefPrev" onclick="refeshList(this.id);"><i class=" fa fa-angle-left"></i> Previous</a></li>
                        <li class="next"><a title="Next" href="javascript:void(0)" id="aHrefNext" onclick="refeshList(this.id);">Next <i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>*@
    if (@Model.inRecordCount > 10)
    {


        <div class="col-xs-12 showing">
            <span>
                Page @(Model.inPageIndex) out of
                @((Model.inRecordCount + 10 - 1) / 10)
            </span>
            <div class="pull-right">
                @Html.Hidden("hdnTotalRec", @Model.inRecordCount)
                @*<ul class="pagination" style="visibility: visible;" id="Patientpaging">
                    <li class="prev disabled"><a title="Previous" href="javascript:void(0);" id="aHrefPrev" class="PrevButton" onclick="refeshList(this.id);"><i class=" fa fa-angle-left"></i> Previous</a></li>
                    <li class="next"><a title="Next" href="javascript:void(0)" id="aHrefNext" class="NextButton" onclick="refeshList(this.id);">Next <i class="fa fa-angle-right"></i></a></li>
                </ul>*@
                <div id="divPager"></div>
            </div>
        </div>
    }
}
else
{
    <div id="divItemListNoRecord" class="alert alert-warning" align="center">
        <h4><i class="fa fa-warning"></i> No Record Found </h4>
    </div>
}


<script type="text/javascript">
    $(document).ready(function () {
        GetPager($("#hdnTotalRec").val(), $("#hdnPageIndex").val());
    });
</script>