﻿@model PurpicsWeb.Areas.Admin.ViewModels.Company.CompanyViewModel
@{
    ViewBag.Title = "Company Detail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<section>
    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-xs-12 breadcrumbs">
            <a href="@Url.RouteUrl("Admin_default", new { action = "", controller = "AdminDashBoard" })" title="Home/Dashboard">Home</a><i class="fa fa-angle-right"></i>
            <span>Company Detail</span>
            @*<a href="@Url.RouteUrl("Admin_default", new { action = "", controller = "ManageCompany" })" style="color:white; text-decoration:none; background-color:#EB6F25;" class="btn btn-default create pull-right" title="Back"><i class="fa fa-angle-left"></i>Back</a>*@
            @if (Request.UrlReferrer != null)
            {
                <a href="@Request.UrlReferrer" style="color:white; text-decoration:none; background-color:#EB6F25;" class="btn btn-default create pull-right" title="Back"><i class="fa fa-angle-left"></i>Back</a>
            }
            else
            {
                <a href="@Url.RouteUrl("Admin_default", new { action = "", controller = "ManageCompany" })" style="color:white; text-decoration:none; background-color:#EB6F25;" class="btn btn-default create pull-right" title="Back"><i class="fa fa-angle-left"></i>Back</a>
            }
            
        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>
        <div id="divDetails">
            @Html.Partial("_CompanyDetail", Model)
        </div>

    </div>
        <script type="text/javascript">
            var lsApproveCompany = '@Url.RouteUrl("Admin_default", new { controller = "ManageCompany", action = "approveCompany" })';
            var lsDeclineCompanyStatus = '@Url.RouteUrl("Admin_default", new { controller = "ManageCompany", action = "declineCompanyStatus" })';
        </script>
        <!-- END PAGE CONTENT BODY -->
        <!-- END CONTENT BODY -->
        <script src="@Url.Content("~/Areas/Admin/assets/scripts/CompanyDetail.js?ver=1.2")" type="text/javascript"></script>
    
</section>
<script>
    $(document).ready(function () {
        $(".menu-item a").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#A3').addClass('active');
    });
</script>