﻿@model PurpicsWeb.Areas.Admin.ViewModels.Company.CompanyModel
@{
    ViewBag.Title = "Manage Company";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<section>
    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-xs-12 breadcrumbs">
            <a href="@Url.RouteUrl("Admin_default", new { action = "", controller = "AdminDashBoard" })" title="Home/Dashboard">Home</a><i class="fa fa-angle-right"></i>
            <span>Companies</span>
        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>
        <div class="col-xs-12 main-title agree">
            <h1 class="pull-left">Companies</h1>
        </div>
        <div class="">
            <form action="#" class="form-horizontal form-bordered">
                <div class="col-md-12 searcharea">
                    <div class="col-md-7">
                        <div class="form-group" style="float:right;">
                            @Html.DropDownList("dropStatus", new List<SelectListItem>()
                                                {
                                                    new SelectListItem() { Text= "Waiting For Approval", Value = "1" },
                                                    new SelectListItem() { Text= "Approved", Value = "2" },
                                                    new SelectListItem() { Text= "Declined", Value = "3" }
                                                }, "Select Status", new { @class = "form-control", style = "width: 250px;", @onchange = "statusSearch(this.value)" })

                        </div>
                    </div>
                    <div class="col-md-4 col-xs-8" style="padding-right:0px;">
                        <div class="usersearch">
                            <input type="text" class="form-control" id="txtSearch" maxlength="100" placeholder="Search by company name ..." onkeypress="userSearch(event);">
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-2">
                        <button type="button" id="btnSearch" class="btn" style="background-color:#ee7a34;" title="Search" onclick="search();">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="companylist">
            @Html.Partial("_ManageCompany", Model)
        </div>

    </div>
    @Html.Hidden("hdnOrder", "ID ASC")
    @Html.Hidden("hdnSortingOnColumn", "sortID")
    @Html.Hidden("hdnSortingDirection", "ASC")
    @Html.Hidden("hdnStatus", "0")
    <script type="text/javascript">
        var lsgetCompanyList = '@Url.RouteUrl("Admin_default", new { controller = "ManageCompany", action = "searchCompany" })';

    </script>
    <script src="@Url.Content("~/Areas/Admin/assets/scripts/Company.js?ver=1.4")" type="text/javascript"></script>
</section>
<script>
    $(document).ready(function () {
        $(".menu-item a").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#A3').addClass('active');
    });
</script>