﻿@model PurpicsWeb.Areas.Company.Models.StudentOrganization.StudentOrganizationViewModel
<style>
    .account-main {
        height: 100% !important;
    }
     .compaigns-form form-horizontal left col-xs-12 {
        height: 100% !important;
    }
</style>
<div class="col-xs-12 main-title">
    <div class="col-sm-8 control-label wordwrap padding-zero" style="font-size:17px;">@Model.Name</div>
    @Html.Hidden("hdnId", @Model.Id)
    <span class="pull-right">
        Status:
        @if (@Model.STATUS == (int)PurpicsWeb.Services.CommonFunctions.CommonEnums.UserStatus.Pending)
        {
            <strong>Waiting For Approval</strong>
        }
        else if (@Model.STATUS == (int)PurpicsWeb.Services.CommonFunctions.CommonEnums.UserStatus.Approved)
        {
            <strong>Approved</strong>
        }
        else if (@Model.STATUS == (int)PurpicsWeb.Services.CommonFunctions.CommonEnums.UserStatus.Denied)
        {
            <strong>Declined</strong>
        }
        else
        {
            <strong>Payment Due</strong>
        }
    </span>
</div>
<form action="#" class="form-horizontal form-bordered">
    <div class="col-xs-12 account-main">
        <div class="compaigns-form form-horizontal left col-xs-12" id="divGeneralInfo">
            <div class="col-xs-12 padding-zero">
                <div class="form-group">
                    <label class="col-xs-12 control-label info" >General Information:</label>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Username:</label>
                    <div class="col-sm-8 control-label">
                        <span>@Model.AspNetUsername</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Contact Name:</label>
                    <div class="col-sm-8 control-label wrapcontent" style="overflow-wrap:break-word">
                        <span>@Model.ContactPerson</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Contact Phone:</label>
                    <div class="col-sm-8 control-label">
                        <span>@Model.ContactPhone</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="compaigns-form form-horizontal right pull-right col-xs-12" id="divOtherInfo">
            <div class="col-xs-12 padding-zero">
                <div class="form-group">
                    <label class="col-xs-12 control-label info">Other Information:</label>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Student Organization Name:</label>
                    <div class="col-sm-8 control-label wrapcontent" style="overflow-wrap:break-word">
                        <span>@Model.Name</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Student Organization Logo:</label>
                    <div class="col-sm-8 fileimage control-label">
                        <div class="fallback phone3">
                            <img src="@Href(@System.Configuration.ConfigurationManager.AppSettings["StudentOrganizationImagePath"] + @Model.LogoFileName)" id="upimg">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Address:</label>
                    <div class="col-sm-8 control-label wrapcontent" style="overflow-wrap:break-word">
                        <span>@Model.Address</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>


<script>
    $(document).ready(function () {
        var height = $('.account-main').height();
        $("#divGeneralInfo").css("cssText", "height: " + height + "px !important;");
        $("#divOtherInfo").css("cssText", "height: " + height + "px !important;");
    });
</script>