﻿@model PurpicsWeb.Areas.Admin.ViewModels.Volunteer.VolunteerModel
@if (Model != null && Model.loVolunteerList.Count > 0)
{
    <div class="table-responsive col-xs-12 dash-table">
        <table class="table table-bordered">
            <tr class="heading">
                @Html.Hidden("hdnPageIndex", Model.inPageIndex)
                <th id="sortId" onclick="getOrderbyCompanyList('Id', 'sortId');" class="sorting">Ref Id</th>
                <th id="sortName" onclick="getOrderbyCompanyList('Name', 'sortName');" class="sorting">Volunteer</th>
                <th>Instagram account</th>
                <th id="sortFollower" onclick="getOrderbyCompanyList('FollowerCount', 'sortFollower');" class="sorting">Followers</th>
                <th>Organization(s) </th>
            </tr>
            @foreach (var pac in Model.loVolunteerList)
            {
                @*<tr style="cursor:pointer" onclick="location.href = '@(Url.Action("VolunteerDetails", "ManageVolunteer", new { fiVolunteerId = pac.Id }))'">*@
                <tr>
                    <td>@pac.Id</td>
                    <td><a title="Volunteer Details" href="@(Url.Action("VolunteerDetails", "ManageVolunteer", new { fiVolunteerId = pac.Id }))">@pac.Name</a></td>
                    <td>
                        @pac.InstagramUserId
                    </td>
                    <td>
                        @if (pac.FollowerCount != null)
                        {
                            <label>@pac.FollowerCount</label>
                        }
                        else
                        {
                            <label>0</label>
                        }
                    </td>
                    <td style="text-align:left">
                        @if (pac.VolunteersSOes != null && pac.VolunteersSOes.Count() > 0)
                        {
                            foreach (var so in pac.VolunteersSOes)
                            {
                                <label>-&nbsp; @so.StudentOrganizations.Name </label>
                                <br/>
                            }
                        }
                        else
                        {
                            <label>Not available</label>
                        }
                    </td>
                </tr>
            }
            @if (Model.inTotalFolowers != null)
            {
                <tr class="heading">
                    <td></td>
                    <td></td>
                    <td style="text-align:right;">Total Number of followers: </td>
                    <td style="text-align:left;"><label> @Model.inTotalFolowers </label></td>
                    <td></td>
                </tr>
            }
        </table>
    </div>
    if (Model.inRecordCount > 10)
    {
        <div class="col-xs-12 showing">
            <span>
                Page @(Model.inPageIndex) out of
                @((Model.inRecordCount + 10 - 1) / 10)
            </span>
            <div class="pull-right">
                @Html.Hidden("hdnTotalRec", @Model.inRecordCount)
                <div id="divPager"></div>
            </div>
        </div>
    }
}
else
{
    <div id="divItemListNoRecord" class="alert alert-warning" align="center">
        <h4><i class="fa fa-warning"></i> No Record Found </h4>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        GetPager($("#hdnTotalRec").val(), $("#hdnPageIndex").val());
    });
</script>


