﻿@model PurpicsWeb.Areas.Admin.ViewModels.Volunteer.VolunteerViewModel

<div class="col-xs-12 main-title agree">
    <h1 class="pull-left">@Model.Name</h1>
</div>
@Html.Hidden("hdnId", Model.Id)
@Html.Hidden("hdnGiftId", Model.GiftCardPreference)

<div class="col-xs-12 box-main">
    <div class="box box1">
        <span class="digits col-xs-12">@Model.TotalLikes</span>
        <span class="texts col-xs-12">Total Likes</span>
    </div>
    <div class="box box2">
        <span class="digits col-xs-12">@Model.TotalRedeem</span>
        <span class="texts col-xs-12">Redeemable Points</span>
    </div>

    @*<div class="box last">
        <span class="digits t-black col-xs-12">Preferred Option: @Model.GiftCard</span>
        <span class="texts col-xs-12 agree">
            @if (Model.IsDisplaySendGiftCardButton)
            {
                <button type="submit" class="btn btn-default" onclick="sendGiftcard();">Send Gift Card & Reset</button>
            }
        </span>
    </div>*@

</div>
<div class="col-xs-12">
    <span class="active-span">Campaigns:</span>
</div>
@if (Model != null && Model.loVolunteerCampaignList != null && Model.loVolunteerCampaignList.Count > 0)
{
    <div class="table-responsive col-xs-12 dash-table">
        <table class="table table-bordered">
            <tr class="heading">
                @Html.Hidden("hdnPageIndex", 1)
                <th>Campaign</th>
                <th>Likes</th>
                <th>Redeem</th>
            </tr>
            @foreach (var pac in Model.loVolunteerCampaignList)
            {
                <tr>
                    <td class="wrapcontent" style="max-width:830px !important">@pac.Campaign</td>
                    <td>@pac.Likes</td>
                    <td>@pac.RedeemPoint</td>
                </tr>
            }
        </table>
    </div>
    <div class="col-xs-12 text-right">
        <a href="@Url.RouteUrl("Admin_default", new { action = "", controller = "ManageCampaigns" })" class="show-all" title="Show All Campaigns">Show All</a>
    </div>
}
else
{
    <div id="divItemListNoRecord" class="alert alert-warning" align="center">
        <h4><i class="fa fa-warning"></i> No Record Found </h4>
    </div>
}

<script src="@Url.Content("~/Areas/Admin/assets/scripts/VolunteerDetail.js?ver=1.1")" type="text/javascript"></script>
<script type="text/javascript">
    var lsSendGiftcard = '@Url.RouteUrl("Admin_default", new { controller = "ManageVolunteer", action = "sendGiftcard" })';
</script>