﻿@model PurpicsWeb.Areas.Admin.ViewModels.Volunteer.VolunteerModel
@{
    ViewBag.Title = "Manage Volunteer";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section>
    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-xs-12 breadcrumbs">
            <a href="@Url.RouteUrl("Admin_default", new { action = "", controller = "AdminDashBoard" })" title="Home/Dashboard">Home</a><i class="fa fa-angle-right"></i>
            <span>Volunteers</span>
        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>
        <div class="col-xs-12 main-title agree">
            <h1 class="pull-left">Volunteers</h1>
        </div>
        <div class="">
            <form action="#" class="form-horizontal form-bordered">
                <div class="col-md-12 searcharea">
                    <div class="col-md-3"></div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.SoId, Model.loSOs, new { @class = "form-control", multiple = "multiple" })
                    </div>
                    <div class="col-md-4 col-xs-8" style="padding-right:0px;">
                        <div class="usersearch">
                            <input type="text" class="form-control" id="txtSearch" maxlength="100" placeholder="Search by volunteer name ..." onkeypress="userSearch(event);">
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-2">
                        <button type="button" id="btnSearch" class="btn" style="background-color:#ee7a34;" title="Search" onclick="search();">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="companylist">
            @Html.Partial("_ManageVolunteer", Model)
        </div>
    </div>
    @Html.Hidden("hdnOrder", "Id ASC")
    @Html.Hidden("hdnSortingOnColumn", "sortId")
    @Html.Hidden("hdnSortingDirection", "ASC")
    <script type="text/javascript">
        var lsgetVolunteersList = '@Url.RouteUrl("Admin_default", new { controller = "ManageVolunteer", action = "searchVolunteer" })';

    </script>
    <script src="@Url.Content("~/Areas/Admin/assets/scripts/Volunteer.js?ver=1.2")" type="text/javascript"></script>
    @Html.Hidden("hdnSelectedSOs", "")

</section>
<script>
    $(document).ready(function () {
        $(".menu-item a").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#A6').addClass('active');

        $('#SoId').select2({
            closeOnSelect: false,
            placeholder: 'Select student organization(s)',
            allowClear: false
        });

        var soID = $('#SoId');
        $(soID).change(function () {
            var theID = [];
            $.each(soID.select2('data'), function (key, item) {
                theID.push(item.id);
            });
            $('#hdnSelectedSOs').val(theID.join(", "));
        });
    });
</script>
