﻿@model PurpicsWeb.Areas.Admin.ViewModels.DashboardModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section>
    <span id="ActiveMenu" style="display:none">A1</span>
    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-xs-12 breadcrumbs">
            <a href="#" title="Home/Dashboard">Home</a><i class="fa fa-angle-right"></i>
            <span>Dashboard</span>
        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>
        <div class="col-xs-12 main-title agree">
            <h1 class="pull-left">Dashboard</h1>
        </div>
        <div class="col-xs-12 box-main">
            <div class="box box1">
                <span class="digits col-xs-12"><a href="@Url.RouteUrl("Admin_default", new { action = "", controller = "ManageVolunteer" })" title="All Volunteers">@Model.TotalVolunteers</a></span>
                <span class="texts col-xs-12"><a href="@Url.RouteUrl("Admin_default", new { action = "", controller = "ManageVolunteer" })" title="All Volunteers">Total Volunteers</a></span>
            </div>
            <div class="box box2">
                <span class="digits col-xs-12"><a href="@Url.RouteUrl("Admin_default", new { action = "", controller = "ManageCampaigns" })" title="All Campaigns">@Model.inRecordCount</a></span>
                <span class="texts col-xs-12"><a href="@Url.RouteUrl("Admin_default", new { action = "", controller = "ManageCampaigns" })" title="All Campaigns">Active Campaigns</a></span>
            </div>
            <div class="box box3 last">
                <span class="digits col-xs-12"><a href="@Url.RouteUrl("Admin_default", new { action = "", controller = "ManageCharity" })" t title="All Charities">@Model.TotalCharities</a></span>
                <span class="texts col-xs-12"><a href="@Url.RouteUrl("Admin_default", new { action = "", controller = "ManageCharity" })" t title="All Charities">Total Charities</a></span>
            </div>
        </div>
        <div class="col-xs-12">
            <span class="active-span">Active Campaigns:</span>
        </div>
        <div class="table-responsive col-xs-12 dash-table">
            @if (Model != null && Model.loCampaignList.Count > 0)
            {
                <table class="table table-bordered">
                    <tr class="heading">
                        <th style="width:80px;">Ref Id</th>
                        <th>Campaign</th>
                        <th>Company</th>
                        <th>Charity</th>
                        <th>Likes</th>
                    </tr>

                    @foreach (var pac in Model.loCampaignList)
                    {
                        <tr>
                            <td>@pac.Id</td>
                            <td><a href="@Url.RouteUrl("Admin_default", new { action = "CampaignDetail", controller = "ManageCampaigns", fiCampaignId = pac.Id })" title="Campaign Details" , class="wrapcontent">@pac.CampaignName</a></td>
                            <td><a href="@Url.RouteUrl("Admin_default", new { action = "CompanyDetail", controller = "ManageCompany", fiCompanyId =pac.CompanyID })" title="Company Details" class="wrapcontent">@pac.Company</a> </td>
                            <td><a href="@Url.RouteUrl("Admin_default", new { action = "CharityDetail", controller = "ManageCharity", fiCharityId = pac.CharityID })" title="Charity Details" class="wrapcontent">@pac.Charity</a></td>
                            <td>@pac.Likes</td>
                        </tr>

                    }
                </table>
            }
        </div>
        <div class="col-xs-12 text-right">
            <a href="@Url.RouteUrl("Admin_default", new { action = "", controller = "ManageCampaigns" })" class="show-all" title="Show All Campaigns" id="lnkshowall_loader">Show All</a>

        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $(".menu-item a").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#A1').addClass('active');
    });
    $('a[id*=_loader]').click(function () {
        if ($("#loadingbar").length === 0) {
            $("body").append("<div id='loadingbar'></div>")
            $("#divLoader").css("display", "block");
            $("#loadingbar").addClass("waiting").append($("<dt/><dd/>"));
            $("#loadingbar").width((50 + Math.random() * 30) + "%");
        }
    });
</script>