﻿@model PurpicsWeb.Areas.Company.Models.Company.CompanyViewModel
<style>
    .account-main .compaigns-form {
        height: 100% !important;
    }

    .compaigns-form form-horizontal left col-xs-12 {
        height: 100% !important;
    }
</style>
<div class="col-xs-12 main-title">
    <h1 class="pull-left"><div style="overflow-wrap:break-word;max-width:800px">@Model.CompanyName</div></h1>
    @Html.Hidden("hdnId", @Model.Id)
    <span class="pull-right">
        Status:
        @if (@Model.Status == 1)
        {
            <strong>Waiting For Approval</strong>
        }
        else if (@Model.Status == 2)
        {
            <strong>Active</strong>
        }
        else
        {
            <strong>Decline</strong>
        }
    </span>
</div>
<form action="#" class="form-horizontal form-bordered">
    <div class="col-xs-12 account-main">
        <div class="compaigns-form form-horizontal left col-xs-12">
            <div class="col-xs-12 padding-zero">
                <div class="form-group">
                    <label class="col-xs-12 control-label info">General Information:</label>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Username:</label>
                    <div class="col-sm-8 control-label">
                        <span>@Model.AspNetUsername</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Contact Name:</label>
                    <div class="col-sm-8 control-label" style="overflow-wrap:break-word">
                        <span>@Model.ContactPerson</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Contact Phone:</label>
                    <div class="col-sm-8 control-label">
                        <span>@Model.ContactPhone</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">About Company:</label>
                    <div class="col-sm-8 control-label">
                        <span>
                            @Model.About
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="compaigns-form form-horizontal right pull-right col-xs-12">
            <div class="col-xs-12 padding-zero">
                <div class="form-group">
                    <label class="col-xs-12 control-label info">Other Information:</label>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Legal Entity Name:</label>
                    <div class="col-sm-8 control-label" style="overflow-wrap:break-word">
                        <span>@Model.LegalEntityName</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">501-C3 Number:</label>
                    <div class="col-sm-8 control-label" style="overflow-wrap:break-word">
                        <span>@Model.C501C3Number</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Company Name:</label>
                    <div class="col-sm-8 control-label" style="overflow-wrap:break-word">
                        <span>@Model.CompanyName</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Company Logo:</label>
                    <div class="col-sm-8 fileimage control-label">
                        <div class="fallback phone3">
                            <img src="@Href(@System.Configuration.ConfigurationManager.AppSettings["CompanyLogo"] + @Model.LogoFilename)" id="upimg">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Company Address:</label>
                    <div class="col-sm-8 control-label" style="overflow-wrap:break-word">
                        <span>@Model.Address</span>
                    </div>
                </div>
            </div>
        </div>

       
    </div>
</form>


