﻿@model PurpicsWeb.Areas.StudentOrganization.Models.Campaigns.CampaignsViewModel
@{
    if (ViewBag.Currentpageindex == null)
    {
        ViewBag.Currentpageindex = 1;
    }
}
<input type="hidden" id="hdnPageIndex" value="@ViewBag.Currentpageindex" />
<br />
@if (Model != null && Model.loCampaignsList.Count > 0)
{
    <table class="table table-bordered wordwrap">
        <thead>
            <tr class="heading">
                <th id="sortId" onclick="getOrderbyUserList('Id', 'sortId');" class="sorting">Ref ID</th>
                <th id="sortCaption" onclick="getOrderbyUserList('CampaignName', 'sortCaption');" class="sorting">Campaign Name</th>
                <th id="sortCharitySponsor" onclick="getOrderbyUserList('CharitySponsor', 'sortCharitySponsor');" class="sorting">Sponsor</th>
                <th id="sortLikes" onclick="getOrderbyUserList('Likes', 'sortLikes');" class="sorting">Likes</th>
                @if (@Model.IsManageDashboard == false)
                {
                    <th id="sortStatus" onclick="getOrderbyUserList('Status', 'sortStatus');" class="sorting">Status</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var campaign in Model.loCampaignsList)
            {
                <tr>
                    <td>@campaign.Id</td>
                    <td>
                        @if (@Model.IsManageDashboard == false)
                        {
                            <a href="@Url.Action("CampaignDetails", "ManageCampaign", new { Id = campaign.Id, @page = @ViewBag.Currentpageindex })" title="Campaign Details"><div style="overflow-wrap:break-word;max-width:300px">@campaign.CampaignName</div></a>
                        }
                        else
                        {
                            <a href="@Url.Action("CampaignDetails", "ManageDashboard", new { Id = campaign.Id, @page = @ViewBag.Currentpageindex })" title="Campaign Details"><div style="overflow-wrap:break-word;max-width:300px">@campaign.CampaignName</div></a>
                        }
                    </td>
                    <td>
                        <a href="@(Url.Action("CompanyDetail", "ManageCompany", new { CompanyId = @campaign.CompanyID, @page = @ViewBag.Currentpageindex }))" title="Company Details"><div style="overflow-wrap:break-word;max-width:300px">@campaign.CharitySponsor</div></a>
                    </td>
                    <td>@campaign.Likes</td>
                    @if (@Model.IsManageDashboard == false)
                    {
                        <td>@campaign.Status</td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <div class="row">

        <div class="col-xs-12 showing">
            <span>
                Page @(Model.inPageIndex) out of
                @((Model.inRecordCount + 10 - 1) / 10)
            </span>
            <div class="pull-right">
                @Html.Hidden("hdnTotalRec", @Model.inRecordCount)
                <div id="divPager"></div>
            </div>
        </div>
    </div>

}
else
{
    <br />
    <div id="divItemListNoRecord" class="alert alert-warning" align="center">
        <h4><i class="fa fa-warning"></i> No Record Found </h4>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        GetPager($("#hdnTotalRec").val(), $("#hdnPageIndex").val());
    });
</script>