﻿@model PurpicsWeb.Areas.StudentOrganization.Models.Campaigns.CampaignViewModel
@{
    ViewBag.Title = "Campaign Details";
    Layout = "~/Areas/StudentOrganization/Views/Shared/_StudentOrganizationLayout.cshtml";
}

<style>
    .account-main .compaigns-form {
        width: 100%;
        height: 100%;
    }

    .compaigns-form form-horizontal left col-xs-12 {
        height: 100% !important;
    }



    .back-button {
        background-color: #EB6F25;
        border: none;
        color: #fff;
        border-radius: 30px;
        font-size: 15px;
        font-weight: 600;
    }
</style>

@using (Html.BeginForm())
{
    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-xs-12 breadcrumbs">
            <a href="@Url.Action("", "ManageDashboard", new { area = "StudentOrganization" })" title="Home">Home</a><i class="fa fa-angle-right"></i>
            @if (@Model.IsManageDashboard == false)
            {
                <span><a href="@Url.Action("", "ManageCampaign", new { area = "StudentOrganization" })" title="Manage Campaigns">Campaigns</a></span><i class="fa fa-angle-right"></i>
            }
            else
            {
                <span><a href="@Url.Action("", "ManageDashboard", new { area = "StudentOrganization" })" title="Dashboard">Dashboard</a></span><i class="fa fa-angle-right"></i>
            }
            <span>Campaign Details</span>
        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>
        <div class="col-xs-12 main-title agree">
            <h1 class="pull-left">Campaign ID: @Html.DisplayFor(m => m.Id)</h1>
            @if (@Model.IsManageDashboard == false)
            {
                <a href="@Url.Action("", "ManageCampaign", new { area = "StudentOrganization", @CurrpageIndex = ViewBag.Currentpageindex })" style="color:white; text-decoration:none;padding: 5px 20px;" title="Back" class="btn btn-default create pull-right"><i class="fa fa-angle-left"></i>Back</a>
            }
            else
            {
                <a href="@Url.Action("", "ManageDashboard", new { area = "StudentOrganization", @CurrpageIndex = ViewBag.Currentpageindex })" style="color:white; text-decoration:none;padding: 5px 20px;" title="Back" class="btn btn-default create pull-right"><i class="fa fa-angle-left"></i>Back</a>
            }
        </div>
        <div class="col-xs-12 account-main compaigns-details">
            <div class="compaigns-form form-horizontal col-xs-12">
                <div class="col-xs-12 padding-zero">
                    <div class="form-group">
                        <label class="col-sm-2  control-label">Target Package:</label>
                        <div class="col-sm-10 control-label">
                            <span>@Html.DisplayFor(m => m.Likes) / @Html.DisplayFor(m => m.PackageLikes) Likes for $@Html.DisplayFor(m => m.PackagePrice)</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Image:</label>
                        <div class="col-sm-9 fileimage control-label">
                            <div class="fallback phone3">
                                <img src="@Model.ImageFile" id="imgCampaignImage" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Campaign Name:</label>
                        <div class="col-sm-10 control-label wrapcontent" style="overflow-wrap:break-word; max-width: 800px !important">
                            @Html.DisplayFor(m => m.CampaignName)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Caption:</label>
                        <div class="col-sm-10 control-label wrapcontent" style="overflow-wrap:break-word; max-width: 800px !important">
                            @Html.DisplayFor(m => m.Caption)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description:</label>
                        <div class="col-sm-10 control-label wrapcontent" style="overflow-wrap:break-word; max-width: 800px !important">
                            @Html.DisplayFor(m => m.Description)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Coupon Details:</label>
                        <div class="col-sm-9 fileimage control-label">
                            <div class="phone3">
                                <img src="@Model.CampaignCouponImageFile" id="imgCampaignDetailsImage" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Coupon Expiry Date:</label>
                        <div class="col-sm-10 control-label">
                            @Html.DisplayFor(m => m.ExpirationDate)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Coupon Title:</label>
                        <div class="col-sm-10 control-label wrapcontent" style="overflow-wrap:break-word; max-width: 800px !important">
                            @Html.DisplayFor(m => m.CouponTitle)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Coupon Description:</label>
                        <div class="col-sm-10 control-label wrapcontent" style="overflow-wrap:break-word; max-width: 800px !important">
                            @Html.DisplayFor(m => m.CouponDescription)
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $(".menu-item a").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#A2').addClass('active');

        $('.dashboard-menu').height($(document).height());
    });
</script>
