﻿@model PurpicsWeb.Areas.StudentOrganization.Models.Campaigns.CampaignsViewModel
@{
    ViewBag.Title = "Campaigns";
    Layout = "~/Areas/StudentOrganization/Views/Shared/_StudentOrganizationLayout.cshtml";
}

<section>
    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-xs-12 breadcrumbs">
            <a href="@Url.Action("", "ManageDashboard", new { area = "StudentOrganization" })" title="Home">Home</a><i class="fa fa-angle-right"></i>
            <span>Campaigns</span>
        </div>
        <div class="col-xs-12 padding-zero">
            <hr />
        </div>
        <div class="col-xs-12 main-title agree">
            <h1 class="pull-left">Campaigns</h1>
        </div>
        <form action="#" class="form-horizontal form-bordered">
            @if (Model != null && Model.loCampaignsList.Count > 0)
            { <div class="col-md-12 searcharea" style="padding-top:10px;">
                <div class="col-md-7">
                    <div class="form-group" style="float:right; display:none">
                        @Html.DropDownList("dropStatus", new List<SelectListItem>()
                                                {
                                                    new SelectListItem() { Text= "Waiting For Approval", Value = "1" },
                                                    new SelectListItem() { Text= "Approved", Value = "2" },
                                                    new SelectListItem() { Text= "Declined", Value = "3" }
                                                }, "Select Status", new { @class = "form-control", style = "width: 250px;", @onchange = "statusSearch(this.value)" })

                    </div>

                </div>
                <div class="col-md-4 col-xs-8" style="padding-right:0px;">
                    <div class="usersearch">
                        <input type="text" class="form-control" id="txtSearch" maxlength="100" placeholder="Search by Campaign name ..." onkeypress="userSearch(event);">
                    </div>
                </div>
                <div class="col-md-1 col-xs-2" style="padding-left:10px;">
                    <button type="button" id="btnSearch" class="btn" style="background-color:#ee7a34;" title="Search" onclick="search();">Search</button>
                    @*<button type="button" id="btnClear" class="btn blue darkblue" title="Clear" onclick="clearsearch();">Clear</button>*@
                </div>
            </div>
            }
        </form>

    </div>
    <div class="col-md-9 col-sm-8 col-xs-12 padding-zero">
        <div class="col-md-12">

            <div id="Campaignslist">
                @Html.Partial("~/Areas/StudentOrganization/Views/Campaigns/_ManageCampaign.cshtml", Model)
            </div>

        </div>
    </div>
    @Html.Hidden("hdnOrder", "Id ASC")
    @Html.Hidden("hdnSortingOnColumn", "sortId")
    @Html.Hidden("hdnSortingDirection", "ASC")
    @Html.Hidden("hdnStatus", "0")

    <script type="text/javascript">

        var lsgetUserList = '@Url.RouteUrl("StudentOrganization_default", new { controller = "ManageCampaign", action = "searchCampaigns" })';
        var lsGetUserUrl = "@Url.RouteUrl("StudentOrganization_default", new { controller = "ManageCampaign", action = "" })";

    </script>


    <script src="@Url.Content("~/Areas/StudentOrganization/Scripts/Campaigns.js?ver=1.1")" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $(".menu-item a").removeClass("active");//this will remove the active class from
            //previously active menu item
            $('#A2').addClass('active');
        });
    </script>

</section>
